################################
## Houston NetworkPolicy
################################
{{- if .Values.global.networkPolicy.enabled }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ .Release.Name }}-houston-policy
  labels:
    tier: astronomer
    component: houston-policy
    release: {{ .Release.Name }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    heritage: {{ .Release.Service }}
spec:
  podSelector:
    matchLabels:
      tier: astronomer
      component: houston
      release: {{ .Release.Name }}
  policyTypes:
  - Ingress
  ingress:
  - from:
    {{- if .Values.global.authSidecar.enabled  }}
    - namespaceSelector:
        matchLabels:
          network.openshift.io/policy-group: ingress
    {{- else }}
    - podSelector:
        matchLabels:
          tier: nginx
          component: ingress-controller
          release: {{ .Release.Name }}
    {{- end }}
    - podSelector:
        matchLabels:
          tier: astronomer
          component: houston-populate-hourly-ta-metrics
          release: {{ .Release.Name }}
    - podSelector:
        matchLabels:
          tier: astronomer
          component: houston-cleanup-airflow-db
          release: {{ .Release.Name }}
    - podSelector:
        matchLabels:
          tier: monitoring
          component: prometheus
          release: {{ .Release.Name }}
    - podSelector:
        matchLabels:
          tier: astronomer
          component: registry
          release: {{ .Release.Name }}
    - podSelector:
        matchLabels:
          tier: monitoring
          component: alertmanager
          release: {{ .Release.Name }}
    - podSelector:
        matchLabels:
          tier: elasticsearch
          component: es-ingress-controller
          release: {{ .Release.Name }}
    {{- if .Values.global.customLogging.enabled  }}
    - podSelector:
        matchLabels:
          tier: external-logging
          component: external-es-proxy
          release: {{ .Release.Name }}
    {{- end }}
    ports:
    - protocol: TCP
      port: {{ .Values.ports.houstonHTTP }}
{{- end }}
