################################
## Houston Bootstrap Secrets
#################################
{{- if and (not .Values.houston.backendSecretName) (not .Values.houston.backendConnection) }}
kind: Secret
apiVersion: v1
metadata:
  name: {{ template "houston.backendSecret" . }}
  labels:
    release: {{ .Release.Name }}
    chart: {{ .Chart.Name }}
    heritage: {{ .Release.Service }}
    component: {{ template "houston.backendSecret" . }}
    {{ if .Values.global.enableArgoCDAnnotation }}
  annotations:
    argocd.argoproj.io/sync-wave: "-1"
  {{- end }}
type: Opaque
data:
  {{- if .Values.houston.backendSecretConnection }}
  # in prisma1 has hardcoded schema, so for now to migrate to prisma2 we need to hardcode it too.
  connection: {{ (printf "postgresql://%s:%s@%s:%s/%s?schema=houston%24default" .Values.houston.backendConnection.user .Values.houston.backendConnection.pass .Values.houston.backendConnection.host (.Values.houston.backendConnection.port | toString) .Values.houston.backendConnection.db) | b64enc | quote }}
  {{- else }}
  connection: {{ randAlphaNum 5 | b64enc | quote }}
  {{- end }}
{{- end }}
