################################
## Pgbouncer Config Secret
#################################
{{- if .Values.pgbouncer.enabled }}
kind: Secret
apiVersion: v1
metadata:
  name: {{ template "pgbouncer_config_secret" . }}
  labels:
    release: {{ .Release.Name }}
    workspace: {{ .Values.platform.workspace | quote }}
    chart: {{ .Chart.Name }}
    heritage: {{ .Release.Service }}
type: Opaque
data:
  pgbouncer.ini: {{ include "pgbouncer_config" . | b64enc }}
  users.txt: {{ include "pgbouncer_users" . | b64enc }}
{{- end }}
