############################
## Fluentd ServiceAccount ##
############################
{{- if (eq .Values.global.logging.collector "fluentd") }}
{{- if and .Values.serviceAccount.create .Values.global.rbacEnabled }}
{{- if or (eq .Values.global.plane.mode "data") (eq .Values.global.plane.mode "unified") }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ template "fluentd.serviceAccountName" . }}
  labels:
    tier: logging
    component: {{ template "fluentd.name" . }}
    chart: {{ template "fluentd.chart" . }}
    heritage: {{ .Release.Service }}
    release: {{ .Release.Name }}
  annotations:
{{- if .Values.serviceAccountAnnotations }}
{{- toYaml (.Values.serviceAccountAnnotations) | indent 4 }}
{{- end -}}
{{- if .Values.serviceAccount.annotations }}
{{- toYaml (.Values.serviceAccount.annotations) | nindent 4 }}
{{- end -}}
{{- end -}}
{{- end -}}
{{- end -}}
