################################
## Fluentd NetworkPolicy
################################
{{- if (eq .Values.global.logging.collector "fluentd") }}
{{- if .Values.global.networkPolicy.enabled }}
{{- if or (eq .Values.global.plane.mode "data") (eq .Values.global.plane.mode "unified") }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ template "fluentd.fullname" . }}-policy
  labels:
    tier: logging
    component: {{ template "fluentd.name" . }}
    chart: {{ template "fluentd.chart" . }}
    heritage: {{ .Release.Service }}
    release: {{ .Release.Name }}
spec:
  podSelector:
    matchLabels:
      tier: logging
      component: {{ template "fluentd.name" . }}
      release: {{ .Release.Name }}
  policyTypes:
  - Ingress
  ingress:
  - from:
    - podSelector:
        matchLabels:
          tier: monitoring
          component: prometheus
          release: {{ .Release.Name }}
    ports:
    - protocol: TCP
      port: {{ .Values.ports.promScrape }}
{{- end -}}
{{- end -}}
{{- end -}}
