################################
## Fluentd PSP ClusterRole
################################
{{- if .Values.global.pspEnabled }}
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ .Release.Name }}-psp-fluentd
rules:
- apiGroups:
  - policy
  resources:
  - podsecuritypolicies
  resourceNames:
  - {{ .Release.Name }}-fluentd
  verbs:
  - use
{{- end -}}
