################################
## Fluentd PSP ClusterRole
################################
{{- if .Values.global.pspEnabled }}
kind: ClusterRole
apiVersion: {{ template "apiVersion.rbac" . }}
metadata:
  name: {{ .Release.Name }}-psp-fluentd
rules:
- apiGroups:
  - policy
  resources:
  - podsecuritypolicies
  resourceNames:
  - {{ .Release.Name }}-fluentd
  verbs:
  - use
{{- end -}}
