#########################
## Fluentd ClusterRole ##
#########################
{{- if (eq .Values.global.logging.collector "fluentd") }}
{{- if .Values.global.rbacEnabled }}
{{- if or (eq .Values.global.plane.mode "data") (eq .Values.global.plane.mode "unified") }}
kind: ClusterRole
apiVersion: {{ template "apiVersion.rbac" . }}
metadata:
  name: {{ template "fluentd.fullname" . }}
  labels:
    tier: logging
    component: {{ template "fluentd.name" . }}
    chart: {{ template "fluentd.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
rules:
- apiGroups:
  - ""
  resources:
  - "namespaces"
  - "pods"
  verbs:
  - "get"
  - "watch"
  - "list"
{{- end -}}
{{- end -}}
{{- end -}}
