# Default values for kube-state.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

nodeSelector: {}
affinity: {}
tolerations: []

images:
  kubeState:
    repository: quay.io/astronomer/ap-kube-state
    tag: 2.10.1
    pullPolicy: IfNotPresent

securityContext:
  runAsNonRoot: true

env: {}
resources:
  limits:
   cpu: 100m
   memory: 256Mi
  requests:
   cpu: 100m
   memory: 256Mi

ports:
  scrape: 8080
  telemetry: 8081

replicas: 1

extraArgs:
- "--metric-labels-allowlist=namespaces=[*],pods=[*]"

priorityClassName: ~

collectors:
  #- certificatesigningrequests
  #- daemonsets
  #- mutatingwebhookconfigurations
  #- leases
  #- namespaces
  #- nodes
  #- persistentvolumes
  #- storageclasses
  #- validatingwebhookconfigurations
  #- volumeattachments
  - configmaps
  - cronjobs
  - deployments
  - endpoints
  - horizontalpodautoscalers
  - ingresses
  - jobs
  - limitranges
  - networkpolicies
  - persistentvolumeclaims
  - poddisruptionbudgets
  - pods
  - replicasets
  - replicationcontrollers
  - resourcequotas
  - secrets
  - services
  - statefulsets
