####################################
## Elasticsearch Exporter Service ##
####################################
{{- if or (eq .Values.global.plane.mode "data") (eq .Values.global.plane.mode "unified") }}
kind: Service
apiVersion: v1
metadata:
  name: {{ template "elasticsearch.fullname" . }}-exporter
  labels:
    tier: logging
    component: {{ template "elasticsearch.name" . }}-exporter
    chart: {{ template "elasticsearch.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
    role: exporter
    plane: {{ .Values.global.plane.mode }}
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: {{ .Values.exporter.service.httpPort | quote }}
spec:
  type: {{ .Values.exporter.service.type }}
  ports:
    - name: http
      port: {{ .Values.exporter.service.httpPort }}
      protocol: TCP
      appProtocol: http
  selector:
    component: {{ template "elasticsearch.name" . }}-exporter
    release: {{ .Release.Name }}
    role: exporter
{{- end }}
