#######################################
## Elasticsearch Exporter NetworkPolicy
#######################################
{{- if and .Values.global.networkPolicy.enabled }}
{{- if or (eq .Values.global.plane.mode "data") (eq .Values.global.plane.mode "unified") }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ template "elasticsearch.fullname" . }}-exporter-policy
  labels:
    tier: logging
    component: {{ template "elasticsearch.name" . }}-exporter-policy
    chart: {{ template "elasticsearch.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
    role: exporter
    plane: {{ .Values.global.plane.mode }}
spec:
  podSelector:
    matchLabels:
      tier: logging
      component: {{ template "elasticsearch.name" . }}-exporter
      release: {{ .Release.Name }}
      role: exporter
  policyTypes:
  - Ingress
  ingress:
  - from:
    - podSelector:
        matchLabels:
          tier: monitoring
          component: prometheus
          release: {{ .Release.Name }}
    ports:
    - protocol: TCP
      port: {{ .Values.exporter.service.httpPort }}
{{- end }}
{{- end }}
