#######################################
## Elasticsearch Exporter Deployment ##
#######################################
{{- if or (eq .Values.global.plane.mode "data") (eq .Values.global.plane.mode "unified") }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "elasticsearch.fullname" . }}-exporter
  labels:
    tier: logging
    component: {{ template "elasticsearch.name" . }}-exporter
    chart: {{ template "elasticsearch.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
    role: exporter
    plane: {{ .Values.global.plane.mode }}
spec:
  replicas: {{ .Values.exporter.replicas }}
  selector:
    matchLabels:
      tier: logging
      component: {{ template "elasticsearch.name" . }}-exporter
      release: {{ .Release.Name }}
      role: exporter
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
    type: RollingUpdate
  template:
    metadata:
      labels:
        tier: logging
        component: {{ template "elasticsearch.name" . }}-exporter
        release: {{ .Release.Name }}
        role: exporter
        app: {{ template "elasticsearch.name" . }}-exporter
        version: {{ .Chart.Version }}
        {{- include "global.podLabels" . | nindent 8 }}
{{- if or .Values.common.podAnnotations .Values.exporter.podAnnotations .Values.global.podAnnotations }}
      annotations:
      {{- if .Values.global.podAnnotations }}
      {{- toYaml .Values.global.podAnnotations | nindent 8 }}
      {{- end }}
      {{- if .Values.common.podAnnotations }}
      {{- toYaml .Values.common.podAnnotations | nindent 8 }}
      {{- end }}
      {{- if .Values.exporter.podAnnotations }}
      {{- toYaml .Values.exporter.podAnnotations | nindent 8 }}
      {{- end }}
{{- end }}
    spec:
      serviceAccountName: {{ template "elasticsearch.serviceAccountName" . }}
      nodeSelector: {{- toYaml (default .Values.global.platformNodePool.nodeSelector .Values.nodeSelector) | nindent 8 }}
      affinity: {{- toYaml (default .Values.global.platformNodePool.affinity .Values.affinity) | nindent 8 }}
      tolerations: {{- toYaml (default .Values.global.platformNodePool.tolerations .Values.tolerations) | nindent 8 }}
      restartPolicy: {{ .Values.exporter.restartPolicy }}
      securityContext: {{- toYaml .Values.exporter.podSecurityContext | nindent 8 }}
      {{- include "elasticsearch.imagePullSecrets" . | nindent 6 }}
      containers:
        - name: metrics-exporter
          image: {{ template "exporter.image" . }}
          imagePullPolicy: {{ .Values.images.exporter.pullPolicy }}
          command: ["elasticsearch_exporter",
                    "--es.uri=http://{{ .Release.Name }}-elasticsearch:{{ .Values.common.ports.http }}",
                    "--es.all",
                    "--es.indices",
                    "--es.timeout={{ .Values.exporter.es.timeout }}",
                    "--web.listen-address=:{{ .Values.exporter.service.httpPort }}",
                    "--web.telemetry-path={{ .Values.exporter.web.path }}"]

          securityContext:
            {{- $required := dict "readOnlyRootFilesystem" true }}
            {{- merge $required .Values.exporter.securityContext | toYaml | nindent 12 }}
          resources: {{- toYaml .Values.exporter.resources | nindent 12 }}
          ports:
            - containerPort: {{ .Values.exporter.service.httpPort }}
              name: http
          {{- if .Values.exporter.livenessProbe }}
          livenessProbe: {{ tpl (toYaml .Values.exporter.livenessProbe) . | nindent 12 }}
          {{- else }}
          livenessProbe:
            httpGet:
              path: /healthz
              port: http
            initialDelaySeconds: 30
            timeoutSeconds: 10
          {{- end }}
          {{- if .Values.exporter.readinessProbe }}
          readinessProbe: {{ tpl (toYaml .Values.exporter.readinessProbe) . | nindent 12 }}
          {{- else }}
          readinessProbe:
            httpGet:
              path: /healthz
              port: http
            initialDelaySeconds: 10
            timeoutSeconds: 10
          {{- end }}
{{- end }}
