################################
## Elasticsearch Exporter Deployment
#################################
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "fullname" . }}-exporter
  labels:
    tier: logging
    component: {{ template "name" . }}-exporter
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
    role: exporter
spec:
  replicas: {{ .Values.exporter.replicas }}
  selector:
    matchLabels:
      tier: logging
      component: {{ template "name" . }}-exporter
      release: {{ .Release.Name }}
      role: exporter
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
    type: RollingUpdate
  template:
    metadata:
      labels:
        tier: logging
        component: {{ template "name" . }}-exporter
        release: {{ .Release.Name }}
        role: exporter
    spec:
      restartPolicy: {{ .Values.exporter.restartPolicy }}
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
      containers:
        - name: {{ .Chart.Name }}
          image: {{ template "exporter.image" . }}
          imagePullPolicy: {{ .Values.images.exporter.pullPolicy }}
          command: ["elasticsearch_exporter",
                    "-es.uri=http://{{ .Release.Name }}-elasticsearch:{{ .Values.common.ports.http }}",
                    "-es.all={{ .Values.exporter.es.all }}",
                    "-es.indices={{ .Values.exporter.es.indices }}",
                    "-es.timeout={{ .Values.exporter.es.timeout }}",
                    "-web.listen-address=:{{ .Values.exporter.service.httpPort }}",
                    "-web.telemetry-path={{ .Values.exporter.web.path }}"]
          securityContext:
            capabilities:
              drop:
                - SETPCAP
                - MKNOD
                - AUDIT_WRITE
                - CHOWN
                - NET_RAW
                - DAC_OVERRIDE
                - FOWNER
                - FSETID
                - KILL
                - SETGID
                - SETUID
                - NET_BIND_SERVICE
                - SYS_CHROOT
                - SETFCAP
            readOnlyRootFilesystem: true
          resources:
{{ toYaml .Values.exporter.resources | indent 12 }}
          ports:
            - containerPort: {{ .Values.exporter.service.httpPort }}
              name: http
          livenessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 30
            timeoutSeconds: 10
          livenessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 10
            timeoutSeconds: 10
