.DS_Store
*.key
config.yaml
config.yml
dev-config.yaml
!.circleci/config.yml
**kubeconfig**
certs
/secrets
test-*
__pycache__

# IDEs
.idea/
.vscode/

repository
letsencrypt*
backup
dev-account.json
*.swp
# Chart dependencies
**/charts/*.tgz
*.tgz
# ignore local ssl files
*.pem
temp.sh

/venv/
**pycache**
server.key
upgrade_test_config.yaml
