!.circleci/config.yml
**/charts/*.tgz
**kubeconfig**
**pycache**
*.key
*.pem
*.swp
*.tgz
.DS_Store
.idea/
.python-version
.unittest-requirements
.vscode/
/secrets
/venv/
__pycache__
backup
certs
config.yaml
config.yml
dev-account.json
dev-config.yaml
letsencrypt*
prof
repo_state.log
repository
server.key
temp.sh
test-*
upgrade_test_config.yaml
