.DS_Store
config.yaml
config.yml
dev-config.yaml
!.circleci/config.yml
**kubeconfig**
certs
/secrets

# IDEs
.idea/
.vscode/

repository
letsencrypt*
backup
dev-account.json
*.swp
# Chart dependencies
**/charts/*.tgz
*.tgz
# ignore local ssl files
*.pem
temp.sh

/venv/
**pycache**
server.key
