# Patterns to ignore when building packages.
# This supports shell glob matching, relative path matching, and
# negation (prefixed with !). Only one pattern per line.
# https://helm.sh/docs/chart_template_guide/helm_ignore_file/

# Common VCS dirs
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/

# Common backup files
*.swp
*.bak
*.tmp
*~

# Various IDEs
.project
.idea/
*.tmproj

# Certificate files
*.crt
*.csr
*.key
*.pem

# Astronomer helm repository directory
*.tgz
.DS_Store
.pytest_cache
/.circleci
/.github
/.pre-commit-config.yaml
/.unittest-requirements
/CODEOWNERS
/Makefile
/bin
/certs
/charts/*/tests
/configs
/docs
/repository
/requirements
/secrets
/test
/tests
/tiller-rbac
/values.schema.json.example
/venv
__pycache__
