*.bak
*.crt
*.csr
*.key
*.pem
*.swp
*.tgz
*.tmp
*.tmproj
*~
.bzr/
.bzrignore
.DS_Store
.git/
.gitignore
.hg/
.hgignore
.idea/
.project
.pytest_cache
.svn/
.venv*
/.circleci
/.github
/.pre-commit-config.yaml
/.unittest-requirements
/bin
/certs
/CODEOWNERS
/configs
/docs
/Makefile
/repository
/requirements
/secrets
/test
/tests
/tiller-rbac
/values.schema.json.example
/venv
__pycache__
test-results/junit.xml
