*.bak
*.crt
*.csr
*.key
*.pem
*.swp
*.tgz
*.tmp
*.tmproj
*~
.*_cache
.DS_Store
.bzr/
.bzrignore
.git/
.gitignore
.hg/
.hgignore
.idea/
.project
.pytest_cache
.svn/
.venv*
/.circleci
/.github
/.pre-commit-config.yaml
/.unittest-requirements
/CODEOWNERS
/Makefile
/bin
/certs
/configs
/docs
/repository
/requirements
/secrets
/test
/tests
/tiller-rbac
/values.schema.json.example
__pycache__
prof
test-results
venv*
