---
exclude: '(venv|\.vscode|tests/k8s_schema|tests/chart_tests/test_data)' # regex
repos:
  - repo: local
    hooks:
      - id: check-image-tags
        language: python
        additional_dependencies: ["jinja2", "PyYAML"]
        name: Ensure unique tags per image
        entry: python3
        args: ["bin/show-docker-images.py", "--private-registry", "--with-houston", "-c"]
        files: '(config.yml|config.yml.j2|generate_circleci_config.py|yaml|tpl)$'
        pass_filenames: false
      - id: circle-config-yaml
        language: python
        additional_dependencies: ["jinja2", "PyYAML"]
        name: Checks for consistency between config.yml and config.yml.j2
        entry: bin/generate_circleci_config.py
        files: '(config.yml|config.yml.j2|generate_circleci_config.py|yaml|tpl)$'
        pass_filenames: false
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        args: ["-L", "AKS,aks,showIn"]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: remove-tabs
        exclude_types: [makefile, binary]
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.6.4"
    hooks:
      - id: ruff
        args:
          - "--fix"
          - "--exit-non-zero-on-fix"
          # - "--unsafe-fixes"
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-toml
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
        exclude: 'charts|templates\/.*\.yaml'
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: file-contents-sorter
        args: ["--ignore-case", "--unique"]
        files: '^\.(git|helm)ignore$'
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: requirements-txt-fixer
        args: [
            "requirements/chart-tests.in",
            "requirements/chart-tests.txt",
            "requirements/functional-tests.in",
            "requirements/functional-tests.txt",
          ]
      - id: sort-simple-yaml
      - id: trailing-whitespace
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
  - repo: https://github.com/astronomer/pre-commit-hooks
    rev: 8b2d969bd549cd7c9454cc8bb54eec5b35c2e5e6
    hooks:
      - id: CVE-2017-18342
      - id: remove-unicode-zero-width-non-breaking-spaces
      - id: remove-unicode-zero-width-space
      - id: replace-en-dashes
        exclude: 'bin/kind/.*'
      - id: replace-greek-question-mark
      - id: replace-unicode-non-breaking-spaces
