---
exclude: '(venv|\.vscode)' # regex
repos:
  - repo: local
    hooks:
      - id: circle-config-yaml
        name: Checks for consistency between config.yml and config.yml.j2
        language: python
        files: "config.yml$|config.yml.j2|generate_circleci_config.py$|\/values.yaml$"
        entry: .circleci/generate_circleci_config.py
        additional_dependencies: ["jinja2"]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
      - id: codespell
        args: ["-L", "AKS,aks"]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.3.1
    hooks:
      - id: remove-tabs
        exclude_types: [makefile, binary]
  - repo: https://github.com/psf/black
    rev: 22.8.0
    hooks:
      - id: black
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.37.3
    hooks:
      - id: pyupgrade
        args: ["--py38-plus"]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-toml
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
        exclude: 'charts|templates\/.*\.yaml'
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: requirements-txt-fixer
        args:
          [
            "requirements/chart-tests.in",
            "requirements/chart-tests.txt",
            "requirements/functional-tests.in",
            "requirements/functional-tests.txt",
          ]
      - id: sort-simple-yaml
      - id: trailing-whitespace
  - repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
        args:
          - --ignore=E501,W503
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.8.0.4
    hooks:
      - id: shellcheck
