##########################################
## Db migration Pre install/update Hook ##
##########################################
apiVersion: {{ include "apiVersion.batch" . }}
kind: Job
metadata:
  name: {{ .Release.Name }}-houston-db-migrations
  labels:
    tier: astronomer
    component: houston-db-migrations
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
  annotations:
    # This is what defines this resource as a hook. Without this line, the
    # job is considered part of the release.
    "helm.sh/hook": pre-upgrade,post-install
    "helm.sh/hook-delete-policy": before-hook-creation
spec:
  template:
    metadata:
      labels:
        tier: astronomer
        component: houston-db-migrations
        release: {{ .Release.Name }}
        app: houston-db-migrations
        version: {{ .Chart.Version }}
        {{- include "global.podLabels" . | nindent 8 }}
      {{- if or .Values.global.podAnnotations .Values.global.istio.enabled }}
      annotations:
        {{- if .Values.global.istio.enabled }}
          sidecar.istio.io/inject: "false"
        {{- end }}
        {{- if .Values.global.podAnnotations }}
{{ toYaml .Values.global.podAnnotations | indent 8 }}
          {{- end }}
      {{- end }}
    spec:
      nodeSelector:
{{ toYaml (default .Values.global.platformNodePool.nodeSelector .Values.nodeSelector) | indent 8 }}
      affinity:
{{ toYaml (default .Values.global.platformNodePool.affinity .Values.affinity) | indent 8 }}
      tolerations:
{{ toYaml (default .Values.global.platformNodePool.tolerations .Values.tolerations) | indent 8 }}
      restartPolicy: Never
      serviceAccountName: {{ template "houston.bootstrapperServiceAccountName" . }}
      securityContext: {{ toYaml .Values.houston.podSecurityContext | nindent 12 }}
      {{- if and (not .Values.houston.airflowBackendSecretName) (not .Values.houston.airflowBackendConnection) (not .Values.houston.backendSecretName) (not .Values.houston.backendConnection) }}
      initContainers:
        - name: wait-for-db
          image: {{ template "houston.image" . }}
          imagePullPolicy: {{ .Values.images.houston.pullPolicy }}
          securityContext: {{ toYaml .Values.securityContext | nindent 12 }}
          resources: {{ toYaml .Values.houston.resources | nindent 12 }}
          command:
            - "/houston/bin/entrypoint"
          args:
            - "echo"
            - "DB ready"
          env:
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: astronomer-bootstrap
                  key: connection
            {{- include "houston_environment" . | indent 12 }}
        - name: houston-bootstrapper
          image: {{ template "dbBootstrapper.image" . }}
          imagePullPolicy: {{ .Values.images.dbBootstrapper.pullPolicy }}
          securityContext: {{ toYaml .Values.securityContext | nindent 12 }}
          resources: {{ toYaml .Values.houston.resources | nindent 12 }}
          env:
            - name: BOOTSTRAP_DB
              valueFrom:
                secretKeyRef:
                  name: astronomer-bootstrap
                  key: connection
            # we need to hardcode it to be able to upgrade from prisma1 to prisma2
            - name: SCHEMA_NAME
              value: "houston$default"
            {{ if .Values.global.ssl.enabled }}
            - name: SSLMODE
              value: {{ .Values.global.ssl.mode }}
            {{- end }}
            # Connection Limit for Prisma Connection Pool: https://www.prisma.io/docs/concepts/components/prisma-client/deployment#database-connection-limit
            {{ if .Values.houston.prismaConnectionLimit }}
            - name: PRISMA_CONNECTION_LIMIT
              value: {{ .Values.houston.prismaConnectionLimit | quote }}
            {{ end }}
            - name: DB_NAME
              value: {{ .Release.Name }}-houston
            - name: SECRET_NAME
              value: {{ template "houston.airflowBackendSecret" . }}
            - name: NAMESPACE
              value: {{ .Release.Namespace }}
            - name: IN_CLUSTER
              value: "true"
      {{- end }}
{{- include "astronomer.imagePullSecrets" . | indent 6 }}
      containers:
        - name: houston-db-migrations-job
          image: {{ template "houston.image" . }}
          imagePullPolicy: {{ .Values.images.houston.pullPolicy }}
          args: ["yarn", "migrate"]
          securityContext: {{ toYaml .Values.securityContext | nindent 12 }}
          resources: {{ toYaml .Values.houston.resources | nindent 12 }}
          volumeMounts:
          {{- include "houston_volume_mounts" . | indent 12 }}
          {{- include "custom_ca_volume_mounts" . | indent 12 }}
          env:
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: {{ template "houston.backendSecret" . }}
                  key: connection
            {{- include "houston_environment" . | indent 12 }}
          {{- if .Values.houston.dbMigration.readinessProbe }}
          readinessProbe: {{ tpl (toYaml .Values.houston.dbMigration.readinessProbe) . | nindent 12 }}
          {{- end }}
          {{- if .Values.houston.dbMigration.livenessProbe }}
          livenessProbe: {{ tpl (toYaml .Values.houston.dbMigration.livenessProbe) . | nindent 12 }}
          {{- end }}
      volumes:
        {{- include "houston_volumes" . | indent 8 }}
        {{- include "custom_ca_volumes" . | indent 8 }}
