{{- define "blackbox.kibanaNetPol" }}
{{- if gt (.Capabilities.KubeVersion.Minor | atoi) 15 }}
apiVersion: networking.k8s.io/v1
{{- else }}
apiVersion: extensions/v1beta1
{{- end }}
# apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  labels:
    release: {{ .Release.Name}}
    tier: monitoring
  name: blackbox-kibana-policy
  namespace: {{ .Release.Namespace}}
spec:
  ingress:
  - from:
    - podSelector:
        matchLabels:
          component: blackbox-exporter
          release: {{ .Release.Name}}
          tier: monitoring
    ports:
    - port: 5601 
      protocol: TCP
  podSelector:
    matchLabels:
      component: kibana
      release: {{ .Release.Name}}
      tier: logging
  policyTypes:
  - Ingress
{{- end }}