{{- if (eq .Values.kind "Deployment") }}
apiVersion: {{ template "apiVersion.Deployment" . }}
kind: Deployment
metadata:
  name: {{ template "prometheus-blackbox-exporter.fullname" . }}
  labels:
    component: blackbox-exporter
    release: {{ .Release.Name }}
    tier: monitoring
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      component: blackbox-exporter
      release: {{ .Release.Name }}
  strategy:
{{ toYaml .Values.strategy | indent 4 }}
  template:
    metadata:
      labels:
        component: blackbox-exporter
        release: {{ .Release.Name }}
        tier: monitoring
        app: {{ template "prometheus-blackbox-exporter.name" . }}
        version: {{ .Chart.Version }}
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
        {{- if .Values.podAnnotations }}
{{ toYaml .Values.podAnnotations | indent 8 }}
        {{- end }}
    spec:
    {{- if .Values.nodeSelector }}
      nodeSelector:
{{ toYaml .Values.nodeSelector | indent 8 }}
    {{- end }}
    {{- if .Values.affinity }}
      affinity:
{{ toYaml .Values.affinity | indent 8 }}
    {{- end }}
    {{- if .Values.tolerations }}
      tolerations:
{{ toYaml .Values.tolerations | indent 6 }}
    {{- end }}
{{- include "prometheus-blackbox-exporter.imagePullSecrets" . | indent 6 }}
      restartPolicy: {{ .Values.restartPolicy }}
      {{- if .Values.priorityClassName }}
      priorityClassName: "{{ .Values.priorityClassName }}"
      {{- end }}
      containers:
        - name: blackbox-exporter
          image: {{ template "prometheus-blackbox-exporter.image" . }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          securityContext:
            readOnlyRootFilesystem: {{ .Values.readOnlyRootFilesystem }}
            {{- if .Values.allowIcmp }}
            capabilities:
              add: ["NET_RAW"]
            {{- else }}
            runAsNonRoot: {{ .Values.runAsNonRoot  }}
            runAsUser: {{ .Values.runAsUser }}
            {{- end }}
          args:
{{- if .Values.config }}
            - "--config.file=/config/blackbox.yaml"
{{- else }}
            - "--config.file=/etc/blackbox_exporter/config.yml"
{{- end }}
        {{- if .Values.extraArgs }}
{{ toYaml .Values.extraArgs | indent 12 }}
        {{- end }}
          resources:
{{ toYaml .Values.resources | indent 12 }}
          ports:
            - containerPort: {{ .Values.service.port }}
              name: http
          livenessProbe:
            httpGet:
              path: /health
              port: http
          readinessProbe:
            httpGet:
              path: /health
              port: http
          volumeMounts:
            - mountPath: /config
              name: config
          {{- range .Values.extraConfigmapMounts }}
            - name: {{ .name }}
              mountPath: {{ .mountPath }}
              subPath: {{ .subPath | default "" }}
              readOnly: {{ .readOnly }}
          {{- end }}
          {{- range .Values.extraSecretMounts }}
            - name: {{ .name }}
              mountPath: {{ .mountPath }}
              subPath: {{ .subPath }}
              readOnly: {{ .readOnly }}
          {{- end }}
      volumes:
        - name: config
{{- if .Values.secretConfig }}
          secret:
            secretName: {{ template "prometheus-blackbox-exporter.fullname" . }}
{{- else }}
          configMap:
            name: {{ template "prometheus-blackbox-exporter.fullname" . }}
{{- end }}
      {{- range .Values.extraConfigmapMounts }}
        - name: {{ .name }}
          configMap:
            name: {{ .configMap }}
            defaultMode: {{ .defaultMode }}
      {{- end }}
      {{- range .Values.extraSecretMounts }}
        - name: {{ .name }}
          secret:
            secretName: {{ .secretName }}
            defaultMode: {{ .defaultMode }}
      {{- end }}
{{- end }}
