{{ define "grafana_image" -}}
{{ .Values.images.grafana.repository }}:{{ .Values.images.grafana.tag }}
{{- end }}

{{ define "grafana_url" -}}
grafana.{{ .Values.global.baseDomain }}
{{- end }}

{{ define "db_bootstrapper_image" -}}
{{ .Values.images.dbBootstrapper.repository }}:{{ .Values.images.dbBootstrapper.tag }}
{{- end }}

{{ define "grafana_backend_secret" -}}
{{ default (printf "%s-grafana-backend" .Release.Name) .Values.backendSecretName }}
{{- end }}

{{ define "grafana_bootstrapper_serviceaccount" -}}
{{ printf "%s-grafana-bootstrapper-serviceaccount" .Release.Name }}
{{- end }}
