################################
## Grafana Deployment
#################################
kind: Deployment
apiVersion: apps/v1
metadata:
  name: {{ template "grafana.fullname" . }}
  labels:
    tier: monitoring
    component: grafana
    chart: {{ template "grafana.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  replicas: 1
  selector:
    matchLabels:
      tier: monitoring
      component: grafana
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        tier: monitoring
        component: grafana
        release: {{ .Release.Name }}
    spec:
      nodeSelector:
{{ toYaml (default .Values.global.platformNodePool.nodeSelector .Values.nodeSelector) | indent 8 }}
      affinity:
{{ toYaml (default .Values.global.platformNodePool.affinity .Values.affinity) | indent 8 }}
      tolerations:
{{ toYaml (default .Values.global.platformNodePool.tolerations .Values.tolerations) | indent 8 }}
      restartPolicy: Always
      {{- if and (not .Values.backendSecretName) (not .Values.backendConnection) }}
      serviceAccountName: {{ template "grafana.bootstrapper.serviceaccount" . }}
      {{- end }}
      initContainers:
        - name: wait-for-db
          command:
            - "/wait-for-db.sh"
          args:
            - "echo"
            - "DB ready"
          image: {{ template "grafana.image" . }}
          imagePullPolicy: IfNotPresent
          env:
            - name: GF_DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: astronomer-bootstrap
                  key: connection
      {{- if and (not .Values.backendSecretName) (not .Values.backendConnection) }}
        - name: bootstrapper
          image: {{ template "grafana.bootstrapper.image" . }}
          imagePullPolicy: {{ .Values.images.dbBootstrapper.pullPolicy }}
          env:
            - name: SCHEMA_NAME
              value: "grafana"
            - name: BOOTSTRAP_DB
              valueFrom:
                secretKeyRef:
                  name: astronomer-bootstrap
                  key: connection
            - name: DB_NAME
              value: {{ .Release.Name }}-grafana
            {{ if .Values.global.ssl.enabled }}
            - name: SSLMODE
              value: {{ .Values.global.ssl.grafana.sslmode }}
            {{- end }}
            - name: SECRET_NAME
              value: {{ template "grafana.backend.secret" . }}
            - name: NAMESPACE
              value: {{ .Release.Namespace }}
            - name: IN_CLUSTER
              value: "true"
      {{- end }}
      containers:
        - name: grafana
          image: {{ template "grafana.image" . }}
          imagePullPolicy: {{ .Values.images.grafana.pullPolicy }}
          resources:
{{ toYaml .Values.resources | indent 12 }}
          ports:
            - name: grafana-ui
              containerPort: {{ .Values.ports.http }}
          livenessProbe:
            httpGet:
              path: /api/health
              port: {{ .Values.ports.http }}
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /api/health
              port: {{ .Values.ports.http }}
            initialDelaySeconds: 10
            periodSeconds: 10
          volumeMounts:
            - name: grafana-datasource-volume
              mountPath: /etc/grafana/provisioning/datasources
            {{- $grafanadashboards :=  fromYaml (include "grafana.dashboards" .) }}
            {{- if $grafanadashboards }}
            {{- range $provider, $dashboards := $grafanadashboards }}
            {{- range $key, $value := $dashboards }}
            {{- if (or (hasKey $value "json") (hasKey $value "file")) }}
            - name: dashboards-{{ $provider }}
              mountPath: "/var/lib/grafana/dashboards/{{ $provider }}/{{ $key }}.json"
              subPath: "{{ $key }}.json"
            {{- end }}
            {{- end }}
            {{- end }}
            {{- end }}
          env:
            - name: GF_DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: {{ template "grafana.backend.secret" . }}
                  key: connection
            {{ if .Values.global.ssl.enabled }}
            - name: GF_DATABASE_SSL_MODE
              value: {{ .Values.global.ssl.grafana.sslmode }}
            {{- end }}
            - name: GF_AUTH_ANONYMOUS_ENABLED
              value: "true"
        {{- if .Values.global.authSidecar.enabled }}
        - name: auth-proxy
          image: "{{ .Values.global.authSidecar.repository }}:{{ .Values.global.authSidecar.tag }}"
          imagePullPolicy: {{ .Values.global.authSidecar.pullPolicy }}
          {{- if .Values.global.authSidecar.resources }}
          resources: {{- toYaml .Values.global.authSidecar.resources | nindent 12 }}
          {{- end }}
          ports:
          - containerPort: {{ .Values.global.authSidecar.port }}
            name: auth-proxy
            protocol: TCP
          readinessProbe:
            httpGet:
              path: /healthz
              port: {{ .Values.global.authSidecar.port }}
              scheme: HTTP
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /healthz
              port: {{ .Values.global.authSidecar.port }}
              scheme: HTTP
            initialDelaySeconds: 10
            periodSeconds: 10
          volumeMounts:
          - mountPath: /etc/nginx/conf.d/
            name: grafana-sidecar-conf
        {{- end }}
      volumes:
        {{- if .Values.global.authSidecar.enabled }}
        - name: grafana-sidecar-conf
          configMap:
            name: {{ template "grafana.fullname" . }}-nginx-conf
        {{- end }}
        - name: grafana-datasource-volume
          configMap:
            name: {{ template "grafana.fullname" . }}-datasource
            items:
              - key: datasource.yaml
                path: datasource.yaml
        {{- $grafanadashboards :=  fromYaml (include "grafana.dashboards" .) }}
        {{- if $grafanadashboards }}
          {{- range keys $grafanadashboards }}
        - name: dashboards-{{ . }}
          configMap:
            name: {{ template "grafana.fullname" $ }}-dashboards-{{ . }}
          {{- end }}
        {{- end }}
