########################################
## Houston Expire Deployments CronJob
########################################
{{- if .Values.houston.expireDeployments.enabled }}
apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: {{ .Release.Name }}-houston-expire-deployments
  labels:
    tier: astronomer
    component: houston-expire-deployments
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  schedule: {{ .Values.houston.expireDeployments.schedule }}
  jobTemplate:
    spec:
      template:
        metadata:
          labels:
            tier: astronomer
            component: houston-expire-deployments
            release: {{ .Release.Name }}
          {{- if .Values.global.istio.enabled }}
          annotations:
            sidecar.istio.io/inject: "false"
          {{- end }}
        spec:
          nodeSelector:
{{ toYaml (default .Values.global.platformNodePool.nodeSelector .Values.nodeSelector) | indent 12 }}
          affinity:
{{ toYaml (default .Values.global.platformNodePool.affinity .Values.affinity) | indent 12 }}
          tolerations:
{{ toYaml (default .Values.global.platformNodePool.tolerations .Values.tolerations) | indent 12 }}
          restartPolicy: Never
          containers:
            - name: expire-deployments
              image: {{ template "houston.image" . }}
              imagePullPolicy: {{ .Values.images.houston.pullPolicy }}
              # If you supply only args for a Container, the default Entrypoint defined in the Docker image is run with the args that you supplied.
              args: ["yarn", "expire-deployments", "--", "--dry-run={{ .Values.houston.expireDeployments.dryRun }}", "--canary={{ .Values.houston.expireDeployments.canary }}"]
              volumeMounts:
                {{- include "houston_volume_mounts" . | indent 16 }}
                {{- include "custom_ca_volume_mounts" . | indent 16 }}
              env:
                {{- include "houston_environment" . | indent 16 }}
          volumes:
            {{- include "houston_volumes" . | indent 12 }}
            {{- include "custom_ca_volumes" . | indent 12 }}
{{- end }}
