###############################################
## Houston Cleanup Deploy Revisions CronJob
###############################################
{{- if and .Values.houston.cleanupDeployRevisions.enabled }}
{{- if or (eq .Values.global.plane.mode "control") (eq .Values.global.plane.mode "unified") }}
apiVersion: {{ include "apiVersion.batch.cronjob" . }}
kind: CronJob
metadata:
  name: {{ .Release.Name }}-houston-cleanup-deploy-revisions
  labels:
    tier: astronomer
    component: houston-cleanup
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
    plane: {{ .Values.global.plane.mode }}
spec:
  schedule: {{ .Values.houston.cleanupDeployRevisions.schedule }}
  # The cron job does not allow concurrent runs; if it is time for a new job run and the previous job run hasn't finished yet, the cron job skips the new job run
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      backoffLimit: 1
      template:
        metadata:
          labels:
            tier: astronomer
            component: houston-cleanup
            release: {{ .Release.Name }}
            app: houston-cleanup
            version: {{ .Chart.Version }}
            plane: {{ .Values.global.plane.mode }}
            {{- include "global.podLabels" . | nindent 12 }}
          {{- if or .Values.global.podAnnotations .Values.global.istio.enabled }}
          annotations:
          {{- if .Values.global.istio.enabled }}
            sidecar.istio.io/inject: "false"
          {{- end }}
          {{- if .Values.global.podAnnotations }}
{{ toYaml .Values.global.podAnnotations | indent 12 }}
          {{- end }}
          {{- end }}
        spec:
          serviceAccountName: {{ template "houston.bootstrapperServiceAccountName" . }}
          nodeSelector:
{{ toYaml (default .Values.global.platformNodePool.nodeSelector .Values.nodeSelector) | indent 12 }}
          affinity:
{{ toYaml (default .Values.global.platformNodePool.affinity .Values.affinity) | indent 12 }}
          tolerations:
{{ toYaml (default .Values.global.platformNodePool.tolerations .Values.tolerations) | indent 12 }}
          restartPolicy: Never
{{- include "astronomer.imagePullSecrets" . | indent 10 }}
          containers:
            - name: cleanup
              image: {{ template "houston.image" . }}
              imagePullPolicy: {{ .Values.images.houston.pullPolicy }}
              args: ["yarn", "cleanup-deploy-revisions", "--", "--older-than={{ .Values.houston.cleanupDeployRevisions.olderThan }}"]
              securityContext: {{ toYaml .Values.securityContext | nindent 16 }}
              resources: {{ toYaml .Values.houston.resources | nindent 16 }}
              volumeMounts:
                {{- include "houston_volume_mounts" . | indent 16 }}
                {{- include "custom_ca_volume_mounts" . | indent 16 }}
              env:
                {{- include "houston_environment" . | indent 16 }}
              {{- if .Values.houston.cleanupDeployRevisions.readinessProbe }}
              readinessProbe: {{ tpl (toYaml .Values.houston.cleanupDeployRevisions.readinessProbe) . | nindent 16 }}
              {{- end }}
              {{- if .Values.houston.cleanupDeployRevisions.livenessProbe }}
              livenessProbe: {{ tpl (toYaml .Values.houston.cleanupDeployRevisions.livenessProbe) . | nindent 16 }}
              {{- end }}
          volumes:
            {{- include "houston_volumes" . | indent 12 }}
            {{- include "custom_ca_volumes" . | indent 12 }}
{{- end }}
{{- end }}
