#######################
## STAN Service Role ##
#######################
{{- if not .Values.global.nats.jetStream.enabled }}
{{- if .Values.stan.nats.serviceRoleAuth.enabled }}
apiVersion: nats.io/v1alpha2
kind: NatsServiceRole
metadata:
  name: nats-streaming
  labels:
    nats_cluster: {{ .Values.stan.nats.serviceRoleAuth.natsClusterName }}
  {{ if .Values.global.enableArgoCDAnnotation }}
  annotations:
    argocd.argoproj.io/sync-wave: "-1"
  {{- end }}
spec:
  permissions:
    publish: [">"]
    subscribe: [">"]
{{- end }}
{{- end }}
