################################
## STAN Pod Disruption Budget ##
################################
{{- if not .Values.global.nats.jetStream.enabled }}
{{- if and .Values.global.podDisruptionBudgetsEnabled }}
{{- if or (eq .Values.global.plane.mode "control") (eq .Values.global.plane.mode "unified") }}
apiVersion: {{ include "apiVersion.PodDisruptionBudget" . }}
kind: PodDisruptionBudget
metadata:
  name: {{ .Release.Name }}-stan-pdb
spec:
  maxUnavailable: 1
  selector:
    matchLabels:
      tier: astronomer
      app: {{ template "stan.name" . }}
      release: {{ .Release.Name }}
{{- end }}
{{- end }}
{{- end }}
