---
apiVersion: v1
kind: Service
metadata:
  name: {{ template "stan.name" . }}
  annotations:
  {{- if .Values.exporter.enabled }}
    prometheus.io/path: /metrics
    prometheus.io/port: "7777"
    prometheus.io/scrape: "true"
  {{- end }}
  {{ if .Values.global.enableArgoCDAnnotation }}
    argocd.argoproj.io/sync-wave: "-1"
  {{- end }}
  labels:
    app: {{ template "stan.name" . }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
spec:
  selector:
    tier: astronomer
    app: {{ template "stan.name" . }}
    release: {{ .Release.Name }}
  clusterIP: None
  ports:
  - name: metrics
    port: 7777
