################################
## Houston NetworkPolicy
#################################
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ .Release.Name }}-stan-policy
  labels:
    tier: astronomer
    component: stan-policy
    release: {{ .Release.Name }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    heritage: {{ .Release.Service }}
  {{ if .Values.global.enableArgoCDAnnotation }}
  annotations:
    argocd.argoproj.io/sync-wave: "-1"
  {{- end }}
spec:
  podSelector:
    matchLabels:
      tier: astronomer
      app: {{ template "stan.name" . }}
      release: {{ .Release.Name }}
  policyTypes:
  - Ingress
  ingress:
  - from:
    - podSelector:
        matchLabels:
          tier: monitoring
          component: prometheus
          release: {{ .Release.Name }}
    ports:
    - protocol: TCP
      port: 7777
  - from:
    - podSelector:
        matchLabels:
          tier: astronomer
          release: {{ .Release.Name }}
    ports:
    - protocol: TCP
      port: 8222
