################################
## Kube State Service Account ##
################################
{{- if .Values.global.rbacEnabled }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ template "kube-state.serviceAccount" . }}
  labels:
    tier: monitoring
    component: {{ template "kube-state.name" . }}
    chart: {{ template "kube-state.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
{{- end }}
