################################
## Kube State Service Account ##
################################
{{- if and .Values.serviceAccount.create .Values.global.rbacEnabled }}
{{- if or (eq .Values.global.plane.mode "data") (eq .Values.global.plane.mode "unified") }}
apiVersion: v1
kind: ServiceAccount
automountServiceAccountToken: {{ .Values.serviceAccount.automountServiceAccountToken }}
metadata:
  name: {{ template "kube-state.serviceAccountName" . }}
  labels:
    tier: monitoring
    component: {{ template "kube-state.name" . }}
    chart: {{ template "kube-state.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
    plane: {{ .Values.global.plane.mode }}
  annotations:
  {{- with .Values.serviceAccount.annotations }}
    {{- toYaml . | nindent 4 }}
  {{- end }}
{{- end }}
{{- end }}
