################################
## Kube State Role/ClusterRole
#################################
{{- $useRoles := or .Values.global.features.namespacePools.enabled .Values.global.singleNamespace }}
{{- $useClusterRoles := and .Values.global.clusterRoles (not $useRoles) }}

{{- $shouldCreateResources := and .Values.global.rbacEnabled $useClusterRoles }}

{{- if $shouldCreateResources }}
apiVersion: {{ template "apiVersion.rbac" . }}
kind: ClusterRole
metadata:
  name: {{ template "kube-state.fullname" . }}
  labels:
    tier: monitoring
    component: {{ template "kube-state.name" . }}
    chart: {{ template "kube-state.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
rules:
- apiGroups: [""]
  resources:
  - configmaps
  - secrets
  - pods
  - services
  - resourcequotas
  - replicationcontrollers
  - limitranges
  - persistentvolumeclaims
  - endpoints
  - nodes
  - namespaces
  - persistentvolumes
  verbs: ["list", "watch"]
- apiGroups: ["extensions"]
  resources:
  - deployments
  - replicasets
  - ingresses
  - daemonsets
  verbs: ["list", "watch"]
- apiGroups: ["apps"]
  resources:
  - statefulsets
  - deployments
  - replicasets
  - daemonsets
  verbs: ["list", "watch"]
- apiGroups: ["batch"]
  resources:
  - cronjobs
  - jobs
  verbs: ["list", "watch"]
- apiGroups: ["autoscaling"]
  resources:
  - horizontalpodautoscalers
  verbs: ["list", "watch"]
- apiGroups:
  - policy
  resources:
  - poddisruptionbudgets
  verbs:
  - list
  - watch
- apiGroups:
  - certificates.k8s.io
  resources:
  - certificatesigningrequests
  verbs:
  - list
  - watch
- apiGroups:
  - storage.k8s.io
  resources:
  - storageclasses
  - volumeattachments
  verbs:
  - list
  - watch
- apiGroups:
  - admissionregistration.k8s.io
  resources:
  - mutatingwebhookconfigurations
  - validatingwebhookconfigurations
  verbs:
  - list
  - watch
- apiGroups:
  - networking.k8s.io
  resources:
  - networkpolicies
  - ingresses
  verbs:
  - list
  - watch
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - list
  - watch
{{- end }}