####################
## Houston Worker ##
####################
{{- if and .Values.houston.worker.enabled (or (eq .Values.global.plane.mode "control") (eq .Values.global.plane.mode "unified")) }}
kind: Deployment
apiVersion: apps/v1
metadata:
  name: {{ .Release.Name }}-houston-worker
  labels:
    component: houston-worker
    tier: astronomer
    release: {{ .Release.Name }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    heritage: {{ .Release.Service }}
    plane: {{ .Values.global.plane.mode }}
spec:
  replicas: {{ .Values.houston.worker.replicas }}
  selector:
    matchLabels:
      tier: astronomer
      component: houston-worker
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        tier: astronomer
        component: houston-worker
        release: {{ .Release.Name }}
        app: houston-worker
        version: {{ .Chart.Version }}
        plane: {{ .Values.global.plane.mode }}
        {{- include "global.podLabels" . | nindent 8 }}
      annotations:
        checksum/houston-config: {{ include (print $.Template.BasePath "/houston/houston-configmap.yaml") . | sha256sum }}
        {{- include "houston.jetStreamTLSChecksum" . | nindent 8 }}
        {{- if .Values.global.podAnnotations }}
        {{- toYaml .Values.global.podAnnotations | nindent 8 }}
        {{- end }}
        {{- if .Values.houston.podAnnotations }}
        {{- toYaml .Values.houston.podAnnotations | nindent 8 }}
        {{- end }}
    spec:
      nodeSelector: {{ toYaml (default .Values.global.platformNodePool.nodeSelector .Values.nodeSelector) | nindent 8 }}
      affinity: {{ toYaml (default .Values.global.platformNodePool.affinity .Values.affinity) | nindent 8 }}
      tolerations: {{ toYaml (default .Values.global.platformNodePool.tolerations .Values.tolerations) | nindent 8 }}
      {{- include "houston.worker.hostAliases" . | nindent 6 }}
      restartPolicy: Always
      serviceAccountName: {{ template "houston.bootstrapperServiceAccountName" . }}
{{- include "astronomer.imagePullSecrets" . | indent 6 }}
      {{- if and (not .Values.houston.airflowBackendSecretName) (not .Values.houston.airflowBackendConnection) (not .Values.houston.backendSecretName) (not .Values.houston.backendConnection) }}
      initContainers:
        - name: etc-ssl-certs-copier
          command:
            - sh
            - -c
            - |
              if [ -d /etc/ssl/certs ]; then
                cp -r /etc/ssl/certs/* /etc/ssl/certs_copy/
              else
                echo "No /etc/ssl/certs directory found, skipping copy."
              fi
          volumeMounts:
            - name: etc-ssl-certs
              mountPath: /etc/ssl/certs_copy
          image: {{ template "houston.image" . }}
          imagePullPolicy: {{ .Values.images.houston.pullPolicy }}
          securityContext:
            {{- $required := dict "readOnlyRootFilesystem" true }}
            {{- merge $required .Values.securityContext | toYaml | nindent 12 }}
          resources: {{- toYaml .Values.houston.resources | nindent 12 }}
        - name: wait-for-db
          image: {{ template "houston.image" . }}
          imagePullPolicy: {{ .Values.images.houston.pullPolicy }}
          securityContext:
            {{- $required := dict "readOnlyRootFilesystem" true }}
            {{- merge $required .Values.securityContext | toYaml | nindent 12 }}
          command:
            - "/houston/bin/entrypoint"
          args:
            - "echo"
            - "DB ready"
          resources: {{ toYaml .Values.houston.resources | nindent 12 }}
          env:
            {{- include "houston_environment" . | indent 12 }}
          {{- if .Values.houston.waitForDB.readinessProbe }}
          readinessProbe: {{ tpl (toYaml .Values.houston.waitForDB.readinessProbe) . | nindent 12 }}
          {{- end }}
          {{- if .Values.houston.waitForDB.livenessProbe }}
          livenessProbe: {{ tpl (toYaml .Values.houston.waitForDB.livenessProbe) . | nindent 12 }}
          {{- end }}
          volumeMounts:
            - name: etc-ssl-certs
              mountPath: /etc/ssl/certs
        - name: houston-bootstrapper
          image: {{ template "dbBootstrapper.image" . }}
          imagePullPolicy: {{ .Values.images.dbBootstrapper.pullPolicy }}
          securityContext:
            {{- $required := dict "readOnlyRootFilesystem" true }}
            {{- merge $required .Values.securityContext | toYaml | nindent 12 }}
          resources: {{ toYaml .Values.houston.resources | nindent 12 }}
          {{- if .Values.houston.bootstrapper.readinessProbe }}
          readinessProbe: {{ tpl (toYaml .Values.houston.bootstrapper.readinessProbe) . | nindent 12 }}
          {{- end }}
          {{- if .Values.houston.bootstrapper.livenessProbe }}
          livenessProbe: {{ tpl (toYaml .Values.houston.bootstrapper.livenessProbe) . | nindent 12 }}
          {{- end }}
          env:
            - name: BOOTSTRAP_DB
              valueFrom:
                secretKeyRef:
                  name: astronomer-bootstrap
                  key: connection
            - name: SCHEMA_NAME
              value: "houston$default"
            {{ if .Values.global.ssl.enabled }}
            - name: SSLMODE
              value: {{ .Values.global.ssl.mode }}
            {{- end }}
            # Connection Limit for Prisma Connection Pool: https://www.prisma.io/docs/concepts/components/prisma-client/deployment#database-connection-limit
            {{ if .Values.houston.prismaConnectionLimit }}
            - name: PRISMA_CONNECTION_LIMIT
              value: {{ .Values.houston.prismaConnectionLimit | quote }}
            {{ end }}
            - name: DB_NAME
              value: {{ .Release.Name }}-houston
            - name: SECRET_NAME
              value: {{ template "houston.airflowBackendSecret" . }}
            - name: NAMESPACE
              value: {{ .Release.Namespace }}
            - name: IN_CLUSTER
              value: "true"
          volumeMounts:
            - name: etc-ssl-certs
              mountPath: /etc/ssl/certs
            - name: tmp
              mountPath: /tmp
            - name: tmp
              mountPath: /houston/node_modules/.cache
        {{- end }}
      containers:
        - name: houston
          image: {{ template "houston.image" . }}
          imagePullPolicy: {{ .Values.images.houston.pullPolicy }}
          securityContext:
            {{- $required := dict "readOnlyRootFilesystem" true }}
            {{- merge $required .Values.securityContext | toYaml | nindent 12 }}
          {{- if .Values.houston.loggingSidecar.enabled }}
          command:
            - /bin/sh
            - /etc/houston-wrapper/wrapper.sh
            - /bin/sh
            - -c
            - "update-ca-certificates;yarn worker"
          {{- else if .Values.houston.worker.command }}
          command:
            {{- toYaml .Values.houston.worker.command | nindent 12 }}
          {{- else }}
          command: ["/bin/sh", "-c", "update-ca-certificates;yarn worker"]
          {{- end }}
          {{- if .Values.houston.worker.args }}
          args:
            {{- toYaml .Values.houston.worker.args | nindent 12 }}
          {{- end }}
          resources: {{- toYaml .Values.houston.resources | nindent 12 }}
          volumeMounts:
            - name: etc-ssl-certs
              mountPath: /etc/ssl/certs
            - name: tmp
              mountPath: /tmp
            - name: tmp
              mountPath: /houston/node_modules/.cache
            {{- include "houston_volume_mounts" . | indent 12 }}
            {{- include "custom_ca_volume_mounts" . | indent 12 }}
            {{- if .Values.houston.worker.volumeMounts }}
            {{- tpl (toYaml .Values.houston.worker.volumeMounts) $ | nindent 12 }}
            {{- end }}
            {{- if .Values.houston.loggingSidecar.enabled }}
            - name: houston-wrapper-volume
              mountPath: /etc/houston-wrapper
              readOnly: true
            - name: sidecar-log-volume
              mountPath: /var/log/sidecar-log-consumer
            {{- end }}
          {{- if .Values.houston.worker.readinessProbe }}
          readinessProbe: {{ tpl (toYaml .Values.houston.worker.readinessProbe) . | nindent 12 }}
          {{- end }}
          {{- if .Values.houston.worker.livenessProbe }}
          livenessProbe: {{ tpl (toYaml .Values.houston.worker.livenessProbe) . | nindent 12 }}
          {{- end }}
          env:
            - name: GRPC_VERBOSITY
              value: "INFO"
            - name: GRPC_TRACE
              value: "all"
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: {{ template "houston.backendSecret" . }}
                  key: connection
            {{- include "houston_environment" . | indent 12 }}
            - name: APOLLO_SERVER_ID
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: APOLLO_SERVER_USER_VERSION
              value: {{ template "houston.image" . }}
            - name: APOLLO_SERVER_PLATFORM
              value: "kubernetes/deployment"
        {{- if .Values.houston.worker.extraContainers }}
        {{- tpl (toYaml .Values.houston.worker.extraContainers) $ | nindent 8 }}
        {{- end }}
        {{- if .Values.houston.loggingSidecar.enabled }}
        - name: vector
          image: {{ .Values.images.vector.repository }}:{{ .Values.images.vector.tag }}
          imagePullPolicy: {{ .Values.images.vector.pullPolicy }}
          env:
            - name: VECTOR_POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: VECTOR_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: VECTOR_CONFIG_YAML
              value: /etc/vector/config/vector.yaml
            - name: COMPONENT_NAME
              value: houston-worker
            {{- if .Values.houston.loggingSidecar.cloudwatch.enabled }}
            - name: AWS_REGION
              value: {{ .Values.houston.loggingSidecar.cloudwatch.region | quote }}
            {{- if not .Values.houston.loggingSidecar.cloudwatch.useIRSA }}
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.houston.loggingSidecar.cloudwatch.secretName }}
                  key: aws_access_key_id
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.houston.loggingSidecar.cloudwatch.secretName }}
                  key: aws_secret_access_key
            {{- end }}
            {{- end }}
            {{- if .Values.houston.loggingSidecar.elasticsearch.enabled }}
            - name: ES_ENDPOINT
              {{- if .Values.houston.loggingSidecar.elasticsearch.endpoint }}
              value: {{ .Values.houston.loggingSidecar.elasticsearch.endpoint | quote }}
              {{- else if .Values.global.customLogging.enabled }}
              value: {{ printf "http://%s-external-es-proxy:9201" .Release.Name | quote }}
              {{- else }}
              value: {{ printf "http://%s-elasticsearch:9200" .Release.Name | quote }}
              {{- end }}
            {{- if and (eq .Values.houston.loggingSidecar.elasticsearch.auth.strategy "basic") .Values.houston.loggingSidecar.elasticsearch.endpoint }}
            - name: ES_USERNAME
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.houston.loggingSidecar.elasticsearch.auth.secretName }}
                  key: username
            - name: ES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.houston.loggingSidecar.elasticsearch.auth.secretName }}
                  key: password
            {{- end }}
            {{- end }}
          resources: {{- toYaml .Values.houston.loggingSidecar.resources | nindent 12 }}
          volumeMounts:
            - name: vector-config
              mountPath: /etc/vector/config
              readOnly: true
            - name: vector-data
              mountPath: /var/lib/vector
            - name: sidecar-log-volume
              mountPath: /var/log/sidecar-log-consumer
              readOnly: true
            {{- if and .Values.houston.loggingSidecar.gcpCloudLogging.enabled (not .Values.houston.loggingSidecar.gcpCloudLogging.useWorkloadIdentity) }}
            - name: gcp-credentials
              mountPath: /etc/gcp-credentials
              readOnly: true
            {{- end }}
            {{- if and .Values.houston.loggingSidecar.elasticsearch.enabled .Values.houston.loggingSidecar.elasticsearch.tls.enabled }}
            - name: es-tls-ca
              mountPath: /etc/es-tls
              readOnly: true
            {{- end }}
          {{- if not .Values.global.openshiftEnabled }}
          livenessProbe:
            httpGet:
              path: /health
              port: 8686
            initialDelaySeconds: 15
            timeoutSeconds: 3
            periodSeconds: 30
            failureThreshold: 5
          readinessProbe:
            httpGet:
              path: /health
              port: 8686
            initialDelaySeconds: 5
            timeoutSeconds: 3
            periodSeconds: 10
            failureThreshold: 5
          securityContext:
            runAsUser: 1000
            runAsNonRoot: true
            readOnlyRootFilesystem: true
            allowPrivilegeEscalation: false
          {{- end }}
        {{- end }}
      volumes:
        - name: etc-ssl-certs
          emptyDir: {}
        - name: tmp
          emptyDir: {}
{{- if .Values.houston.worker.extraVolumes }}
{{ tpl (toYaml .Values.houston.worker.extraVolumes) $ | indent 8 }}
{{- end }}
        {{- include "houston_volumes" . | indent 8 }}
        {{- include "custom_ca_volumes" . | indent 8 }}
        {{- if .Values.houston.loggingSidecar.enabled }}
        - name: vector-config
          configMap:
            name: {{ .Release.Name }}-houston-worker-vector-config
        - name: vector-data
          emptyDir: {}
        - name: houston-wrapper-volume
          configMap:
            name: {{ .Release.Name }}-houston-log-wrapper
            defaultMode: 0755
        - name: sidecar-log-volume
          emptyDir: {}
        {{- if and .Values.houston.loggingSidecar.gcpCloudLogging.enabled (not .Values.houston.loggingSidecar.gcpCloudLogging.useWorkloadIdentity) }}
        - name: gcp-credentials
          secret:
            secretName: {{ .Values.houston.loggingSidecar.gcpCloudLogging.credentialsSecretName }}
        {{- end }}
        {{- if and .Values.houston.loggingSidecar.elasticsearch.enabled .Values.houston.loggingSidecar.elasticsearch.tls.enabled }}
        - name: es-tls-ca
          secret:
            secretName: {{ .Values.houston.loggingSidecar.elasticsearch.tls.caSecretName }}
        {{- end }}
        {{- end }}
{{- end }}
