###############################
## Houston Worker NetworkPolicy
###############################
{{- if .Values.global.networkPolicy.enabled }}
{{- if or (eq .Values.global.plane.mode "control") (eq .Values.global.plane.mode "unified") }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ .Release.Name }}-houston-worker-policy
  labels:
    tier: astronomer
    component: houston-worker-policy
    release: {{ .Release.Name }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    heritage: {{ .Release.Service }}
    plane: {{ .Values.global.plane.mode }}
spec:
  podSelector:
    matchLabels:
      tier: astronomer
      component: houston-worker
      release: {{ .Release.Name }}
  ingress: []
{{- end }}
{{- end }}
