####################
## Houston Worker ##
####################
{{- if .Values.houston.worker.enabled }}
kind: Deployment
apiVersion: apps/v1
metadata:
  name: {{ .Release.Name }}-houston-worker
  labels:
    component: houston-worker
    tier: astronomer
    release: {{ .Release.Name }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    heritage: {{ .Release.Service }}
spec:
  replicas: {{ .Values.houston.worker.replicas }}
  selector:
    matchLabels:
      tier: astronomer
      component: houston-worker
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        tier: astronomer
        component: houston-worker
        release: {{ .Release.Name }}
      annotations:
        checksum/houston-config: {{ include (print $.Template.BasePath "/houston/houston-configmap.yaml") . | sha256sum }}
    spec:
      nodeSelector:
{{ toYaml (default .Values.global.platformNodePool.nodeSelector .Values.nodeSelector) | indent 8 }}
      affinity:
{{ toYaml (default .Values.global.platformNodePool.affinity .Values.affinity) | indent 8 }}
      tolerations:
{{ toYaml (default .Values.global.platformNodePool.tolerations .Values.tolerations) | indent 8 }}
      restartPolicy: Always
      {{- if and (not .Values.houston.airflowBackendSecretName) (not .Values.houston.airflowBackendConnection) }}
      serviceAccountName: {{ template "houston.bootstrapperServiceAccount" . }}
      initContainers:
        - name: wait-for-db
          image: {{ template "houston.image" . }}
          imagePullPolicy: {{ .Values.images.houston.pullPolicy }}
          command:
            - "/houston/bin/entrypoint"
          args:
            - "echo"
            - "DB ready"
          resources:
{{ toYaml .Values.houston.resources | indent 12 }}
          env:
            {{- include "houston_environment" . | indent 12 }}
        - name: houston-bootstrapper
          image: {{ template "dbBootstrapper.image" . }}
          imagePullPolicy: {{ .Values.images.dbBootstrapper.pullPolicy }}
          env:
            - name: BOOTSTRAP_DB
              valueFrom:
                secretKeyRef:
                  name: astronomer-bootstrap
                  key: connection
            - name: SCHEMA_NAME
              value: "houston$default"
            {{ if .Values.global.ssl.enabled }}
            - name: SSLMODE
              value: {{ .Values.global.ssl.mode }}
            {{- end }}
            - name: DB_NAME
              value: {{ .Release.Name }}-houston
            - name: SECRET_NAME
              value: {{ template "houston.airflowBackendSecret" . }}
            - name: NAMESPACE
              value: {{ .Release.Namespace }}
            - name: IN_CLUSTER
              value: "true"
        {{- end }}
      containers:
        - name: houston
          image: {{ template "houston.image" . }}
          imagePullPolicy: {{ .Values.images.houston.pullPolicy }}
          args: ["yarn", "worker"]
          resources:
{{ toYaml .Values.houston.resources | indent 12 }}
          volumeMounts:
            {{- include "houston_volume_mounts" . | indent 12 }}
            {{- include "custom_ca_volume_mounts" . | indent 12 }}
          env:
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: {{ template "houston.backendSecret" . }}
                  key: connection
            {{- include "houston_environment" . | indent 12 }}
            - name: APOLLO_SERVER_ID
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: APOLLO_SERVER_USER_VERSION
              value: {{ template "houston.image" . }}
            - name: APOLLO_SERVER_PLATFORM
              value: "kubernetes/deployment"
      volumes:
        {{- include "houston_volumes" . | indent 8 }}
        {{- include "custom_ca_volumes" . | indent 8 }}
{{- end }}
