-e git+https://github.com/astronomerio/incubator-airflow@astronomer-fixes-182#egg=apache-airflow[s3,postgres,mysql,password,celery]
celery[redis]==3.1.25

addict==2.1.0
backports.ssl-match-hostname==3.5.0.1
bingads==11.5.2
boa-str==1.0.1
boto3==1.4.6
botocore==1.6.8
boxsdk==1.5.3
cairocffi==0.8.0
CairoSVG==2.0.3
certifi==2017.7.27.1
cffi==1.10.0
chardet==3.0.4
contextlib2==0.5.5
coverage==4.4.1
cryptography==1.7.2
cssselect==1.0.1
cssselect2==0.2.0
cycler==0.10.0
decorator==4.1.2
docker-py==1.8.1
docutils==0.14
enum34==1.1.6
facebookads==2.9.2
flatten-json==0.1.6
google-api-python-client==1.6.2
google-cloud==0.30.0
html5lib==0.999999999
http-parser==0.8.3
httplib2==0.10.3
idna==2.6
ipython-genutils==0.2.0
jmespath==0.9.3
jsonschema==2.6.0
jupyter-core==4.3.0
lxml==3.8.0
marshmallow==2.13.6
matplotlib==2.0.2
nbformat==4.4.0
nose2==0.6.5
numpy==1.13.1
oauth2client==4.1.2
olefile==0.44
openpyxl==2.4.8
Pillow==4.2.1
plotly==2.0.15
pyasn1==0.3.4
pyasn1-modules==0.1.4
pycodestyle==2.3.1
pycparser==2.18
pydash==4.2.1
pymesos==0.2.14
pymongo==3.5.1
pyOpenSSL==17.2.0
pyparsing==2.2.0
Pyphen==0.9.4
python-dateutil==2.6.1
python-decouple==3.1
pytz==2017.2
raven==6.1.0
requests==2.18.4
rsa==3.4.2
s3transfer==0.1.11
scipy==0.19.1
simple-salesforce==0.73.0
six==1.10.0
slackclient==1.0.7
suds-jurko==0.6
tinycss==0.4
tinycss2==0.6.0
traitlets==4.3.2
uritemplate==3.0.0
urllib3==1.22
WeasyPrint==0.40
webencodings==0.5.1
websocket-client==0.44.0
