nodeSelector: {}
affinity: {}
tolerations: []

images:
  kibana:
    repository: quay.io/astronomer/ap-kibana
    tag: 7.10.2-2
    pullPolicy: IfNotPresent

clusterName: "astronomer"

replicas: 1

resources:
  {}
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

env:
  # XPACK_GRAPH_ENABLED: "false"
  # XPACK_ML_ENABLED: "false"
  # XPACK_REPORTING_ENABLED: "false"
  # XPACK_SECURITY_ENABLED: "false"

serviceType: ClusterIP

ports:
  http: 5601
