nodeSelector: {}
affinity: {}
tolerations: []

images:
  kibana:
    repository: quay.io/astronomer/ap-kibana
    tag: 8.8.2
    pullPolicy: IfNotPresent
  init:
    repository: quay.io/astronomer/ap-init
    tag: 3.18.4-1
    pullPolicy: IfNotPresent

securityContext:
    runAsNonRoot: true
    runAsUser: 1000

clusterName: "astronomer"

replicas: 1

resources:
  {}
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

env:
  # XPACK_GRAPH_ENABLED: "false"
  # XPACK_ML_ENABLED: "false"
  # XPACK_REPORTING_ENABLED: "false"
  # XPACK_SECURITY_ENABLED: "false"

serviceType: ClusterIP

ports:
  http: 5601

createDefaultIndex: false
