cryptography
deepmerge
docker
filelock
GitPython
jmespath
jsonschema
kubernetes
pytest
pytest-forked
pytest-pretty
pytest-profiling
pytest-rerunfailures
pytest-testinfra
pytest-xdist
PyYAML
requests
typing-extensions # transient
