################################
## Elasticsearch PSP Rolebinding
################################
{{- if .Values.global.pspEnabled }}
apiVersion: {{ template "apiVersion.rbac" . }}
kind: RoleBinding
metadata:
  name: {{ .Release.Name }}-psp-elasticsearch
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ .Release.Name }}-psp-elasticsearch
subjects:
- kind: ServiceAccount
  name: {{ template "elasticsearch.fullname" . }}
{{- end -}}
