##################################
## elasticsearch ServiceAccount ##
##################################
{{- if .Values.global.rbacEnabled }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ template "elasticsearch.serviceAccount" . }}
  labels:
    tier: logging
    component: {{ template "elasticsearch.name" . }}
    chart: {{ template "elasticsearch.chart" . }}
    heritage: {{ .Release.Service }}
    release: {{ .Release.Name }}
{{- end -}}
