##################################
## elasticsearch ServiceAccount ##
##################################
{{- if and .Values.common.serviceAccount.create .Values.global.rbacEnabled }}
apiVersion: v1
kind: ServiceAccount
automountServiceAccountToken: {{ .Values.common.serviceAccount.automountServiceAccountToken }}
metadata:
  name: {{ template "elasticsearch.serviceAccountName" . }}
  labels:
    tier: logging
    component: {{ template "elasticsearch.name" . }}
    chart: {{ template "elasticsearch.chart" . }}
    heritage: {{ .Release.Service }}
    release: {{ .Release.Name }}
  annotations:
  {{- with .Values.common.serviceAccount.annotations }}
    {{- toYaml . | nindent 4 }}
  {{- end }}
{{- end -}}
