################################
## Kibana Ingress
#################################
{{- if .Values.global.baseDomain }}
kind: Ingress
apiVersion: {{ template "apiVersion.Ingress" . }}
metadata:
  name: {{ template "kibana.fullname" . }}-ingress
  labels:
    tier: kibana-networking
    component: kibana-ingress
    release: {{ .Release.Name }}
    chart: {{ template "kibana.chart" . }}
    heritage: {{ .Release.Service }}
  annotations:
    {{- if .Values.global.authSidecar.enabled  }}
{{- toYaml .Values.global.extraAnnotations | nindent 4 }}
    {{- else }}
    kubernetes.io/ingress.class: "{{ .Release.Name }}-nginx"
    kubernetes.io/tls-acme: {{ eq .Values.global.acme true | quote }}
    nginx.ingress.kubernetes.io/auth-url: https://houston.{{ .Values.global.baseDomain }}/v1/authorization
    nginx.ingress.kubernetes.io/auth-signin: https://app.{{ .Values.global.baseDomain }}/login
    nginx.ingress.kubernetes.io/auth-response-headers: authorization, username, email
    {{- end }}
spec:
  {{- if or .Values.global.tlsSecret .Values.global.acme }}
  tls:
  {{- if .Values.global.acme }}
    - secretName: kibana-tls
  {{- end }}
  {{- if .Values.global.tlsSecret }}
    - secretName: {{ .Values.global.tlsSecret }}
  {{- end }}
      hosts:
        - {{- include "kibana.url" . | indent 1 }}
  {{- end }}
  rules:
    - host: {{- include "kibana.url" . | indent 1 }}
      http:
        paths:
          - path: /kibana
            {{ if semverCompare "<1.19-0" .Capabilities.KubeVersion.Version -}}
            backend:
              serviceName: {{ template "kibana.fullname" . }}
              {{- if .Values.global.authSidecar.enabled  }}
              servicePort: auth-proxy
              {{- else }}
              servicePort: kibana-ui
              {{- end }}
            {{- else -}}
            pathType: Prefix
            backend:
              service:
                name: {{ template "kibana.fullname" . }}
                port:
                  {{- if .Values.global.authSidecar.enabled  }}
                  name: auth-proxy
                  {{- else }}
                  name: kibana-ui
                  {{- end }}
            {{- end -}}
{{- end }}
