################################
## Kibana Deployment
#################################
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "kibana.fullname" . }}
  labels:
    tier: logging
    component: {{ template "kibana.name" . }}
    chart: {{ template "kibana.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      tier: logging
      component: {{ template "kibana.name" . }}
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        tier: logging
        component: {{ template "kibana.name" . }}
        release: {{ .Release.Name }}
    spec:
      nodeSelector:
{{ toYaml (default .Values.global.platformNodePool.nodeSelector .Values.nodeSelector) | indent 8 }}
      affinity:
{{ toYaml (default .Values.global.platformNodePool.affinity .Values.affinity) | indent 8 }}
      tolerations:
{{ toYaml (default .Values.global.platformNodePool.tolerations .Values.tolerations) | indent 8 }}
      containers:
      - name: kibana
        image: {{ template "kibana.image" . }}
        imagePullPolicy: {{ .Values.images.kibana.pullPolicy }}
        env:
        {{- range $key, $value :=  .Values.env }}
        - name: {{ $key }}
          value: {{ $value | quote }}
        {{- end }}
        - name: CLUSTER_NAME
          value: {{ .Values.clusterName }}
        - name: ELASTICSEARCH_HOSTS
          value: "http://{{ .Release.Name }}-elasticsearch:9200"
        - name: ELASTICSEARCH_REQUESTTIMEOUT
          value: "60000"
        resources:
{{ toYaml .Values.resources | indent 12 }}
        ports:
        - containerPort: {{ .Values.ports.http }}
          name: kibana-ui
          protocol: TCP
      {{- if .Values.global.sidecar.enabled  }}
      - name: nginx
        image: {{ .Values.global.sidecar.image }}
        imagePullPolicy: Always
        ports:
        - containerPort: 80
          name: nginx-ui
          protocol: TCP
        volumeMounts:
        - mountPath: /etc/nginx/conf.d/
          name: kibana-sidecar-conf
      volumes:
        - name: kibana-sidecar-conf
          configMap:
            name: {{ template "kibana.fullname" . }}-nginx-conf
      {{- end }}
