################################
## Kibana Pod Disruption Budget
#################################
apiVersion: policy/v1beta1
kind: PodDisruptionBudget
metadata:
  name: {{ .Release.Name }}-kibana-pdb
spec:
  maxUnavailable: 1
  selector:
    matchLabels:
      tier: logging
      component: {{ template "kibana.name" . }}
      release: {{ .Release.Name }}
