################################
## Kibana NetworkPolicy
#################################
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ .Release.Name }}-kibana-policy
  labels:
    tier: logging
    component: kibana-policy
    release: {{ .Release.Name }}
    workspace: {{ .Values.workspace }}
    chart: {{ template "kibana.chart" . }}
    heritage: {{ .Release.Service }}
spec:
  podSelector:
    matchLabels:
      tier: logging
      component: {{ template "kibana.name" . }}
      release: {{ .Release.Name }}
  policyTypes:
  - Ingress
  ingress:
  - from:
    - podSelector:
        matchLabels:
          tier: nginx
          component: ingress-controller
          release: {{ .Release.Name }}
    ports:
    - protocol: TCP
      port: {{ .Values.ports.http }}
