################################
## Kibana NetworkPolicy
#################################
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ .Release.Name }}-kibana-policy
  labels:
    tier: logging
    component: kibana-policy
    release: {{ .Release.Name }}
    chart: {{ template "kibana.chart" . }}
    heritage: {{ .Release.Service }}
spec:
  podSelector:
    matchLabels:
      tier: logging
      component: {{ template "kibana.name" . }}
      release: {{ .Release.Name }}
  policyTypes:
  - Ingress
  ingress:
  - from:
    {{- if and (.Values.global.authSidecar.enabled) (not .Values.global.nginxEnabled) }}
    - namespaceSelector:
        matchLabels:
          network.openshift.io/policy-group: ingress
    {{- else }}
    - podSelector:
        matchLabels:
          tier: nginx
          component: ingress-controller
          release: {{ .Release.Name }}
    {{- end }}
    ports:
    {{- if .Values.global.authSidecar.enabled  }}
    - protocol: TCP
      port: {{ .Values.global.authSidecar.port }}
    {{- else }}
    - protocol: TCP
      port: {{ .Values.ports.http }}
    {{- end}}
