#################################
## Alertmanager ServiceAccount ##
#################################
{{- if or (eq .Values.global.plane.mode "data") (eq .Values.global.plane.mode "unified") }}
{{- if and .Values.serviceAccount.create .Values.global.rbacEnabled }}
kind: ServiceAccount
apiVersion: v1
metadata:
  name: {{ template "kibana.serviceAccountName" . }}
  labels:
    tier: logging
    component: {{ template "kibana.name" . }}
    chart: {{ template "kibana.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
  annotations:
{{ toYaml (.Values.serviceAccount.annotations) | indent 4 }}
{{- end }}
{{- end }}
