########################################################
## Astronomer Platform Namespace label configure Hook ##
########################################################
{{- if .Values.nats.createJetStreamJob -}}
{{- if or .Values.nats.jetstream.enabled .Values.global.nats.jetStream.enabled .Values.global.stan.enabled }}
---
kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  annotations:
    "helm.sh/hook": "pre-install,pre-upgrade"
    "helm.sh/hook-weight": "-2"
  namespace: {{ .Release.Namespace }}
  name: {{ .Release.Name }}-jetstream-role
rules:
- apiGroups: [""]
  resources: ["namespaces"]
  verbs: ["patch", "update", "get"]
- apiGroups: ["apps"]
  resources: ["statefulsets"]
  verbs: ["delete", "get", "list", "patch"]
  resourceNames:
  - {{ .Release.Name }}-nats
---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  annotations:
    "helm.sh/hook": "pre-install,pre-upgrade"
    "helm.sh/hook-weight": "-2"
  name: {{ .Release.Name }}-jetstream-role-binding
  namespace: {{ .Release.Namespace }}
subjects:
- kind: ServiceAccount
  name: {{ template "jetStream.serviceAccountName" . }}
  namespace: {{ .Release.Namespace }}
  apiGroup: ""
roleRef:
  kind: Role
  name: {{ .Release.Name }}-jetstream-role
  apiGroup: ""
---
kind: ServiceAccount
apiVersion: v1
metadata:
  annotations:
    "helm.sh/hook": "pre-install,pre-upgrade"
    "helm.sh/hook-weight": "3"
  name: {{ template "jetStream.serviceAccountName" . }}
  labels:
    tier: jetsream-migrator
    component: jetsream-migrator
    release: {{ .Release.Name }}
---
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ .Release.Name }}-jetstream-job
  annotations:
    "helm.sh/hook": "pre-install,pre-upgrade"
    "helm.sh/hook-delete-policy": "before-hook-creation"
    "helm.sh/hook-weight": "5"
  labels:
    app: {{ template "nats.name" . }}
    tier: nats
    version: {{ .Chart.Version }}
    component: jetsream-migrator
    release: {{ .Release.Name }}
spec:
  template:
    metadata:
      labels:
        app: {{ template "nats.name" . }}
        tier: nats
        component: jetsream-migrator
        version: {{ .Chart.Version }}
        release: {{ .Release.Name }}
        {{- include "global.podLabels" . | nindent 8 }}
      {{- if or .Values.global.podAnnotations .Values.global.istio.enabled }}
      annotations:
      {{- if .Values.global.istio.enabled }}
        sidecar.istio.io/inject: "false"
      {{- end }}
      {{- if .Values.global.podAnnotations }}
{{ toYaml .Values.global.podAnnotations | indent 8 }}
      {{- end }}
      {{- end }}
    spec:
      restartPolicy: Never
      serviceAccountName: {{ template "jetStream.serviceAccountName" . }}
      securityContext: {{ toYaml .Values.nats.podSecurityContext | nindent 8 }}
      nodeSelector: {{ toYaml (default .Values.global.platformNodePool.nodeSelector .Values.nodeSelector) | nindent 8 }}
      affinity: {{ toYaml (default .Values.global.platformNodePool.affinity .Values.affinity) | nindent 8 }}
      tolerations: {{ toYaml (default .Values.global.platformNodePool.tolerations .Values.tolerations) | nindent 8 }}
{{- include "nats.imagePullSecrets" . | indent 6 }}
      containers:
      - name: jetstream-template-fixer
        image: {{ template "dbBootstrapper.image" . }}
        securityContext: {{ template "nats.securityContext" . }}
        resources: {{ toYaml .Values.nats.resources | nindent 10 }}
        command:
        - /bin/sh
        - -c
        - |
          {{- if and .Values.global.stan.enabled (not .Values.global.nats.jetStream.enabled) }}
          data=`kubectl get ns {{ .Release.Namespace }} -o=jsonpath='{.metadata.labels.stanEnabled}'`
          if [[ "$data" = "" ]]  ; then
            kubectl delete sts {{ .Release.Name }}-nats --cascade=orphan -n {{ .Release.Namespace }};
            kubectl label namespace {{ .Release.Namespace }} stanEnabled=true;
            kubectl label namespace {{ .Release.Namespace }} jetstreamEnabled-
          else
            echo "{{ .Release.Name }}-Nats is already enabled with stan. skipping sts cleanup"
          fi
          {{ else }}
          data=`kubectl get ns {{ .Release.Namespace }} -o=jsonpath='{.metadata.labels.jetstreamEnabled}'`
          if [[ "$data" = "" ]]  ; then
            kubectl delete sts {{ .Release.Name }}-nats  -n {{ .Release.Namespace }};
            kubectl label namespace {{ .Release.Namespace }} jetstreamEnabled=true;
            kubectl label namespace {{ .Release.Namespace }} stanEnabled-
          else
            echo "{{ .Release.Name }}-Nats is already enabled with jetstream. skipping sts cleanup"
          fi
          {{ end }}
{{ end }}
{{ end }}
