################################
## Nats Server ServiceAccount ##
################################
{{- if and .Values.nats.serviceAccount.create .Values.global.rbacEnabled }}
{{- if or (eq .Values.global.plane.mode "control") (eq .Values.global.plane.mode "unified") }}
apiVersion: v1
kind: ServiceAccount
automountServiceAccountToken: {{ .Values.nats.serviceAccount.automountServiceAccountToken }}
metadata:
  name: {{ template "nats.serviceAccountName" . }}
  labels:
    app: {{ template "nats.name" . }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
    plane: {{ .Values.global.plane.mode }}
  annotations:
    "helm.sh/hook": "pre-install,pre-upgrade"
  {{- with .Values.nats.serviceAccount.annotations }}
    {{- toYaml . | nindent 4 }}
  {{- end }}
{{- end -}}
{{- end }}
