##################
## Nats Service ##
##################
apiVersion: v1
kind: Service
metadata:
  name: {{ template "nats.name" . }}
  annotations:
  {{- if .Values.exporter.enabled }}
    prometheus.io/path: "/metrics"
    prometheus.io/port: "7777"
    prometheus.io/scrape: "true"
  {{- end }}
  {{ if .Values.global.enableArgoCDAnnotation }}
    argocd.argoproj.io/sync-wave: "-1"
  {{- end }}
  labels:
    app: {{ template "nats.name" . }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
spec:
  selector:
    tier: astronomer
    app: {{ template "nats.name" . }}
    release: {{ .Release.Name }}
  # Only use headless service in the case
  # of clustered mode
  {{- if .Values.cluster.enabled }}
  clusterIP: None
  {{- end }}
  ports:
  - name: client
    port: 4222
    appProtocol: tcp
  - name: cluster
    port: 6222
    appProtocol: tcp
  - name: monitor
    port: 8222
    appProtocol: http
  - name: metrics
    port: 7777
    appProtocol: http
  - name: leafnodes
    port: 7422
    appProtocol: tcp
  - name: gateways
    port: 7522
    appProtocol: tcp
