################################
## Houston Cleanup CronJob
#################################
{{- if .Values.houston.cleanupDeployments.enabled }}
apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: {{ .Release.Name }}-cleanup-deployments
  labels:
    tier: astronomer
    component: houston
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  schedule: {{ .Values.houston.cleanupDeployments.schedule }}
  jobTemplate:
    spec:
      template:
        metadata:
          labels:
            tier: astronomer
            component: houston
            release: {{ .Release.Name }}
        spec:
          nodeSelector:
{{ toYaml (default .Values.global.platformNodePool.nodeSelector .Values.nodeSelector) | indent 12 }}
          affinity:
{{ toYaml (default .Values.global.platformNodePool.affinity .Values.affinity) | indent 12 }}
          tolerations:
{{ toYaml (default .Values.global.platformNodePool.tolerations .Values.tolerations) | indent 12 }}
          restartPolicy: Never
          containers:
            - name: cleanup
              image: {{ template "houston.image" . }}
              imagePullPolicy: {{ .Values.images.houston.pullPolicy }}
              # If you supply only args for a Container, the default Entrypoint defined in the Docker image is run with the args that you supplied.
              args: ["npm", "run", "cleanup-deployments", "--older-than={{ .Values.houston.cleanupDeployments.olderThan }}"]
              volumeMounts:
                {{- include "houston_volume_mounts" . | indent 16 }}
              env:
                {{- include "houston_environment" . | indent 16 }}
          volumes:
            {{- include "houston_volumes" . | indent 12 }}
{{- end }}
