#####################
## Houston Ingress ##
#####################
{{- if .Values.global.baseDomain }}
kind: Ingress
apiVersion: {{ template "apiVersion.Ingress" . }}
metadata:
  name: {{ .Release.Name }}-houston-ingress
  labels:
    component: houston-ingress
    tier: astronomer
    release: {{ .Release.Name }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    heritage: {{ .Release.Service }}
  annotations:
    {{- if .Values.global.authSidecar.enabled  }}
{{- toYaml .Values.global.extraAnnotations | nindent 4 }}
    {{- else }}
    {{- if .Values.global.extraAnnotations }}
{{- toYaml .Values.global.extraAnnotations | nindent 4 }}
    {{- end }}
    kubernetes.io/ingress.class: "{{ .Release.Name }}-nginx"
    kubernetes.io/tls-acme: {{ eq .Values.global.acme true | quote }}
    nginx.ingress.kubernetes.io/custom-http-errors: "404"
    nginx.ingress.kubernetes.io/configuration-snippet: |
      location ~ ^/v1/(registry\/events|alerts|elasticsearch|metrics) {
        deny all;
        return 403;
      }
    nginx.ingress.kubernetes.io/proxy-buffer-size: "16k"
    {{- end }}

    {{- if .Values.houston.ingress.annotation }}
    {{- toYaml .Values.houston.ingress.annotation | nindent 4 }}
    {{- end }}
spec:
  {{- if or .Values.global.tlsSecret .Values.global.acme }}
  tls:
  {{- if .Values.global.acme }}
    - secretName: houston-tls
  {{- end }}
  {{- if .Values.global.tlsSecret }}
    - secretName: {{ .Values.global.tlsSecret }}
  {{- end }}
      hosts:
        - houston.{{ .Values.global.baseDomain }}
  {{- end }}
  rules:
  - host: houston.{{ .Values.global.baseDomain }}
    http:
      paths:
        - path: /
          pathType: Prefix
          backend:
            service:
              name: {{ .Release.Name }}-houston
              port:
                name: houston-http
{{- end }}
