# Default values for Prometheus.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

global:
  veleroEnabled: false
  istio:
    enabled: true
  platformNodePool:
    nodeSelector: {}
    affinity: {}
    tolerations: []
  privateRegistry:
    enabled: false
    repository: ~

nodeSelector: {}
affinity: {}
tolerations: []

# Prometheus is not designed to be horizontally scalable behind a single load
# balancer. This configuration will increase the replicas in the Prometheus
# StatefulSet, and assign a different Service to each Pod. In this way,
# applications with high availability requirements may handle retrying for
# missing data on the other Service(s). The StatefulSet will manage the Pods
# such that only one is replaced at a time.
replicas: 1

images:
  init:
    repository: astronomerinc/ap-base
    tag: 0.11.0
    pullPolicy: IfNotPresent
  prometheus:
    repository: astronomerinc/ap-prometheus
    tag: 0.11.0
    pullPolicy: IfNotPresent

resources: {}
#  limits:
#   cpu: 100m
#   memory: 128Mi
#  requests:
#   cpu: 100m
#   memory: 128Mi

# Which directory prometheus data should be stored
dataDir: "/prometheus"

# How long prometheus should keep data before removing
retention: 15d

# Enable persistence for Prometheus
persistence:
  enabled: true
  size: 100Gi
  storageClassName: ~

ports:
  http: 9090

ingressNetworkPolicyExtraSelectors: []
