# Default values for Prometheus.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

nodeSelector: {}
affinity: {}
tolerations: []

images:
  init:
    repository: astronomerinc/ap-base
    tag: 0.11.0-alpha.5
    pullPolicy: IfNotPresent
  prometheus:
    repository: astronomerinc/ap-prometheus
    tag: 0.11.0-alpha.5
    pullPolicy: IfNotPresent

resources: {}
#  limits:
#   cpu: 100m
#   memory: 128Mi
#  requests:
#   cpu: 100m
#   memory: 128Mi

# Which directory prometheus data should be stored
dataDir: "/prometheus"

# How long prometheus should keep data before removing
retention: 15d

# Enable persistence for Prometheus
persistence:
  enabled: true
  size: 100Gi
  storageClassName: ~

ports:
  http: 9090
