version: 2.1

jobs:
  lint:
    docker:
      - image: quay.io/astronomer/ap-build:0.1.3
    steps:
      - checkout
      - run:
          name: Install ci tools
          command: ./bin/install-ci-tools 1
      - run:
          name: Lint the Astronomer chart
          command: export PATH=/tmp/bin:$PATH make lint

  unittest-charts:
    docker:
      - image: quay.io/astronomer/ap-build:0.1.3
    steps:
      - checkout
      - run:
          name: unittest the Astronomer chart
          command: make unittest-charts

  build-artifact:
    docker:
      - image: quay.io/astronomer/ap-build:0.1.3
    steps:
      - checkout
      - run:
          name: Install ci tools
          command: ./bin/install-ci-tools 1
      - run:
          name: Package the Astronomer chart
          command: make build
      - persist_to_workspace:
          root: '.'
          paths:
            - './*.tgz'

  release-to-internal:
    machine:
      image: ubuntu-2004:202008-01
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - checkout
      - run:
          name: Release the Astronomer chart to internal
          command: |
            set -e
            sudo apt-get update && sudo apt-get install -y ca-certificates curl
            pyenv global 2.7.17
            bin/release-helm-chart /tmp/workspace/astronomer-*.tgz

  release-to-public:
    machine:
      image: ubuntu-2004:202008-01
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - checkout
      - run:
          name: Release the Astronomer chart to prod
          command: |
            set -e
            sudo apt-get update && sudo apt-get install -y ca-certificates curl
            pyenv global 2.7.17
            bin/release-helm-chart -p /tmp/workspace/astronomer-*.tgz
      - publish-github-release
{% for version in kube_versions %}
  platform-{{ version | replace(".", "-") }}:
    machine:
      image: ubuntu-2004:202008-01
      resource_class: xlarge
    environment:
      KUBE_VERSION: v{{ version }}
    steps:
      - helm-install:
          astronomer-tags: "platform postgresql monitoring logging kubed keda"
{% endfor %}

workflows:
  version: 2.1
  build-and-release-helm-chart:
    jobs:
      - lint
      - unittest-charts
      - build-artifact:
          requires:
            - lint
{% for version in kube_versions %}
      - platform-{{ version | replace(".", "-") }}:
          requires:
            - build-artifact
            - unittest-charts
{% endfor %}
      - approve-internal-release:
          type: approval
          requires:
{% for version in kube_versions %}
            - platform-{{ version | replace(".", "-") }}{% endfor %}

          filters:
            branches:
              only:
                - '/release-0\.\d+/'

      - release-to-internal:
          requires:
            - approve-internal-release

      - approve-public-release:
          type: approval
          requires:
            - release-to-internal

          filters:
            branches:
              only:
                - '/release-0\.(12|13|14|15|16)/'

      - release-to-public:
          requires:
            - approve-public-release
          filters:
            branches:
              only:
                - '/release-0\.(12|13|14|15|16)/'

commands:
  helm-install:
    description: "Install Helm chart from artifact"
    parameters:
      astronomer-tags:
        type: string
        default: "platform"
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - checkout
      - add_ssh_keys:
          fingerprints:
            - "fb:bd:3c:2f:ef:af:e9:5b:fe:33:0e:e1:01:80:9f:cf"
      - run:
          name: Install Astronomer chart
          command: |
            set -e
            HELM_CHART_PATH='/tmp/workspace/astronomer-*.tgz' bin/run-ci << parameters.astronomer-tags >>

  publish-github-release:
    description: "Create a release on GitHub"
    parameters:
      tag:
        type: string
        default: "$NEXT_TAG"
    steps:
      - run:
          name: Create a release on GitHub
          command: |
            set -xe
            pyenv global 3.8.2
            pip install astronomer_e2e_test
            astronomer-ci publish-github-release --github-repository $CIRCLE_PROJECT_REPONAME --github-organization $CIRCLE_PROJECT_USERNAME --commitish $CIRCLE_SHA1
