version: 2.1

jobs:
  lint:
    docker:
      - image: astronomerio/ap-build:0.1.3
    steps:
      - checkout
      - run:
          name: Lint the Astronomer chart
          command: make lint
  build-artifact:
    docker:
      - image: astronomerio/ap-build:0.1.3
    steps:
      - checkout
      - run:
          name: Package the Astronomer chart
          command: make build
      - persist_to_workspace:
          root: '.'
          paths:
            - './*.tgz'
  release:
    machine:
      image: ubuntu-1604:201903-01
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - checkout
      - publish-github-release
      - run:
          name: Release the Astronomer chart
          command: |
            printf "%s" $${GCP_TOKEN} > /tmp/gcs_token.json
            gcloud auth activate-service-account --key-file=/tmp/gcs_token.json
            HELM_CHART_PATH='/tmp/workspace/astronomer-*.tgz' bin/release
{% for version in kube_versions %}
  platform-{{ version | replace(".", "-") }}:
    machine:
      image: ubuntu-1604:201903-01
      resource_class: 2xlarge
    environment:
      KUBE_VERSION: v{{ version }}
    steps:
      - helm-install:
          astronomer-tags: "platform postgresql monitoring logging kubed keda"
{% endfor %}

workflows:
  version: 2.1
  install-helm-tags:
    jobs:
      - lint
      - build-artifact:
          requires:
            - lint
{% for version in kube_versions %}
      - platform-{{ version | replace(".", "-") }}:
          requires:
            - build-artifact
{% endfor %}
      - approve-release:
          type: approval
          requires:
{% for version in kube_versions %}
            - platform-{{ version | replace(".", "-") }}
{% endfor %}
          filters:
            branches:
              only:
                - '/release-.*/'
      - release:
          requires:
            - approve-release
          filters:
            branches:
              only:
                - '/release-.*/'
commands:
  helm-install:
    description: "Install Helm chart from artifact"
    parameters:
      astronomer-tags:
        type: string
        default:  "platform"
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - checkout
      - run:
          name: Install Astronomer chart
          command: |
            set -e
            HELM_CHART_PATH='/tmp/workspace/astronomer-*.tgz' bin/run-ci << parameters.astronomer-tags >>
  publish-github-release:
    description: "Create a release on GitHub"
    parameters:
      tag:
        type: string
        default:  "$NEXT_TAG"
    steps:
      - run:
          name: Create a release on GitHub
          command: |
            set -xe
            pip3 install --user astronomer_e2e_test
            # We can remove --debug after we are happy with it
            astronomer-ci --debug publish-github-release --github-repository $CIRCLE_PROJECT_REPONAME --github-organization $CIRCLE_PROJECT_USERNAME --commitish $CIRCLE_SHA1
