# Default values for alertmanager.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

nodeSelector: {}
affinity: {}
tolerations: []

images:
  alertmanager:
    repository: astronomerinc/ap-alertmanager
    tag: 0.20.0
    pullPolicy: IfNotPresent

resources: {}
  # limits:
  #  cpu: 100m
  #  memory: 128Mi
  # requests:
  #  cpu: 100m
  #  memory: 128Mi

replicas: 1

dataDir: "/data"

prefixURL: ""

persistence:
  enabled: true
  size: 2Gi
  storageClassName: ~

env: {}

ports:
  http: 9093

receivers:
  # Configs for platform alerts
  platform: {}

  # Configs for airflow alerts
  airflow: {}
