##########################
## NGINX ServiceAccount ##
##########################
{{- if .Values.global.rbacEnabled }}
kind: ServiceAccount
apiVersion: v1
metadata:
  name: {{ template "nginx.serviceAccount" . }}
  labels:
    tier: nginx
    chart: {{ template "nginx.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
{{- end }}
