######################################
## Nginx controller pods NetworkPolicy
######################################
{{- if and .Values.defaultBackend.enabled .Values.global.networkPolicy.enabled }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ .Release.Name }}-nginx-default-backend-policy
  labels:
    tier: astronomer
    component: nginx-default-backend-policy
    release: {{ .Release.Name }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    heritage: {{ .Release.Service }}
spec:
  podSelector:
    matchLabels:
      tier: {{ template "nginx.name" . }}
      component: default-backend
      release: {{ .Release.Name }}
  policyTypes:
  - Ingress
  ingress:
  - from:
    - podSelector:
        matchLabels:
          tier: {{ template "nginx.name" . }}
          component: ingress-controller
          release: {{ .Release.Name }}
    ports:
    - protocol: TCP
      port: {{ .Values.ports.defaultBackendHTTP }}
{{- end }}
