#################################################
## Nginx controller metrics pods NetworkPolicy ##
#################################################
{{- if .Values.global.networkPolicy.enabled }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ .Release.Name }}-nginx-metrics-policy
  labels:
    tier: astronomer
    component: nginx-metrics
    release: {{ .Release.Name }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    heritage: {{ .Release.Service }}
spec:
  podSelector:
    matchLabels:
      component: ingress-controller
      tier: nginx
      release: {{ .Release.Name }}
  policyTypes:
  - Ingress
  ingress:
  - from:
    - podSelector:
        matchLabels:
          tier: monitoring
          component: prometheus
          release: {{ .Release.Name }}
    ports:
    - protocol: TCP
      port: {{ .Values.ports.metrics }}
{{- end }}
