################################
## Astronomer Nginx Pod Disruption Budget
#################################
apiVersion: policy/v1beta1
kind: PodDisruptionBudget
metadata:
  name: {{ .Release.Name }}-nginx-pdb
spec:
  {{- if lt ( .Values.replicas | int ) 4 }}
  maxUnavailable: 1
  {{- else }}
  maxUnavailable: 25%
  {{- end }}
  selector:
    matchLabels:
      tier: {{ template "nginx.name" . }}
      component: ingress-controller
      release: {{ .Release.Name }}
