################################
## NGINX Default backend deployment
#################################
kind: Deployment
apiVersion: apps/v1beta2
metadata:
  name: {{ template "nginx.fullname" . }}-default-backend
  labels:
    tier: {{ template "nginx.name" . }}
    component: default-backend
    chart: {{ template "nginx.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  replicas: 1
  selector:
    matchLabels:
      tier: {{ template "nginx.name" . }}
      component: default-backend
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        tier: {{ template "nginx.name" . }}
        component: default-backend
        release: {{ .Release.Name }}
    spec:
      nodeSelector:
{{ toYaml (default .Values.global.platformNodePool.nodeSelector .Values.nodeSelector) | indent 8 }}
      affinity:
{{ toYaml (default .Values.global.platformNodePool.affinity .Values.affinity) | indent 8 }}
      tolerations:
{{ toYaml (default .Values.global.platformNodePool.tolerations .Values.tolerations) | indent 8 }}
      terminationGracePeriodSeconds: 60
      containers:
        - name: {{ .Release.Name }}-default-backend
          image: {{ template "nginx.defaultBackend.image" . }}
          imagePullPolicy: {{ .Values.images.defaultBackend.pullPolicy }}
          livenessProbe:
            httpGet:
              path: /healthz
              port: {{ .Values.ports.defaultBackendHTTP }}
              scheme: HTTP
            initialDelaySeconds: 30
            timeoutSeconds: 5
          ports:
            - containerPort: {{ .Values.ports.defaultBackendHTTP }}
