################################
## Nginx PSP ClusterRole
#################################
{{- if .Values.global.pspEnabled }}
kind: ClusterRole
apiVersion: {{ template "apiVersion.rbac" . }}
metadata:
  name: {{ .Release.Name }}-psp-ingress-nginx
rules:
- apiGroups:
  - policy
  resources:
  - podsecuritypolicies
  resourceNames:
  - {{ .Release.Name }}-ingress-nginx
  verbs:
  - use
{{- end -}}
