################################
## Nginx PSP RoleBinding
#################################
{{- if .Values.global.pspEnabled }}
apiVersion: {{ template "apiVersion.rbac" . }}
kind: RoleBinding
metadata:
  name: {{ .Release.Name }}-psp-ingress-nginx
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ .Release.Name }}-psp-ingress-nginx
subjects:
- kind: ServiceAccount
  name: {{ template "nginx.fullname" . }}
{{- end -}}
