################################
## NGINX Default backend deployment
#################################
kind: Deployment
apiVersion: apps/v1
metadata:
  name: {{ template "nginx.fullname" . }}-default-backend
  labels:
    tier: {{ template "nginx.name" . }}
    component: default-backend
    chart: {{ template "nginx.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  replicas: {{ .Values.replicasDefaultBackend }}
  selector:
    matchLabels:
      tier: {{ template "nginx.name" . }}
      component: default-backend
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        tier: {{ template "nginx.name" . }}
        component: default-backend
        release: {{ .Release.Name }}
        app: {{ template "nginx.name" . }}
        version: {{ .Chart.Version }}
    spec:
      nodeSelector: {{ toYaml (default .Values.global.platformNodePool.nodeSelector .Values.nodeSelector) | nindent 8 }}
      affinity: {{ toYaml (default .Values.global.platformNodePool.affinity .Values.affinity) | nindent 8 }}
      tolerations: {{ toYaml (default .Values.global.platformNodePool.tolerations .Values.tolerations) | nindent 8 }}
      terminationGracePeriodSeconds: 60
{{- include "nginx.imagePullSecrets" . | indent 6 }}
      containers:
        - name: default-backend
          image: {{ template "nginx.defaultBackend.image" . }}
          imagePullPolicy: {{ .Values.images.defaultBackend.pullPolicy }}
          securityContext: {{ toYaml .Values.securityContext| nindent 12 }}
          livenessProbe:
            httpGet:
              path: /healthz
              port: {{ .Values.ports.defaultBackendHTTP }}
              scheme: HTTP
            initialDelaySeconds: 30
            timeoutSeconds: 5
          resources: {{ toYaml .Values.defaultBackend.resources | nindent 12 }}
          ports:
            - containerPort: {{ .Values.ports.defaultBackendHTTP }}
