########################
## Prometheus Ingress ##
########################
{{- if .Values.global.baseDomain }}
kind: Ingress
apiVersion: {{ template "apiVersion.Ingress" . }}
metadata:
  name: {{ template "prometheus.fullname" . }}-ingress
  labels:
    tier: prometheus-networking
    component: prometheus-ingress
    chart: {{ template "prometheus.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
  annotations:
    {{- if .Values.global.authSidecar.enabled }}
{{- toYaml .Values.global.extraAnnotations | nindent 4 }}
    {{- else }}
    {{- if .Values.global.extraAnnotations }}
{{- toYaml .Values.global.extraAnnotations | nindent 4 }}
    {{- end }}
    kubernetes.io/ingress.class: "{{ .Release.Name }}-nginx"
    {{- include "houston.internalauthurl" . | nindent 4 }}
    nginx.ingress.kubernetes.io/auth-signin: https://app.{{ .Values.global.baseDomain }}/login
    nginx.ingress.kubernetes.io/auth-response-headers: authorization, username, email
    {{- end }}
spec:
  {{- if .Values.global.tlsSecret }}
  tls:
    - secretName: {{ .Values.global.tlsSecret }}
      hosts:
        - {{ template "prometheus.url" . }}
  {{- end }}
  rules:
    - host: {{ template "prometheus.url" . }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ template "prometheus.fullname" . }}
                port:
                  {{- if .Values.global.authSidecar.enabled }}
                  name: auth-proxy
                  {{- else }}
                  name: prometheus-data
                  {{- end }}
{{- end }}
