################################
## Prometheus Config ConfigMap
#################################
kind: ConfigMap
apiVersion: v1
metadata:
  name: {{ template "prometheus.fullname" . }}-config
  labels:
    tier: monitoring
    component: {{ template "prometheus.name" . }}
    chart: {{ template "prometheus.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
data:
  prometheus.yaml: |-
    global:
      scrape_interval: 10s
      evaluation_interval: 30s

    # Configure Alertmanager
    alerting:
      alertmanagers:
        - kubernetes_sd_configs:
            - role: pod
              namespaces:
                names:
                  - {{ .Release.Namespace }}
          tls_config:
            ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
          bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
          relabel_configs:
          - source_labels: [__meta_kubernetes_pod_label_component]
            regex: alertmanager
            action: keep
          - source_labels: [__meta_kubernetes_namespace]
            regex: {{ .Release.Namespace }}
            action: keep
          - source_labels: [__meta_kubernetes_pod_container_port_name]
            regex: alertmanager
            action: keep

    # Configure built in alerting rules
    rule_files:
      - "/etc/prometheus/alerts.d/*.yaml"

    # Configure targets to scrape
    scrape_configs:
      - job_name: prometheus
        static_configs:
          - targets: ["localhost:9090"]

      - job_name: nginx
        kubernetes_sd_configs:
          - role: service
            namespaces:
              names:
                - {{ .Release.Namespace }}
        relabel_configs:
          - source_labels: [__meta_kubernetes_service_name]
            action: keep
            regex: "^{{ .Release.Name }}-nginx"
          - source_labels: [__meta_kubernetes_service_annotation_prometheus_io_scrape]
            action: keep
            regex: true
          - source_labels: [__address__, __meta_kubernetes_service_annotation_prometheus_io_port]
            action: replace
            regex: ([^:]+)(?::\d+)?;(\d+)
            replacement: $1:$2
            target_label: __address__

      - job_name: elasticsearch
        kubernetes_sd_configs:
          - role: service
            namespaces:
              names:
                - {{ .Release.Namespace }}
        relabel_configs:
          - source_labels: [__meta_kubernetes_service_name]
            action: keep
            regex: "^{{ .Release.Name }}-elasticsearch-exporter"
          - source_labels: [__meta_kubernetes_service_annotation_prometheus_io_scrape]
            action: keep
            regex: true
          - source_labels: [__address__, __meta_kubernetes_service_annotation_prometheus_io_port]
            action: replace
            regex: ([^:]+)(?::\d+)?;(\d+)
            replacement: $1:$2
            target_label: __address__

      # - job_name: registry
      #   kubernetes_sd_configs:
      #     - role: service
      #       namespaces:
      #         names:
      #           - {{ .Release.Namespace }}
      #   relabel_configs:
      #     - source_labels: [__meta_kubernetes_service_name]
      #       action: keep
      #       regex: "^{{ .Release.Name }}-registry"
      #     - source_labels: [__meta_kubernetes_service_annotation_prometheus_io_scrape]
      #       action: keep
      #       regex: true
      #     - source_labels: [__address__, __meta_kubernetes_service_annotation_prometheus_io_port]
      #       action: replace
      #       regex: ([^:]+)(?::\d+)?;(\d+)
      #       replacement: $1:$2
      #       target_label: __address__

      {{- if .Values.global.veleroEnabled }}
      - job_name: velero
        scrape_interval: 30s
        kubernetes_sd_configs:
          - role: service
            namespaces:
              names:
                - velero
        relabel_configs:
          - source_labels: [__meta_kubernetes_service_name]
            action: keep
            regex: "velero"
          - source_labels: [__address__]
            action: replace
            regex: ([^:]+)(?::\d+)?;(\d+)
            replacement: $1:$2
            target_label: __address__
      {{- end }}

      - job_name: kube-state
        scrape_interval: 5s # Faster scrape to power dashboards
        kubernetes_sd_configs:
          - role: service
            namespaces:
              names:
                - {{ .Release.Namespace }}
        relabel_configs:
          - source_labels: [__meta_kubernetes_service_name]
            action: keep
            regex: "^{{ .Release.Name }}-kube-state"
          - source_labels: [__meta_kubernetes_service_annotation_prometheus_io_scrape]
            action: keep
            regex: true
          - source_labels: [__address__, __meta_kubernetes_service_annotation_prometheus_io_port]
            action: replace
            regex: ([^:]+)(?::\d+)?;(\d+)
            replacement: $1:$2
            target_label: __address__

          {{- if not .Values.global.singleNamespace }}
            # This allows us to collect all the metrics we want in the cloud environment
            # does not limit to just the astronomer release namespace
          - source_labels: [__meta_kubernetes_endpoint_address_target_kind, __meta_kubernetes_endpoint_address_target_name]
            separator: ;
            regex: Node;(.*)
            target_label: node
            replacement: ${1}
            action: replace
          - source_labels: [__meta_kubernetes_endpoint_address_target_kind, __meta_kubernetes_endpoint_address_target_name]
            separator: ;
            regex: Pod;(.*)
            target_label: pod
            replacement: ${1}
            action: replace
          - source_labels: [__meta_kubernetes_namespace]
            separator: ;
            regex: (.*)
            target_label: namespace
            replacement: $1
            action: replace
          - source_labels: [__meta_kubernetes_service_name]
            separator: ;
            regex: (.*)
            target_label: service
            replacement: $1
            action: replace
          - source_labels: [__meta_kubernetes_pod_name]
            separator: ;
            regex: (.*)
            target_label: pod
            replacement: $1
            action: replace
          - source_labels: [__meta_kubernetes_service_name]
            separator: ;
            regex: (.*)
            target_label: job
            replacement: ${1}
            action: replace
          - separator: ;
            regex: (.*)
            target_label: endpoint
            replacement: http-metrics
            action: replace
          - separator: ;
            regex: (pod|service|endpoint|namespace)
            replacement: $1
            action: labeldrop            
            # end jpw new
        metric_relabel_configs:
          # Required for multi-namespace mode
          - source_labels: [namespace]
            regex: "^{{ .Release.Namespace }}-(.*-.*-[0-9]{4})$"
            replacement: "$1"
            target_label: release
        {{- else}}
        # this drops node metrics that we want in the cloud, but maybe shouldn't be scraping
        # if we are in a shared cluster in enterprise
        metric_relabel_configs:
          # Only keep metrics that start with platforms namespace (includes airflow children)
          - action: keep
            source_labels: [namespace]
            regex: "^{{ .Release.Namespace }}.*"
          - source_labels: [deployment]
            regex: "^(.*-.*-[0-9]{4})-.*"
            replacement: "$1"
            target_label: release
          # Required for single-namespace mode
          - source_labels: [pod]
            regex: "^(.*-.*-[0-9]{4})-.*"
            replacement: "$1"
            target_label: release
          {{- end}}

      - job_name: fluentd
        scrape_interval: 30s
        kubernetes_sd_configs:
          - role: pod
            namespaces:
              names:
                - {{ .Release.Namespace }}
        relabel_configs:
          - source_labels: [__meta_kubernetes_pod_name]
            action: keep
            regex: "^{{ .Release.Name }}-fluentd-.*"
          - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_scrape]
            action: keep
            regex: true
          - source_labels: [__address__, __meta_kubernetes_pod_annotation_prometheus_io_port]
            action: replace
            regex: ([^:]+)(?::\d+)?;(\d+)
            replacement: $1:$2
            target_label: __address__
        metric_relabel_configs:
          - source_labels: [__name__]
            regex: 'fluentd_tail_file_.*'
            action: drop

      {{- if .Values.global.nodeExporterEnabled }}
      - job_name: node-exporter
        scrape_interval: 30s
        kubernetes_sd_configs:
          - role: pod
            namespaces:
              names:
                - {{ .Release.Namespace }}
        relabel_configs:
          - source_labels: [__meta_kubernetes_pod_name]
            action: keep
            regex: "^{{ .Release.Name }}-prometheus-node-exporter-.*"
          - source_labels: [__meta_kubernetes_namespace]
            separator: ;
            regex: (.*)
            target_label: namespace
            replacement: $1
            action: replace
          - source_labels: [__meta_kubernetes_pod_name]
            separator: ;
            regex: (.*)
            target_label: pod
            replacement: $1
            action: replace
          - source_labels: [__meta_kubernetes_pod_node_name]
            separator: ;
            regex: (.*)
            target_label: instance
            replacement: $1
            action: replace
      {{- end }}

      - job_name: airflow
        scrape_interval: 5s # Faster scrape to power dashboards
        kubernetes_sd_configs:
          - role: service
          {{- if .Values.global.singleNamespace }}
            namespaces:
              names:
                - {{ .Release.Namespace }}
          {{- end }}
        relabel_configs:
          - action: labelmap
            regex: __meta_kubernetes_service_label_(.+)
          - source_labels: [__meta_kubernetes_service_annotation_astronomer_io_platform_release]
            action: keep
            regex: ^{{ .Release.Name }}$
          - source_labels: [__meta_kubernetes_service_annotation_prometheus_io_scrape]
            action: keep
            regex: true
          - source_labels: [__address__, __meta_kubernetes_service_annotation_prometheus_io_port]
            action: replace
            regex: ([^:]+)(?::\d+)?;(\d+)
            replacement: $1:$2
            target_label: __address__
        metric_relabel_configs:
          - source_labels: [instance]
            regex: "^(.*-.*-[0-9]{4})-.*$"
            replacement: "$1"
            target_label: deployment
            # Drop metrics that are task or dag specific
          - source_labels: [__name__]
            regex: 'airflow_task_instance_created_.*'
            action: drop
          - source_labels: [__name__]
            regex: 'airflow_task_removed_from_dag_.*'
            action: drop
          - source_labels: [__name__]
            regex: 'airflow_task_restored_to_dag_.*'
            action: drop
          - source_labels: [__name__]
            regex: 'airflow_dagrun_duration_success_.*'
            action: drop
          - source_labels: [__name__]
            regex: 'airflow_dagrun_duration_failed_.*'
            action: drop
          - source_labels: [__name__]
            regex: 'airflow_dagrun_dependency_check_.*_count'
            action: drop
          - source_labels: [__name__]
            regex: 'airflow_dagrun_dependency_check_.*_sum'
            action: drop
          - source_labels: [__name__]
            regex: 'airflow_dagrun_schedule_delay_.*'
            action: drop
          - source_labels: [__name__]
            regex: 'airflow_dagrun_duration_success_.*'
            action: drop
          - source_labels: [__name__]
            regex: 'airflow_dagrun_duration_failed_.*'
            action: drop
          - source_labels: [__name__]
            regex: 'airflow_dag_processing_last_duration_.*_count'
            action: drop
          - source_labels: [__name__]
            regex: 'airflow_dag_processing_last_duration_.*_sum'
            action: drop

      {{- if not .Values.global.singleNamespace }}
      - job_name: kubernetes-nodes
        scheme: https
        tls_config:
          ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
        bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
        kubernetes_sd_configs:
          - role: node
        relabel_configs:
          - action: labelmap
            regex: __meta_kubernetes_node_label_(.+)
          - target_label: __address__
            replacement: kubernetes.default.svc:443
          - source_labels: [__meta_kubernetes_node_name]
            regex: (.+)
            target_label: __metrics_path__
            replacement: /api/v1/nodes/${1}/proxy/metrics

      - job_name: kubernetes-nodes-cadvisor
        scheme: https
        tls_config:
          ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
        bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
        kubernetes_sd_configs:
          - role: node
        relabel_configs:
          - action: labelmap
            regex: __meta_kubernetes_node_label_(.+)
          - target_label: __address__
            replacement: kubernetes.default.svc:443
          - source_labels: [__meta_kubernetes_node_name]
            regex: (.+)
            target_label: __metrics_path__
            replacement: /api/v1/nodes/${1}/proxy/metrics/cadvisor
          - source_labels: [__metrics_path__]
            separator: ;
            regex: (.*)
            target_label: metrics_path
            replacement: $1
            action: replace

            #jpw added
          - source_labels: [__meta_kubernetes_endpoint_address_target_kind, __meta_kubernetes_endpoint_address_target_name]
            separator: ;
            regex: Pod;(.*)
            target_label: pod
            replacement: ${1}
            action: replace
          - source_labels: [__meta_kubernetes_namespace]
            separator: ;
            regex: (.*)
            target_label: namespace
            replacement: $1
            action: replace
          - source_labels: [__meta_kubernetes_service_name]
            separator: ;
            regex: (.*)
            target_label: service
            replacement: $1
            action: replace
          - source_labels: [__meta_kubernetes_pod_name]
            separator: ;
            regex: (.*)
            target_label: pod
            replacement: $1
            action: replace
          - source_labels: [__metrics_path__]
            separator: ;
            regex: (.*)
            target_label: metrics_path
            replacement: $1
            action: replace
        metric_relabel_configs:
          - source_labels: [__name__]
            separator: ;
            regex: container_(network_tcp_usage_total|network_udp_usage_total|tasks_state|cpu_load_average_10s)
            replacement: $1
            action: drop            
            #end jpw

          - action: replace
            source_labels: [id]
            regex: '^/system\.slice/(.+)\.service$'
            target_label: systemd_service_name
            replacement: '${1}'

            # Drop some unnecessary labels
          - regex: "^(id|name)"
            action: labeldrop

            # Add deployment name via container_name
          - source_labels: [pod_name]
            regex: "^(.*-.*-[0-9]{4})-.*"
            replacement: "$1"
            target_label: deployment

            # This will patch up most metrics
          - source_labels: [container_name]
            regex: "^(.*)$"
            replacement: "$1"
            target_label: component_name

          - source_labels: [pod_name]
            regex: "^.*-.*-(.*)$"
            replacement: "$1"
            target_label: component_instance

            # Network level metrics are exposed at the POD level
            # Deployment (others) format
          - source_labels: [__name__, container_name, pod_name]
            regex: "container_network_.*;(.*)-(.*)-([0-9a-z]{5,10}-[0-9a-z]{5})$"
            replacement: "$1"
            target_label: deployment
          - source_labels: [__name__, container_name, pod_name]
            regex: "container_network_.*;(.*)-(.*)-([0-9a-z]{5,10}-[0-9a-z]{5})$"
            replacement: "$2"
            target_label: component_name
          - source_labels: [__name__, container_name, pod_name]
            regex: "container_network_.*;(.*)-(.*)-([0-9a-z]{5,10}-[0-9a-z]{5})$"
            replacement: "$3"
            target_label: component_instance
            # StatefulSet (workers) format
          - source_labels: [__name__, pod_name]
            regex: "^container_network_.*;(.*)-(.*)-([0-9]+)$"
            replacement: "$2"
            target_label: component_name
          - source_labels: [__name__, pod_name]
            regex: "^container_network_.*;(.*)-(.*)-([0-9]+)$"
            replacement: "$3"
            target_label: component_instance

      {{- end }}
