#################################################
## Astronomer Prometheus Pod Disruption Budget ##
#################################################
{{- if .Values.global.podDisruptionBudgetsEnabled }}
apiVersion: {{ include "apiVersion.PodDisruptionBudget" . }}
kind: PodDisruptionBudget
metadata:
  name: {{ .Release.Name }}-prometheus-pdb
spec:
  maxUnavailable: 1
  selector:
    matchLabels:
      tier: monitoring
      component: {{ template "prometheus.name" . }}
      release: {{ .Release.Name }}
{{- end }}
