################################
## Prometheus StatefulSet
#################################
kind: StatefulSet
apiVersion: apps/v1beta2
metadata:
  name: {{ template "prometheus.fullname" . }}
  labels:
    tier: monitoring
    component: {{ template "prometheus.name" . }}
    chart: {{ template "prometheus.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  replicas: 1
  selector:
    matchLabels:
      tier: monitoring
      component: {{ template "prometheus.name" . }}
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        tier: monitoring
        component: {{ template "prometheus.name" . }}
        release: {{ .Release.Name }}
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/prometheus-config-configmap.yaml") . | sha256sum }}
        checksum/alerts: {{ include (print $.Template.BasePath "/prometheus-alerts-configmap.yaml") . | sha256sum }}
    spec:
      restartPolicy: Always
      serviceAccountName: {{ template "prometheus.fullname" . }}
      initContainers:
        - name: {{ template "prometheus.fullname" . }}-init
          image: {{ include "prometheus.init.image" . }}
          imagePullPolicy: {{ .Values.images.init.pullPolicy }}
          command: ["chown", "-R", "65534:65534", "{{ .Values.dataDir }}"]
          volumeMounts:
            - name: prometheus-data-volume
              mountPath: "{{ .Values.dataDir }}"
      containers:
        - name: {{ template "prometheus.fullname" . }}
          image: {{ include "prometheus.image" . }}
          imagePullPolicy: {{ .Values.images.prometheus.pullPolicy }}
          resources:
{{ toYaml .Values.resources | indent 12 }}
          args:
            - "--config.file=/etc/prometheus/config/prometheus.yaml"
            - "--storage.tsdb.path={{ .Values.dataDir }}"
            - "--storage.tsdb.retention={{ .Values.retention }}"
          volumeMounts:
            - name: prometheus-config-volume
              mountPath: /etc/prometheus/config
            - name: alert-volume
              mountPath: /etc/prometheus/alerts.d
            - name: prometheus-data-volume
              mountPath: {{ .Values.dataDir }}
          ports:
            - name: prometheus-data
              containerPort: {{ .Values.ports.http }}
          livenessProbe:
            httpGet:
              path: /graph
              port: {{ .Values.ports.http }}
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /graph
              port: {{ .Values.ports.http }}
            initialDelaySeconds: 10
            periodSeconds: 10
      volumes:
        - name: prometheus-config-volume
          configMap:
            name: {{ template "prometheus.fullname" . }}-config
            items:
              - key: prometheus.yaml
                path: prometheus.yaml
        - name: alert-volume
          configMap:
            name: {{ template "prometheus.fullname" . }}-alerts
            items:
              - key: alerts.yaml
                path: alerts.yaml
  {{- if not .Values.persistence.enabled }}
        - name: prometheus-data-volume
          emptyDir: {}
  {{- else }}
  volumeClaimTemplates:
    - metadata:
        name: prometheus-data-volume
      spec:
        accessModes: [ "ReadWriteOnce" ]
        resources:
          requests:
            storage: {{ .Values.persistence.size }}
      {{- if .Values.persistence.storageClassName }}
        storageClassName: {{ .Values.persistence.storageClassName }}
      {{- end }}
  {{- end }}
