################################
## Prometheus StatefulSet
#################################
kind: StatefulSet
apiVersion: apps/v1
metadata:
  name: {{ template "prometheus.fullname" . }}
  labels:
    tier: monitoring
    component: {{ template "prometheus.name" . }}
    chart: {{ template "prometheus.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  replicas: {{ .Values.replicas }}
  serviceName: {{ template "prometheus.fullname" . }}
  selector:
    matchLabels:
      tier: monitoring
      component: {{ template "prometheus.name" . }}
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
{{- with .Values.podLabels }}
{{ toYaml . | indent 8 }}
{{- end }}
        tier: monitoring
        component: {{ template "prometheus.name" . }}
        release: {{ .Release.Name }}
      annotations:
{{- if .Values.global.istio.enabled }}
        sidecar.istio.io/proxyCPU: "500m"
        sidecar.istio.io/proxyMemory: "400Mi"
{{- end }}
    spec:
      nodeSelector:
{{ toYaml (default .Values.global.platformNodePool.nodeSelector .Values.nodeSelector) | indent 8 }}
      affinity:
{{ toYaml (default .Values.global.platformNodePool.affinity .Values.affinity) | indent 8 }}
      tolerations:
{{ toYaml (default .Values.global.platformNodePool.tolerations .Values.tolerations) | indent 8 }}
      restartPolicy: Always
      serviceAccountName: {{ template "prometheus.fullname" . }}
      containers:
        {{- if .Values.global.authSidecar.enabled  }}
        - name: nginx
          image: {{ .Values.global.authSidecar.image }}
          imagePullPolicy: {{ .Values.global.authSidecar.pullPolicy }}
          {{- if .Values.global.authSidecar.resources }}
          resources: {{- toYaml .Values.global.authSidecar.resources | nindent 12 }}
          {{- end }}
          ports:
          - containerPort: 8080
            name: nginx-ui
            protocol: TCP
          volumeMounts:
          - mountPath: /etc/nginx/conf.d/
            name: prometheus-sidecar-conf
        {{- end }}
        - name: configmap-reloader
          args:
            - --webhook-url=http://localhost:9090/-/reload
            - --volume-dir=/etc/prometheus/alerts.d
            - --volume-dir=/etc/prometheus/config
          image: {{ include "configReloader.image" . }}
          imagePullPolicy: {{ .Values.images.prometheus.pullPolicy }}
          resources:
{{ toYaml .Values.configMapReloader.resources | indent 12 }}
          volumeMounts:
          - name: alert-volume
            mountPath: /etc/prometheus/alerts.d
          - name: prometheus-config-volume
            mountPath: /etc/prometheus/config

        - name: prometheus
          image: {{ include "prometheus.image" . }}
          imagePullPolicy: {{ .Values.images.prometheus.pullPolicy }}
          resources:
{{ toYaml .Values.resources | indent 12 }}
          args:
            - "--config.file=/etc/prometheus/config/prometheus.yaml"
            - "--storage.tsdb.path={{ .Values.dataDir }}"
            - "--storage.tsdb.retention.time={{ .Values.retention }}"
            {{- if .Values.enableLifecycle }}
            - "--web.enable-lifecycle"
            {{- end }}
            {{- if .Values.global.baseDomain }}
            - "--web.external-url=https://prometheus.{{ .Values.global.baseDomain }}"
            {{- end }}
          volumeMounts:
            - name: prometheus-config-volume
              mountPath: /etc/prometheus/config
            - name: alert-volume
              mountPath: /etc/prometheus/alerts.d
            - name: data
              mountPath: {{ .Values.dataDir }}
          ports:
            - name: prometheus-data
              containerPort: {{ .Values.ports.http }}
          livenessProbe:
            httpGet:
              path: /-/healthy
              port: {{ .Values.ports.http }}
            initialDelaySeconds: 10
            periodSeconds: 5
          readinessProbe:
            httpGet:
              path: /-/ready
              port: {{ .Values.ports.http }}
            initialDelaySeconds: 10
            periodSeconds: 5
      securityContext:
        fsGroup: 65534
        runAsNonRoot: true
        runAsUser: 65534
      volumes:
        {{- if .Values.global.authSidecar.enabled }}
        - name: prometheus-sidecar-conf
          configMap:
            name: {{ template "prometheus.fullname" . }}-nginx-conf
        {{- end }}
        - name: prometheus-config-volume
          configMap:
            name: {{ template "prometheus.fullname" . }}-config
            items:
              - key: config
                path: prometheus.yaml
        - name: alert-volume
          configMap:
            name: {{ template "prometheus.fullname" . }}-alerts
            items:
              - key: alerts
                path: alerts.yaml
  {{- if not .Values.persistence.enabled }}
        - name: data
          emptyDir: {}
  {{- else }}
  volumeClaimTemplates:
    - metadata:
        name: data
      spec:
        accessModes: [ "ReadWriteOnce" ]
        resources:
          requests:
            storage: {{ .Values.persistence.size }}
      {{- if .Values.persistence.storageClassName }}
        storageClassName: {{ .Values.persistence.storageClassName }}
      {{- end }}
  {{- end }}
