################################
## CLI Install NetworkPolicy
#################################
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ .Release.Name }}-cli-install-policy
  labels:
    tier: astronomer
    component: cli-install-policy
    release: {{ .Release.Name }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    heritage: {{ .Release.Service }}
spec:
  podSelector:
    matchLabels:
      tier: astronomer
      component: cli-install
      release: {{ .Release.Name }}
  policyTypes:
  - Ingress
  ingress:
  - from:
    {{- if and (.Values.global.authSidecar.enabled) (not .Values.global.nginxEnabled) }}
    - namespaceSelector:
        matchLabels:
          network.openshift.io/policy-group: ingress
    {{- else }}
    - podSelector:
        matchLabels:
          tier: nginx
          component: ingress-controller
    {{- end }}
    ports:
    - protocol: TCP
      port: {{ .Values.ports.installHTTP }}
