#############################
## Registry ServiceAccount ##
#############################
{{- if .Values.registry.serviceAccount.create }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ template "registry.serviceAccountName" . }}
  labels:
    release: {{ .Release.Name }}
    chart: {{ .Chart.Name }}
    heritage: {{ .Release.Service }}
  annotations:
{{- toYaml .Values.registry.serviceAccount.annotations | nindent 4 }}
{{- end -}}
