################################
## Registry NetworkPolicy
#################################
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ .Release.Name }}-registry-policy
  labels:
    tier: astronomer
    component: registry-policy
    release: {{ .Release.Name }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    heritage: {{ .Release.Service }}
spec:
  podSelector:
    matchLabels:
      tier: astronomer
      component: registry
      release: {{ .Release.Name }}
  policyTypes:
  - Ingress
  ingress:
  - from:
    - podSelector:
        matchLabels:
          tier: astronomer
          component: houston-upgrader
          release: {{ .Release.Name }}
    - podSelector:
        matchLabels:
          tier: astronomer
          component: houston
          release: {{ .Release.Name }}
    - podSelector:
        matchLabels:
          tier: astronomer
          component: houston-cleanup
          release: {{ .Release.Name }}
    - podSelector:
        matchLabels:
          tier: astronomer
          component: houston-worker
          release: {{ .Release.Name }}
    - podSelector:
        matchLabels:
          tier: nginx
          component: ingress-controller
          release: {{ .Release.Name }}
    ports:
    - protocol: TCP
      port: {{ .Values.ports.registryHTTP }}
    # - protocol: TCP
    #   port: {{ .Values.ports.registryScrape }}
