################################
## Astronomer Ingress
#################################
{{- if .Values.global.baseDomain }}
kind: Ingress
apiVersion: {{ template "apiVersion.Ingress" . }}
metadata:
  name: {{ .Release.Name }}-public-ingress
  labels:
    component: public-ingress
    tier: astronomer
    release: {{ .Release.Name }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    heritage: {{ .Release.Service }}
  annotations:
    {{- if .Values.global.authSidecar.enabled  }}
    {{- range $key, $value := .Values.global.extraAnnotations}}
    {{ $key }}: {{ $value | quote }}
    {{- end }}
    {{- else }}
    kubernetes.io/ingress.class: "{{ .Release.Name }}-nginx"
    kubernetes.io/tls-acme: {{ eq .Values.global.acme true | quote }}
    nginx.ingress.kubernetes.io/custom-http-errors: "404"
    nginx.ingress.kubernetes.io/configuration-snippet: |
      if ($host = '{{ .Values.global.baseDomain }}' ) {
        rewrite ^ https://app.{{ .Values.global.baseDomain }}$request_uri permanent;
      }
			location ~ ^/v1/(registry\/events|alerts) {
				deny all;
        return 403;
      }
    {{- end }}
spec:
  {{- if or .Values.global.tlsSecret .Values.global.acme }}
  tls:
  {{- if .Values.global.acme }}
    - secretName: astronomer-public-tls
  {{- end }}
  {{- if .Values.global.tlsSecret }}
    - secretName: {{ .Values.global.tlsSecret }}
  {{- end }}
      hosts:
        - {{ .Values.global.baseDomain }}
        - app.{{ .Values.global.baseDomain }}
        - houston.{{ .Values.global.baseDomain }}
        - registry.{{ .Values.global.baseDomain }}
        - install.{{ .Values.global.baseDomain }}
  {{- end }}
  {{ if semverCompare "< 1.19-0" .Capabilities.KubeVersion.Version -}}
  rules:
  - host: {{ .Values.global.baseDomain }}
    http:
      paths:
        - path: /
          backend:
            serviceName: {{ .Release.Name }}-astro-ui
            servicePort: astro-ui-http
  - host: app.{{ .Values.global.baseDomain }}
    http:
      paths:
        - path: /
          backend:
            serviceName: {{ .Release.Name }}-astro-ui
            servicePort: astro-ui-http
  - host: houston.{{ .Values.global.baseDomain }}
    http:
      paths:
        - path: /
          backend:
            serviceName: {{ .Release.Name }}-houston
            servicePort: houston-http
  - host: registry.{{ .Values.global.baseDomain }}
    http:
      paths:
        - path: /
          backend:
            serviceName: {{ .Release.Name }}-registry
            servicePort: registry-http
  - host: install.{{ .Values.global.baseDomain }}
    http:
      paths:
        - path: /
          backend:
            serviceName: {{ .Release.Name }}-cli-install
            servicePort: install-http
  {{ else -}}
  rules:
  - host: {{ .Values.global.baseDomain }}
    http:
      paths:
        - path: /
          pathType: Prefix
          backend:
            service:
              name: {{ .Release.Name }}-astro-ui
              port:
                name: astro-ui-http
  - host: app.{{ .Values.global.baseDomain }}
    http:
      paths:
        - path: /
          pathType: Prefix
          backend:
            service:
              name: {{ .Release.Name }}-astro-ui
              port:
                name: astro-ui-http
  - host: houston.{{ .Values.global.baseDomain }}
    http:
      paths:
        - path: /
          pathType: Prefix
          backend:
            service:
              name: {{ .Release.Name }}-houston
              port:
                name: houston-http
  - host: registry.{{ .Values.global.baseDomain }}
    http:
      paths:
        - path: /
          pathType: Prefix
          backend:
            service:
              name: {{ .Release.Name }}-registry
              port:
                name: registry-http
  - host: install.{{ .Values.global.baseDomain }}
    http:
      paths:
        - path: /
          pathType: Prefix
          backend:
            service:
              name: {{ .Release.Name }}-cli-install
              port:
                name: install-http
  {{- end -}}
{{- end }}
