########################
## Astronomer Ingress ##
########################
{{- if and .Values.global.baseDomain ( not .Values.global.enablePerHostIngress ) }}
{{- $planeDataMode := or (eq .Values.global.plane.mode "data") (eq .Values.global.plane.mode "unified") }}
{{- $planeControlMode := or (eq .Values.global.plane.mode "control") (eq .Values.global.plane.mode "unified") }}
kind: Ingress
apiVersion: {{ template "apiVersion.Ingress" . }}
metadata:
  name: {{ .Release.Name }}-public-ingress
  labels:
    component: public-ingress
    tier: astronomer
    release: {{ .Release.Name }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    heritage: {{ .Release.Service }}
  annotations:
    {{- if .Values.global.authSidecar.enabled  }}
{{- toYaml .Values.global.extraAnnotations | nindent 4 }}
    {{- else }}
    {{- if .Values.global.extraAnnotations }}
{{- toYaml .Values.global.extraAnnotations | nindent 4 }}
    {{- end }}
    kubernetes.io/ingress.class: "{{ .Release.Name }}-nginx"
    nginx.ingress.kubernetes.io/custom-http-errors: "404"
    nginx.ingress.kubernetes.io/configuration-snippet: |
      if ($host = '{{ .Values.global.baseDomain }}' ) {
        rewrite ^ https://app.{{ .Values.global.baseDomain }}$request_uri permanent;
      }
    {{- end }}
spec:
  {{- if .Values.global.tlsSecret }}
  tls:
    - secretName: {{ .Values.global.tlsSecret }}
      hosts:
      {{- if $planeControlMode }}
        - {{ .Values.global.baseDomain }}
        - app.{{ .Values.global.baseDomain }}
      {{- end }}
      {{- if $planeDataMode }}
        - {{ include "registry.ingressURL" . }}
      {{- end }}
  {{- end }}
  rules:
{{- if $planeControlMode }}
  - host: {{ .Values.global.baseDomain }}
    http:
      paths:
        - path: /
          pathType: Prefix
          backend:
            service:
              name: {{ .Release.Name }}-astro-ui
              port:
                name: astro-ui-http
  - host: app.{{ .Values.global.baseDomain }}
    http:
      paths:
        - path: /
          pathType: Prefix
          backend:
            service:
              name: {{ .Release.Name }}-astro-ui
              port:
                name: astro-ui-http
{{- end }}
{{- if $planeDataMode }}
  - host: {{ include "registry.ingressURL" . }}
    http:
      paths:
        - path: /
          pathType: Prefix
          backend:
            service:
              name: {{ .Release.Name }}-registry
              port:
                name: registry-http
{{- end }}
{{- end }}
