#################################################
## Commander JWKS Secret Hooks Job ConfigMap    ##
#################################################
{{- if eq .Values.global.plane.mode "data" }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-commander-jwks-hook-config
  labels:
    tier: astronomer
    component: commander-jwks-hook-config
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
    plane: {{ .Values.global.plane.mode }}
  annotations:
    "helm.sh/hook": "pre-install,pre-upgrade"
    "helm.sh/hook-weight": "-2"
data:
  commander-jwks.py: |-
{{ .Files.Get "files/commander-jwks.py" | indent 4 }}
{{- end }}
