########################################
## Commander JWKS Secret Hooks Job     ##
########################################
{{- if eq .Values.global.plane.mode "data" }}
apiVersion: {{ include "apiVersion.batch" . }}
kind: Job
metadata:
  name: {{ .Release.Name }}-commander-jwks-hook
  labels:
    tier: astronomer
    component: commander-jwks-hook
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
    plane: {{ .Values.global.plane.mode }}
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "astronomer.io/commander-sync": "platform-release={{ .Release.Name }}"
    "helm.sh/hook-weight": "-1"
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded,hook-failed
spec:
  completions: 1
  parallelism: 1
  backoffLimit: 1
  template:
    metadata:
      labels:
        tier: astronomer
        component: commander-jwks-hook
        release: {{ .Release.Name }}
        app: commander-jwks-hook
        version: {{ .Chart.Version }}
        plane: {{ .Values.global.plane.mode }}
      {{- if or .Values.global.podAnnotations .Values.global.istio.enabled }}
      annotations:
        {{- if .Values.global.istio.enabled }}
          sidecar.istio.io/inject: "false"
        {{- end }}
        {{- if .Values.global.podAnnotations }}
{{ toYaml .Values.global.podAnnotations | indent 8 }}
        {{- end }}
      {{- end }}
    spec:
      serviceAccountName: {{ template "commander.jwksServiceAccountName" . }}
      nodeSelector:
{{ toYaml (default .Values.global.platformNodePool.nodeSelector .Values.nodeSelector) | indent 8 }}
      affinity:
{{ toYaml (default .Values.global.platformNodePool.affinity .Values.affinity) | indent 8 }}
      tolerations:
{{ toYaml (default .Values.global.platformNodePool.tolerations .Values.tolerations) | indent 8 }}
      restartPolicy: Never
{{- include "astronomer.imagePullSecrets" . | indent 6 }}
      containers:
        - name: commander-jwks-hook
          image: {{ template "dbBootstrapper.image" . }}
          imagePullPolicy: {{ .Values.images.dbBootstrapper.pullPolicy }}
          command: ["python3"]
          args: ["/scripts/commander-jwks.py"]
          securityContext: {{ toYaml .Values.securityContext | nindent 12 }}
          env:
            - name: CONTROL_PLANE_ENDPOINT
              value: "https://houston.{{ .Values.global.baseDomain }}"
            - name: SECRET_NAME
              value: "{{ .Release.Name }}-houston-jwt-signing-certificate"
            - name: NAMESPACE
              value: {{ .Release.Namespace | quote }}
            - name: RETRY_ATTEMPTS
              value: {{ .Values.commander.jwksHook.retryAttempts | default 2 | quote }}
            - name: RETRY_DELAY
              value: {{ .Values.commander.jwksHook.retryDelay | default 10 | quote }}
            {{- range $env := .Values.commander.jwksHook.extraEnv }}
            - name: {{ $env.name | quote }}
              value: {{ $env.value | quote }}
            {{- end }}
          volumeMounts:
            - name: jwks-script
              mountPath: /scripts
            {{- include "custom_ca_volume_mounts" . | indent 12 }}
      volumes:
        - name: jwks-script
          configMap:
            name: {{ .Release.Name }}-commander-jwks-hook-config
            defaultMode: 0755
        {{- include "custom_ca_volumes" . | nindent 8 }}
{{- end }}
