###################################
## NGINX Elasticsearch ConfigMap ##
###################################
kind: ConfigMap
apiVersion: v1
metadata:
  name: {{ .Release.Name }}-nginx-es
  labels:
    component: nginx
    tier: {{ template "nginx-es.name" . }}
    release: {{ .Release.Name }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    heritage: {{ .Release.Service }}
data:
  nginx.conf: |-
    worker_processes 1;
    pid /tmp/nginx.pid;
    events { worker_connections 1024; }
    error_log /dev/stdout info;

    http {
      access_log /dev/stdout;
      client_max_body_size {{ .Values.nginx.maxBodySize }};

      upstream elasticsearch {
        server {{ .Release.Name }}-elasticsearch.{{ .Release.Namespace }}:{{ .Values.common.ports.http }};
        keepalive 15;
      }

      server {
        listen {{ .Values.common.ports.http }};
        auth_request /auth;
        proxy_http_version 1.1;
        {{- if not .Values.global.istio.enabled }}
        proxy_set_header Host $host;
        {{- end }}
        proxy_set_header Connection "Keep-Alive";
        proxy_set_header Proxy-Connection "Keep-Alive";

        # The following "location" rules limit airflow interactions to only their indices. Any further
        # additions should follow this pattern.
        location ~* /_count$ {
          rewrite /_count(.*) /{{ include "logging.indexNamePrefix" . }}.$remote_user.*/_count$1 break;
          proxy_pass http://elasticsearch;
        }

        location ~* /_bulk$ {
          rewrite /_bulk(.*) /{{ include "logging.indexNamePrefix" . }}.$remote_user.*/_bulk$1 break;
          proxy_pass http://elasticsearch;
        }

        location ~* /_search$ {
          rewrite /_search(.*) /{{ include "logging.indexNamePrefix" . }}.$remote_user.*/_search$1 break;
          proxy_pass http://elasticsearch;
        }

        location = /auth {
          internal;
          proxy_pass http://{{ .Release.Name }}-houston.{{ .Release.Namespace }}:8871/v1/elasticsearch;
          proxy_set_header Content-Length "";
          proxy_set_header X-Original-URI $request_uri;
        }

        location = /_cluster/state/version {
          proxy_pass http://elasticsearch;
        }

        location = /_cluster/health {
          proxy_pass http://elasticsearch;
        }

        location ~ ^/ {
          deny all;
        }
      }
    }
