####################################
## NGINX Elasticsearch Deployment ##
####################################
{{- if or (eq .Values.global.plane.mode "data") (eq .Values.global.plane.mode "unified") }}
kind: Deployment
apiVersion: apps/v1
metadata:
  name: {{ template "nginx-es.fullname" . }}-nginx
  labels:
    tier: {{ template "nginx-es.name" . }}
    component: es-ingress-controller
    chart: {{ template "nginx-es.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  replicas: {{ .Values.nginx.replicas }}
  selector:
    matchLabels:
      tier: {{ template "nginx-es.name" . }}
      component: es-ingress-controller
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        tier: {{ template "nginx-es.name" . }}
        component: es-ingress-controller
        release: {{ .Release.Name }}
        app: {{ template "elasticsearch.name" . }}-ingress-controller
        version: {{ .Chart.Version }}
        {{- include "global.podLabels" . | nindent 8 }}
      annotations:
        checksum/configmap: {{ include (print $.Template.BasePath "/nginx/nginx-es-configmap.yaml") . | sha256sum }}
        {{- if .Values.global.podAnnotations }}
        {{- toYaml .Values.global.podAnnotations | nindent 8 }}
        {{- end }}
        {{- if .Values.common.podAnnotations }}
        {{- toYaml .Values.common.podAnnotations | nindent 8 }}
        {{- end }}
        {{- if .Values.nginx.podAnnotations }}
        {{- toYaml .Values.nginx.podAnnotations | nindent 8 }}
        {{- end }}
    spec:
      serviceAccountName: {{ template "elasticsearch.serviceAccountName" . }}
      nodeSelector: {{- toYaml (default .Values.global.platformNodePool.nodeSelector .Values.nodeSelector) | nindent 8 }}
      affinity: {{- toYaml (default .Values.global.platformNodePool.affinity .Values.affinity) | nindent 8 }}
      tolerations: {{- toYaml (default .Values.global.platformNodePool.tolerations .Values.tolerations) | nindent 8 }}
      restartPolicy: Always
      {{- include "elasticsearch.imagePullSecrets" . | nindent 6 }}
      containers:
        - name: nginx
          image: {{ template "nginx-es.image" . }}
          imagePullPolicy: {{ .Values.images.nginx.pullPolicy }}
          securityContext:
            {{- $required := dict "readOnlyRootFilesystem" true }}
            {{- merge $required .Values.nginx.securityContext | toYaml | nindent 12 }}
          resources: {{- toYaml .Values.nginx.resources | nindent 12 }}
          volumeMounts:
            - name: tmp
              mountPath: /tmp
            - name: var-cache-nginx
              mountPath: /var/cache/nginx
            - name: nginx-config-volume
              mountPath: /etc/nginx
            - name: var-lib
              mountPath: /var/lib/nginx/tmp
          ports:
            - name: http
              containerPort: {{ .Values.common.ports.http }}
          {{- if .Values.nginx.readinessProbe }}
          readinessProbe: {{- tpl (toYaml .Values.nginx.readinessProbe) . | nindent 12 }}
          {{- end }}
          {{- if .Values.nginx.livenessProbe }}
          livenessProbe: {{- tpl (toYaml .Values.nginx.livenessProbe) . | nindent 12 }}
          {{- end }}
      volumes:
        - name: tmp
          emptyDir: {}
        - name: var-lib
          emptyDir: {}
        - name: var-cache-nginx
          emptyDir: {}
        - name: nginx-config-volume
          configMap:
            name: {{ .Release.Name }}-nginx-es
            items:
              - key: nginx.conf
                path: nginx.conf
{{- end }}
