###############################
## Astronomer ServiceAccount ##
###############################
{{- if and .Values.configSyncer.enabled .Values.global.rbacEnabled .Values.configSyncer.serviceAccount.create }}
{{- if or (eq .Values.global.plane.mode "data") (eq .Values.global.plane.mode "unified") }}
kind: ServiceAccount
apiVersion: v1
automountServiceAccountToken: {{ .Values.configSyncer.serviceAccount.automountServiceAccountToken }}
metadata:
  name: {{ template "configSyncer.serviceAccountName" . }}
  labels:
    tier: astronomer
    release: {{ .Release.Name }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    heritage: {{ .Release.Service }}
    plane: {{ .Values.global.plane.mode }}
  annotations:
    {{- with .Values.configSyncer.serviceAccount.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
    {{ if .Values.global.enableArgoCDAnnotation }}
    argocd.argoproj.io/sync-wave: "-1"
    {{- end }}
{{- end }}
{{- end }}
