########################################
## Elasticsearch Proxy ServiceAccount ##
########################################
{{- if and .Values.serviceAccount.create .Values.global.rbacEnabled }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "external-es-proxy.serviceAccountName" . }}
  labels:
    tier: external-logging
    component: {{ template "external-es-proxy.name" . }}
    chart: {{ template "external-es-proxy.chart" . }}
    heritage: {{ .Release.Service }}
    release: {{ .Release.Name }}
  annotations:
  {{- if .Values.serviceAccount.annotations}}
    {{- toYaml .Values.serviceAccount.annotations | nindent 4 }}
  {{- end }}
  {{- if .Values.global.customLogging.awsServiceAccountAnnotation }}
    eks.amazonaws.com/role-arn: {{ .Values.global.customLogging.awsServiceAccountAnnotation }}
  {{- end }}
{{- end }}
