###################################
## Elasticsearch Proxy ConfigMap ##
###################################
kind: ConfigMap
apiVersion: v1
metadata:
  name: {{ template "external-es-proxy.fullname" . }}
  labels:
    tier: external-logging
    component: {{ template "external-es-proxy.name" . }}
    chart: {{ template "external-es-proxy.chart" . }}
    heritage: {{ .Release.Service }}
    release: {{ .Release.Name }}
data:
  nginx.conf: |
    worker_processes 1;
    pid /tmp/nginx.pid;
    events { worker_connections 1024; }
    error_log /dev/stdout info;
    env ES_SECRET;
    env ES_SECRET_NAME;

    http {
      access_log /dev/stdout;
      client_max_body_size 1024M;

      server {
        listen {{ .Values.service.securehttp }};
        auth_request /auth;
        proxy_http_version 1.1;
        proxy_set_header Connection "Keep-Alive";
        proxy_set_header Proxy-Connection "Keep-Alive";

        # The following "location" rules limit airflow interactions to only their indices. Any further
        # additions should follow this pattern.
        location ~* /_count$ {
          rewrite /_count(.*) /{{ include "logging.indexNamePrefix" . }}.$remote_user.*/_count$1 break;
          {{- include "external-es-proxy-nginx-location-common" . | indent 10 }}
        }

        location ~* /_bulk$ {
          rewrite /_bulk(.*) /{{ include "logging.indexNamePrefix" . }}.$remote_user.*/_bulk$1 break;
          {{- include "external-es-proxy-nginx-location-common" . | indent 10 }}
        }

        location ~* /_search$ {
          # This combined with disabling explicit index searching downstream
          # prevents any deployment from being able to query any other indexes.
          rewrite /_search(.*) /{{ include "logging.indexNamePrefix" . }}.$remote_user.*/_search$1 break;
          {{- include "external-es-proxy-nginx-location-common" . | indent 10 }}
        }

        location = /auth {
          internal;
          proxy_pass http://{{ .Release.Name }}-houston.{{ .Release.Namespace }}:8871/v1/elasticsearch;
          proxy_set_header Content-Length "";
          proxy_set_header X-Original-URI $request_uri;
        }

        location = /_cluster/state/version {
          {{- include "external-es-proxy-nginx-location-common" . | indent 10 }}
        }

        location = /_cluster/health {
          {{- include "external-es-proxy-nginx-location-common" . | indent 10 }}
        }

      }
      server {
        listen {{ .Values.service.http }};
        proxy_http_version 1.1;
        proxy_set_header Connection "Keep-Alive";
        proxy_set_header Proxy-Connection "Keep-Alive";

        location ~ ^/ {
          {{- include "external-es-proxy-nginx-location-common" . | indent 10 }}
        }
      }
    }
