##############################
## Alertmanager StatefulSet ##
##############################
kind: StatefulSet
apiVersion: apps/v1
metadata:
  name: {{ template "alertmanager.fullname" . }}
  labels:
    tier: monitoring
    component: {{ template "alertmanager.name" . }}
    chart: {{ template "alertmanager.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  {{- if and .Values.persistence.enabled .Values.persistence.persistentVolumeClaimRetentionPolicy }}
  persistentVolumeClaimRetentionPolicy: {{- toYaml .Values.persistence.persistentVolumeClaimRetentionPolicy | nindent 4 }}
  {{ end }}
  replicas: {{ .Values.replicas }}
  serviceName: {{ template "alertmanager.fullname" . }}
  selector:
    matchLabels:
      tier: monitoring
      component: {{ template "alertmanager.name" . }}
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        tier: monitoring
        component: {{ template "alertmanager.name" . }}
        release: {{ .Release.Name }}
        app: {{ template "alertmanager.name" . }}
        version: {{ .Chart.Version }}
        {{- include "global.podLabels" . | nindent 8 }}
      annotations:
        checksum/configmap: {{ include (print $.Template.BasePath "/alertmanager-configmap.yaml") . | sha256sum }}
{{- if .Values.global.podAnnotations }}
{{ toYaml .Values.global.podAnnotations | indent 8 }}
{{- end }}
{{- if .Values.podAnnotations }}
{{ toYaml .Values.podAnnotations | indent 8 }}
{{- end }}
    spec:
      serviceAccountName: {{ template "alertmanager.serviceAccountName" . }}
{{- if eq .Values.global.openshiftEnabled false }}
      securityContext: {{ toYaml .Values.podSecurityContext| nindent 8 }}
{{- end }}
      nodeSelector:
{{ toYaml (default .Values.global.platformNodePool.nodeSelector .Values.nodeSelector) | indent 8 }}
      affinity:
{{ toYaml (default .Values.global.platformNodePool.affinity .Values.affinity) | indent 8 }}
      tolerations:
{{ toYaml (default .Values.global.platformNodePool.tolerations .Values.tolerations) | indent 8 }}
      restartPolicy: Always
{{- include "alertmanager.imagePullSecrets" . | indent 6 }}
      containers:
        - name: alertmanager
          image: {{ template "alertmanager.image" . }}
          imagePullPolicy: {{ .Values.images.alertmanager.pullPolicy }}
          securityContext: {{ toYaml .Values.securityContext| nindent 12 }}
          env:
            {{- if .Values.enableNonRFC1918 }}
            - name: POD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
            {{- end }}
            {{- if .Values.global.privateCaCerts }}
            - name: UPDATE_CA_CERTS
              value: "true"
            {{- end }}
            {{- range $key, $value := .Values.env }}
            - name: {{ $key }}
              value: {{ $value }}
            {{- end }}
          args:
            - --config.file=/etc/config/alertmanager.yaml
            - --storage.path={{ .Values.dataDir }}
          {{- if .Values.global.baseDomain }}
            - --web.external-url=https://alertmanager.{{ .Values.global.baseDomain }}
          {{- end }}
          {{- if .Values.disableClustering }}
            - --cluster.listen-address=
          {{- end }}
          {{- if .Values.enableNonRFC1918 }}
            - --cluster.advertise-address=$(POD_IP):9094
          {{- end }}
          ports:
            - containerPort: {{ .Values.ports.http }}
              name: alertmanager
          {{- if .Values.readinessProbe }}
          readinessProbe: {{ tpl (toYaml .Values.readinessProbe) . | nindent 12 }}
          {{- else }}
          readinessProbe:
            httpGet:
              path: {{ .Values.prefixURL }}/#/status
              port: {{ .Values.ports.http }}
            initialDelaySeconds: 30
            timeoutSeconds: 30
          {{- end }}
          {{- if .Values.livenessProbe }}
          livenessProbe: {{ .Values.livenessProbe | toYaml | nindent 12 }}
          {{- end }}
          resources: {{ toYaml .Values.resources | nindent 12 }}
          volumeMounts:
            - name: config-volume
              mountPath: /etc/config
            - name: data
              mountPath: {{ .Values.dataDir }}
            {{- include "alertmanager.custom_ca_volume_mounts" . | indent 12  }}
            {{- if .Values.extraVolumeMounts }}
            {{- toYaml .Values.extraVolumeMounts | nindent 12 }}
            {{- end }}
        {{- if .Values.global.authSidecar.enabled  }}
        - name: auth-proxy
          image: {{ include "authSidecar.image" . }}
          securityContext: {{ toYaml .Values.securityContext| nindent 12 }}
          imagePullPolicy: {{ .Values.global.authSidecar.pullPolicy }}
          {{- if .Values.global.authSidecar.resources }}
          resources: {{- toYaml .Values.global.authSidecar.resources | nindent 12 }}
          {{- end }}
          ports:
          - containerPort: {{ .Values.global.authSidecar.port }}
            name: auth-proxy
            protocol: TCP
          {{- if .Values.global.authSidecar.readinessProbe }}
          readinessProbe: {{ tpl (toYaml .Values.global.authSidecar.readinessProbe) . | nindent 12 }}
          {{- else }}
          readinessProbe:
            httpGet:
              path: /healthz
              port: {{ .Values.global.authSidecar.port }}
              scheme: HTTP
            initialDelaySeconds: 10
            periodSeconds: 10
          {{- end }}
          {{- if .Values.global.authSidecar.livenessProbe }}
          livenessProbe: {{ tpl (toYaml .Values.global.authSidecar.livenessProbe) . | nindent 12 }}
          {{- else }}
          livenessProbe:
            httpGet:
              path: /healthz
              port: {{ .Values.global.authSidecar.port }}
              scheme: HTTP
            initialDelaySeconds: 10
            periodSeconds: 10
          {{- end }}
          volumeMounts:
          - mountPath: /etc/nginx/conf.d/
            name: alertmanager-sidecar-conf
        {{- end }}
      volumes:
        {{- if .Values.global.authSidecar.enabled }}
        - name: alertmanager-sidecar-conf
          configMap:
            name: {{ template "alertmanager.fullname" . }}-nginx-conf
        {{- end }}
        - name: config-volume
          configMap:
            name: {{ template "alertmanager.fullname" . }}
            items:
              - key: alertmanager.yaml
                path: alertmanager.yaml
        {{ include "alertmanager.custom_ca_volumes" . | indent 8  }}
        {{- if .Values.extraVolumes }}
        {{- toYaml .Values.extraVolumes | nindent 8 }}
        {{- end }}
  {{- if not .Values.persistence.enabled }}
        - name: data
          emptyDir: {}
  {{- else }}
  volumeClaimTemplates:
    - metadata:
        name: data
        {{- if .Values.persistence.annotations }}
        annotations:
          {{- toYaml .Values.persistence.annotations | nindent 10 }}
        {{- end }}
      spec:
        accessModes: [ "ReadWriteOnce" ]
        resources:
          requests:
            storage: {{ .Values.persistence.size }}
        {{ include "alertmanager.storageClass" . }}
  {{- end }}
