################################
## Alertmanager NetworkPolicy
#################################
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ template "alertmanager.fullname" . }}-policy
  labels:
    tier: monitoring
    component: {{ template "alertmanager.name" . }}-policy
    chart: {{ template "alertmanager.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  podSelector:
    matchLabels:
      tier: monitoring
      component: {{ template "alertmanager.name" . }}
      release: {{ .Release.Name }}
  policyTypes:
  - Ingress
  ingress:
  - from:
    - podSelector:
        matchLabels:
          tier: monitoring
          component: prometheus
          release: {{ .Release.Name }}
    {{- if and (.Values.global.authSidecar.enabled) (not .Values.global.nginxEnabled) }}
    - namespaceSelector:
        matchLabels:
          network.openshift.io/policy-group: ingress
    {{- else }}
    - podSelector:
        matchLabels:
          tier: nginx
          component: ingress-controller
          release: {{ .Release.Name }}
    {{- end }}
    ports:
    - protocol: TCP
      port: {{ .Values.ports.http }}
    {{- if .Values.global.authSidecar.enabled  }}
    - protocol: TCP
      port: {{ .Values.global.authSidecar.port }}
    {{- end }}
