################################
## Alertmanager NetworkPolicy ##
################################
{{- if .Values.global.networkPolicy.enabled }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ template "alertmanager.fullname" . }}-policy
  labels:
    tier: monitoring
    component: {{ template "alertmanager.name" . }}-policy
    chart: {{ template "alertmanager.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  podSelector:
    matchLabels:
      tier: monitoring
      component: {{ template "alertmanager.name" . }}
      release: {{ .Release.Name }}
  policyTypes:
  - Ingress
  ingress:
  - from:
    - podSelector:
        matchLabels:
          tier: monitoring
          component: prometheus
          release: {{ .Release.Name }}
    {{- if .Values.global.authSidecar.enabled  }}
    - namespaceSelector:
        matchLabels:
          network.openshift.io/policy-group: ingress
    {{- if .Values.global.authSidecar.ingressAllowedNamespaces }}
    - namespaceSelector:
        matchExpressions:
        - key: kubernetes.io/metadata.name
          operator: In
          values: {{ .Values.global.authSidecar.ingressAllowedNamespaces | toJson }}
    {{- end }}
    {{- else }}
    - podSelector:
        matchLabels:
          tier: nginx
          component: ingress-controller
          release: {{ .Release.Name }}
    {{- end }}
    ports:
    - protocol: TCP
      port: {{ .Values.ports.http }}
    {{- if .Values.global.authSidecar.enabled  }}
    - protocol: TCP
      port: {{ .Values.global.authSidecar.port }}
    {{- end }}
{{- end }}
