############################
## Alertmanager ConfigMap ##
############################
kind: ConfigMap
apiVersion: v1
metadata:
  name: {{ template "alertmanager.fullname" . }}
  labels:
    tier: monitoring
    component: {{ template "alertmanager.name" . }}
    chart: {{ template "alertmanager.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
data:
  alertmanager.yaml: |-
    route:
      group_wait: 30s
      group_interval: 5m
      group_by: [alertname]
      repeat_interval: 3h
      receiver: default-receiver
      routes:
{{ if .Values.customRoutes }}
{{ toYaml .Values.customRoutes | trim | indent 6 }}
{{ end }}
      {{ if .Values.receivers.platformCritical }}
      - receiver: platform-critical-receiver
        continue: true  # allows alert to continue down the tree matching any additional child routes
        match:
          severity: critical
          tier: platform
      {{ end }}
      - receiver: {{ if .Values.receivers.platform }} platform-receiver {{ else }} blackhole-receiver {{ end }}
        match_re:
          tier: platform
      - receiver: {{ if .Values.receivers.airflow }} airflow-receiver {{ else }} default-receiver {{ end }}
        group_by: [deployment, alertname]
        match_re:
          tier: airflow
      - receiver: blackhole-receiver
        match:
          silence: cre
    receivers:
    - name: blackhole-receiver
    # Deliberately left empty to not deliver anywhere.
    - name: default-receiver
      webhook_configs:
      - url: http://{{ .Release.Name }}-houston:8871/v1/alerts
        send_resolved: true
{{- if .Values.receivers.platformCritical }}
    - name: platform-critical-receiver
{{ toYaml .Values.receivers.platformCritical | trim | indent 6 }}
{{- end }}
{{- if .Values.receivers.platform }}
    - name: platform-receiver
{{ toYaml .Values.receivers.platform | trim | indent 6 }}
{{- end }}
{{- if .Values.receivers.airflow }}
    - name: airflow-receiver
{{ toYaml .Values.receivers.airflow | trim | indent 6 }}
{{- end }}
{{ if .Values.customReceiver }}
{{ toYaml .Values.customReceiver | trim | indent 4 }}
{{ end }}
