#############################################
##   Prometheus Node Exporter ClusterRole  ##
#############################################
{{- if semverCompare "<1.25-0" .Capabilities.KubeVersion.Version }}
{{- if .Values.rbac.create }}
{{- if .Values.global.pspEnabled }}
kind: ClusterRole
apiVersion: {{ template "apiVersion.rbac" . }}
metadata:
  name: psp-{{ template "prometheus-node-exporter.fullname" . }}
  labels: {{ include "prometheus-node-exporter.labels" . | indent 4 }}
rules:
- apiGroups: ['extensions']
  resources: ['podsecuritypolicies']
  verbs:     ['use']
  resourceNames:
  - {{ template "prometheus-node-exporter.fullname" . }}
{{- end }}
{{- end }}
{{- end -}}
