{{- define "pgbouncer.name" -}}
{{- default .Chart.Name .Values.nameOverride | trunc 63 | trimSuffix "-" -}}
{{- end -}}

{{- define "pgbouncer.chart" -}}
{{- printf "%s-%s" .Chart.Name .Chart.Version | replace "+" "_" | trunc 63 | trimSuffix "-" -}}
{{- end -}}


{{ define "pgbouncer.image" -}}
{{- $kerbRepo := .Values.kerberosImage.repository -}}
{{- $kerbTag := .Values.kerberosImage.tag -}}
{{- $repo := .Values.image.repository -}}
{{- $tag := .Values.image.tag -}}
{{- if .Values.global.privateRegistry.enabled -}}
{{- $kerbRepo = printf "%s/ap-pgbouncer-krb" .Values.global.privateRegistry.repository -}}
{{- $repo = printf "%s/ap-pgbouncer" .Values.global.privateRegistry.repository -}}
{{- end -}}
{{- if .Values.global.kerberos.enabled -}}
{{- printf "%s:%s" $kerbRepo $kerbTag -}}
{{- else -}}
{{- printf "%s:%s" $repo $tag -}}
{{- end -}}
{{- end -}}

{{ define "pgbouncer_host" -}}
{{ printf "%s-pgbouncer" .Release.Name }}
{{- end }}

{{ define "pgbouncer.port" -}}
{{- .Values.servicePort }}
{{- end }}


{{ define "pgbouncer_config_secret" -}}
{{ printf "%s-pgbouncer-config" .Release.Name }}
{{- end }}

{{ define "pgbouncer_stats_secret" -}}
{{ .Release.Name }}-pgbouncer-stats
{{- end }}

{{ define "pgbouncer.serviceAccountName" -}}
{{- if .Values.serviceAccount.create -}}
{{ default (printf "%s-pgbouncer" .Release.Name ) .Values.serviceAccount.name }}
{{- else -}}
    {{ default "default" .Values.serviceAccount.name }}
{{- end }}
{{- end }}

{{- define "pgbouncer_environment" }}
- name: DB_USER
  valueFrom:
    secretKeyRef:
      name: {{ default "astronomer-db" .Values.global.pgbouncer.credentialsSecret.name }}
      key: {{ default "username" .Values.global.pgbouncer.credentialsSecret.usernameKey }}
      optional: false
- name: DB_PASSWORD
  valueFrom:
    secretKeyRef:
      name: {{ default "astronomer-db" .Values.global.pgbouncer.credentialsSecret.name }}
      key: {{ default "password" .Values.global.pgbouncer.credentialsSecret.passwordKey }}
      optional: false
- name: DB_HOST
  value: {{ default "astronomer-postgresql.astronomer.svc.cluster.local" .Values.global.pgbouncer.host | quote }}
- name: DB_PORT
  value: {{ default "5432" (toString .Values.global.pgbouncer.servicePort) | quote }}
- name: POOL_MODE
  value: session
- name: ADMIN_USERS
  valueFrom:
    secretKeyRef:
      name: {{ default "astronomer-db" .Values.global.pgbouncer.credentialsSecret.name }}
      key: {{ default "username" .Values.global.pgbouncer.credentialsSecret.usernameKey }}
      optional: false
- name: AUTH_TYPE
  value: plain
- name: LOG_DISCONNECTIONS
  value: "1"
- name: LOG_CONNECTIONS
  value: "1"
- name: SERVER_TLS_SSLMODE
  value: disable
- name: SERVER_TLS_CIPHERS
  value: normal
# - name: SERVER_GSSENCMODE
#   value: require
- name: VERBOSE
  value: "999"
- name: REALM
  value: EXAMPLE.COM
- name: SUPPORTED_ENCRYPTION_TYPES
  value: "aes256-cts-hmac-sha1-96:normal"
- name: KADMIN_PRINCIPAL
  value: "kadmin/admin"
- name: KADMIN_PASSWORD
  value: postgres
- name: LISTEN_PORT
  value: "5432"
{{- end }}
