{{- define "pgbouncer.name" -}}
{{- default .Chart.Name .Values.nameOverride | trunc 63 | trimSuffix "-" -}}
{{- end -}}

{{- define "pgbouncer.chart" -}}
{{- printf "%s-%s" .Chart.Name .Chart.Version | replace "+" "_" | trunc 63 | trimSuffix "-" -}}
{{- end -}}


{{ define "pgbouncer.image" -}}
{{- if .Values.global.privateRegistry.enabled -}}
{{ .Values.global.privateRegistry.repository }}/ap-pgbouncer-krb:{{ .Values.image.tag }}
{{- else -}}
{{ printf "%s:%s" .Values.image.repository .Values.image.tag }}
{{- end }}
{{- end }}

{{ define "pgbouncer_host" -}}
{{ printf "%s-pgbouncer" .Release.Name }}
{{- end }}

{{ define "pgbouncer.port" -}}
{{- .Values.servicePort }}
{{- end }}


{{ define "pgbouncer_config_secret" -}}
{{ printf "%s-pgbouncer-config" .Release.Name }}
{{- end }}

{{ define "pgbouncer_stats_secret" -}}
{{ .Release.Name }}-pgbouncer-stats
{{- end }}

{{ define "pgbouncer.serviceAccountName" -}}
{{- if .Values.serviceAccount.create -}}
{{ default (printf "%s-pgbouncer" .Release.Name ) .Values.serviceAccount.name }}
{{- else -}}
    {{ default "default" .Values.serviceAccount.name }}
{{- end }}
{{- end }}
