#####################################
## Pgbouncer ServiceAccount      ####
#####################################
{{ if and .Values.serviceAccount.create  .Values.global.rbacEnabled }}
apiVersion: v1
kind: ServiceAccount
automountServiceAccountToken: {{ .Values.serviceAccount.automountServiceAccountToken }}
metadata:
  name: {{ template "pgbouncer.serviceAccountName" . }}
  labels:
    tier: astronomer
    component: pgbouncer
    chart: {{ template "pgbouncer.chart" . }}
    heritage: {{ .Release.Service }}
    release: {{ .Release.Name }}
  {{- with .Values.serviceAccount.annotations }}
  annotations: {{- toYaml . | nindent 4 }}
  {{- end }}
{{- end }}
