############################
## Pgbouncer Service      ##
############################
{{- if .Values.global.pgbouncer.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-pgbouncer
  labels:
    app: {{ template "pgbouncer.name" . }}
    chart: {{ template "pgbouncer.chart" . }}
    release: {{ .Release.Name | quote }}
    heritage: {{ .Release.Service | quote }}
spec:
  type: ClusterIP
  selector:
    app: {{ template "pgbouncer.name" . }}
    release: {{ .Release.Name | quote }}
  ports:
    - name: pgbouncer
      protocol: TCP
      port: {{ .Values.servicePort }}
      targetPort: {{ .Values.internalPort }}
      appProtocol: tcp
{{- end }}
