#################################
## PGBouncer Bootstrap Secrets ##
#################################
# {{- if .Values.global.pgbouncer.enabled }}
# kind: Secret
# apiVersion: v1
# metadata:
#   name: {{ template "pgbouncer_config_secret" . }}
#   labels:
#     release: {{ .Release.Name }}
#     chart: {{ .Chart.Name }}
#     heritage: {{ .Release.Service }}
#     component: {{ template "pgbouncer_config_secret" . }}
# type: Opaque
# data:
#   password: ""
#   user: ""
#   connection: ""
#   pgbouncer.ini: ""
#   users.txt: ""
# {{- end }}
