#######################
## Curator ConfigMap ##
#######################
{{- if .Values.curator.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "elasticsearch.fullname" . }}-curator-config
  labels:
    tier: logging
    component: {{ template "elasticsearch.name" . }}
    chart: {{ template "elasticsearch.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
data:
  action_file.yml: |-
    ---
    # Remember, leave a key empty if there is no value.  None will be a string,
    # not a Python "NoneType"
    #
    # Also remember that all examples have 'disable_action' set to True.  If you
    # want to use this action as a template, be sure to set this to False after
    # copying it.
    actions:
      1:
        action: delete_indices
        description: "Clean up ES by deleting old indices"
        options:
          timeout_override:
          continue_if_exception: False
          ignore_empty_list: True
          disable_action: False
        filters:
        - filtertype: age
          source: name
          direction: older
          timestring: {{ template "curator.indexPattern" . }}
          unit: {{ .Values.curator.age.unit }}
          unit_count: {{ .Values.curator.age.unit_count }}
          field:
          stats_result:
          epoch:
          exclude: False
  config.yml: |-
    ---
    # Remember, leave a key empty if there is no value.  None will be a string,
    # not a Python "NoneType"
    elasticsearch:
      client:
        hosts:
          - {{ .Values.common.protocol }}://{{ template "elasticsearch.fullname" . }}:{{ .Values.common.ports.http }}
        ca_certs:
        client_cert:
        client_key:
        verify_certs:
        request_timeout: 30
      other_settings:
        master_only: False
    logging:
      loglevel: INFO
      logfile:
      logformat: default
      blacklist: ['elasticsearch', 'urllib3']
  {{- end }}
