############################
## Astronomer configuration
## For local Kubernetes development
## There should be an A record on *.localtest.me
## with the value 127.0.0.1 and you should set up
## the secrets and TLS cert normally.
############################

tags:
  platform: true
  logging: false
  monitoring: false
  keda: true
  kubed: true
  # postgresql: true

global:
  # Base domain for all subdomains exposed through ingress
  baseDomain: localtest.me

  # Name of secret containing TLS certificate
  tlsSecret: astronomer-tls

############################
## Astronomer configuration
## Omit resource requests
############################
astronomer:
  astroUI:
    replicas: 2
    resources:
      requests:
        cpu: "0m"
        memory: "0Mi"
  houston:
    replicas: 2
    resources:
      requests:
        cpu: "0m"
        memory: "0Mi"

    config:
      emailConfirmation: false
      auth:
        local:
          enabled: true
  commander:
    replicas: 2
    resources:
      requests:
        cpu: "0m"
        memory: "0Mi"
  registry:
    resources:
      requests:
        cpu: "0m"
        memory: "0Mi"
  install:
    resources:
      requests:
        cpu: "0m"
        memory: "0Mi"


#################################
## Nginx configuration
#################################
nginx:
  replicas: 2
  replicasDefaultBackend: 2
  # Configure resources
  resources:
    requests:
      cpu: "500m"
      memory: "1024Mi"
    limits:
      cpu: "1"
      memory: "2048Mi"

#################################
## Grafana configuration
#################################
grafana:
  # Configure resources
  resources:
    requests:
      cpu: "0m"
      memory: "0Mi"

#################################
## Prometheus configuration
#################################
prometheus:
  replicas: 2
  # Configure resources
  resources:
    requests:
      cpu: "0m"
      memory: "0Gi"

#################################
## Elasticsearch configuration
#################################
elasticsearch:
  # Configure client nodes
  client:
    replicas: 2
    resources:
      requests:
        cpu: "0"
        memory: "0Gi"

  # Configure data nodes
  data:
    replicas: 2
    resources:
      requests:
        cpu: "0"
        memory: "0"

  # Configure master nodes
  master:
    replicas: 3
    resources:
      requests:
        cpu: "0"
        memory: "0Gi"


#################################
## Kibana configuration
#################################
kibana:
  # Configure resources
  resources:
    requests:
      cpu: "0m"
      memory: "0Mi"


#################################
## Fluentd configuration
#################################
fluentd:
  # Configure resources
  resources:
    requests:
      cpu: "0m"
      memory: "0Mi"


#################################
## Kube State configuration
#################################
kubeState:
  # Configure resources
  resources:
    requests:
      cpu: "0m"
      memory: "0Mi"
