# This is an example configuration for running the platform in
# single namespace mode.

# Disable EFK stack which requires a CluterRole
tags:
  logging: false
  kubed: false

# Put the rest of platform in single namespace mode.
# This will only provision Roles, instead of ClusterRoles.
# This also configures Houston to deploy airflows to its own namespace.
global:
  singleNamespace: true
