# This is starter yaml configuation file to serve as a template for
# a production installation.

#################################
## Astronomer global configuration
#################################
global:
  # Base domain for all subdomains exposed through ingress
  baseDomain: ~

  # Name of secret containing TLS certificate
  tlsSecret: ~


#################################
## Nginx configuration
#################################
nginx:
  # IP address the nginx ingress should bind to
  loadBalancerIP: ~
  # set to 'true' when deploying to a private EKS cluster
  privateLoadBalancer: false
