---
---

@font-face {
    font-family: 'Filmotype Fashion';
    src: url("https://cdn.astronomer.io/app/fonts/filmotype/filmotype.eot");
    src: url("https://cdn.astronomer.io/app/fonts/filmotype/filmotype.eot?#iefix") format('embedded-opentype'),url("https://cdn.astronomer.io/app/fonts/filmotype/filmo.woff2") format('woff2'),url("https://cdn.astronomer.io/app/fonts/filmotype/filmotype.woff") format('woff'),url("https://cdn.astronomer.io/app/fonts/filmotype/filmotype.ttf") format('truetype')
  }

  @font-face{
      font-family:"Sofia Regular";
      src:url("https://cdn.astronomer.io/app/fonts/sofia-pro/941243bb-e692-46f8-91b9-6e621e5c1ff8.eot");
      src:url("https://cdn.astronomer.io/app/fonts/sofia-pro/941243bb-e692-46f8-91b9-6e621e5c1ff8.eot?#iefix") format("eot"),url("https://cdn.astronomer.io/app/fonts/sofia-pro/sofia-regular.woff2") format("woff2"),url("$https://cdn.astronomer.io/app/fonts/sofia-pro/476fe015-ab32-40a2-8fed-0a5af9a3bba4.woff") format("woff"),url("https://cdn.astronomer.io/app/fonts/sofia-pro/d8bcfa37-4f93-49cf-8dea-c29e894af58e.ttf") format("truetype"),url("https://cdn.astronomer.io/app/fonts/sofia-pro/28fc42bb-8761-4e6a-8c62-65d4a41c9e33.svg#28fc42bb-8761-4e6a-8c62-65d4a41c9e33") format("svg");
  }

.bs-docs-masthead {
  padding-top: 50px;
  padding-bottom: 40px;
  margin-bottom: 20px;
}

.bs-docs-header h1, .bs-docs-header p {
  margin-right: 0;
}

.bs-docs-sidebar {
    display: none;
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
}

.bs-docs-sidebar .nav > li > a {
  font-size: 15px;
}

.bs-docs-sidebar .nav .nav > li > a {
  font-size: 14px;
}

.back-top-top {
  font-size: 13px;
}

.bs-docs-container {
    position: relative;
}

.bs-docs-section {
  margin-right: 20px;
}

#jumbotron-header {
  position: relative;
  color: white;
  font-family: 'Sofia Regular', 'Open Sans', Helvetica, Arial, sans-serif;
  background-color: #302c43;
  background-image: url(/assets/img/stars-bg.png);
  background-size: 80%;
  background-repeat: repeat;
  text-align: center;
  margin-bottom: 40px;

}

#jumbotron-header .container {
  padding: 6rem 0;
}

img {
  width: 100%;
}

.bs-docs-nav .navbar-brand, .bs-docs-nav .navbar-nav>li>a {
    color: #2F2D41 !important;
}

.bs-docs-sidenav > li {
  font-family: 'Filmotype Fashion';
  text-transform: uppercase;
}

p, h1, h2, h3, li, a, ul, .licensing, .back-to-top {
  font-family: 'Sofia Regular', 'Open Sans', Helvetica, Arial, sans-serif;
}

.bs-docs-sidenav > li > a {
  font-size: 0.8em !important;
}


a {
  color: #44959B;
}
footer p, .bs-docs-footer-links {
  margin-top: 5px;
}

body {
  font-size: 20px;
  line-height: 1.6;
}
code {
  color: #E79637;
}
a.btn-outline-inverse {
  color: #FFF;
  border-color: #FFF;
}
.version {
  color: #FFF !important;
}

.licensing {
  background-color: #eee;
  font-size: 14px;
  color: #2F2D41;
  font-style: italic;
  padding: 20px;
  margin: 20px 0 10px;
}

.highlighter-rouge > .highlight > button {
  margin-left: 5px;
}

.highlighter-rouge > .highlight > .highlight {
  word-break: keep-all;
}

.home-title {
  color: #fefcf9;
}

p, h1, h2, h3, h4, h5, h6 {
  color: #302c43;
  margin-top: 25px;
}

html {
  background-color: #fefcf9;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
  margin: 50px 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
