######################################
## Astronomer Commander RoleBinding ##
######################################
# Either:
# 1. Do not create anything is rbacEnabled is disabled
# 2. Create ClusterRoleBinding if clusterRoles enabled and namespacePools disabled
# 3. Create RoleBinding for each namespace in the namespacePool (+ astronomer namespace) if enabled
{{- $namespacepoolsRBACresources := and .Values.global.features.namespacePools.createRbac .Values.global.features.namespacePools.enabled }}
{{- $useClusterRoles := and .Values.global.rbacEnabled .Values.global.clusterRoles (not .Values.global.features.namespacePools.enabled) }}
{{- $shouldCreateResources := and .Values.global.rbacEnabled (or (and .Values.global.clusterRoles (not .Values.global.features.namespacePools.enabled )) $namespacepoolsRBACresources) }}
{{- $namespaces := .Values.global.features.namespacePools.namespaces.names }}
{{- $commanderServiceAccountName := ( include "commander.serviceAccountName" . )  -}}
{{- if $useClusterRoles }}
  {{- $namespaces = list .Release.Namespace}}
{{- else }}
  {{- $namespaces = append $namespaces .Release.Namespace }}
{{- end }}

{{- if $shouldCreateResources }}
{{- range $i, $namespaceName := $namespaces }}
---
apiVersion: {{ template "apiVersion.rbac" . }}
kind: {{ if $useClusterRoles }}ClusterRoleBinding{{ else }}RoleBinding{{ end }}
metadata:
  name: {{ $.Release.Name }}-commander
  {{- if not $useClusterRoles }}
  namespace: {{ $namespaceName }}
  {{- end }}
  {{- if $.Values.global.enableArgoCDAnnotation }}
  annotations:
    argocd.argoproj.io/sync-wave: "-1"
  {{- end }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: {{ if $useClusterRoles }}ClusterRole{{ else }}Role{{ end }}
  name: {{ $.Release.Name }}-commander
subjects:
  - kind: ServiceAccount
    name: {{ $commanderServiceAccountName }}
    namespace: {{ $.Release.Namespace }}
{{ end }}
{{- end }}

# If user runs Openshift and uses the namespace pools feature, we need to provide
# cluster level permissions to manage some Openshift resources.
{{- if and .Values.global.rbacEnabled .Values.global.sccEnabled (not $useClusterRoles) }}
---
apiVersion: {{ template "apiVersion.rbac" . }}
kind: ClusterRoleBinding
metadata:
  name: {{ $.Release.Name }}-commander-scc
  {{- if $.Values.global.enableArgoCDAnnotation }}
  annotations:
    argocd.argoproj.io/sync-wave: "-1"
  {{- end }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ $.Release.Name }}-commander-scc
subjects:
  - kind: ServiceAccount
    name: {{ $commanderServiceAccountName }}
    namespace: {{ $.Release.Namespace }}
{{- end }}
