#####################################
## Astronomer Commander Deployment ##
#####################################
{{- if or (eq .Values.global.plane.mode "data") (eq .Values.global.plane.mode "unified") }}
kind: Deployment
apiVersion: apps/v1
metadata:
  name: {{ .Release.Name }}-commander
  labels:
    component: commander
    tier: astronomer
    plane: {{ .Values.global.plane.mode }}
    release: {{ .Release.Name }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    heritage: {{ .Release.Service }}

  annotations:
    checksum/jwks-secret: {{ printf "%s-commander-jwt-secret" .Release.Name | sha256sum }}
  {{ if .Values.global.enableArgoCDAnnotation }}
    argocd.argoproj.io/sync-wave: "-1"
  {{- end }}
spec:
  replicas: {{ .Values.commander.replicas }}
  selector:
    matchLabels:
      component: commander
      tier: astronomer
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        component: commander
        tier: astronomer
        release: {{ .Release.Name }}
        app: commander
        version: {{ .Chart.Version }}
        plane: {{ .Values.global.plane.mode }}
        {{- include "global.podLabels" . | nindent 8 }}
      annotations:
        checksum/airflow-chart-version: {{ .Values.airflowChartVersion | sha256sum }}
        {{- if and .Values.global.authSidecar.enabled (eq .Values.global.plane.mode "data") }}
        checksum/configmap: {{ include (print $.Template.BasePath "/commander/commander-nginx-configmap.yaml") . | sha256sum }}
        {{- end }}
{{- if .Values.global.podAnnotations }}
{{ toYaml .Values.global.podAnnotations | indent 8 }}
{{- end }}
{{- if .Values.commander.podAnnotations }}
{{ toYaml .Values.commander.podAnnotations | indent 8 }}
{{- end }}
    spec:
      nodeSelector:
{{ toYaml (default .Values.global.platformNodePool.nodeSelector .Values.nodeSelector) | indent 8 }}
      affinity:
{{ toYaml (default .Values.global.platformNodePool.affinity .Values.affinity) | indent 8 }}
      tolerations:
{{ toYaml (default .Values.global.platformNodePool.tolerations .Values.tolerations) | indent 8 }}
      serviceAccountName: {{ template "commander.serviceAccountName" . }}
      restartPolicy: Always
{{- include "astronomer.imagePullSecrets" . | indent 6 }}
      initContainers:
        - name: etc-ssl-certs-copier
          volumeMounts:
            - name: etc-ssl-certs
              mountPath: /etc/ssl/certs_copy
          image: {{ template "commander.image" . }}
          imagePullPolicy: {{ .Values.images.commander.pullPolicy }}
          command:
            - sh
            - -c
            - |
              if [ -d /etc/ssl/certs ]; then
                cp -r /etc/ssl/certs/* /etc/ssl/certs_copy/
              else
                echo "No /etc/ssl/certs directory found, skipping copy."
              fi
          resources: {{ toYaml .Values.commander.resources | nindent 12 }}
          securityContext:
            readOnlyRootFilesystem: true
            {{- toYaml .Values.securityContext | nindent 12 }}
      containers:
        - name: commander
          image: {{ template "commander.image" . }}
          imagePullPolicy: {{ .Values.images.commander.pullPolicy }}
          securityContext:
            readOnlyRootFilesystem: true
            {{- toYaml .Values.securityContext | nindent 12 }}
          resources: {{- toYaml .Values.commander.resources | nindent 12 }}
          {{- if .Values.commander.command }}
          command:
            {{- toYaml .Values.commander.command | nindent 12 }}
          {{- end }}
          {{- if .Values.commander.args }}
          args:
            {{- toYaml .Values.commander.args | nindent 12 }}
          {{- end }}
          ports:
            - name: commander-http
              containerPort: {{ .Values.ports.commanderHTTP }}
            - name: commander-grpc
              containerPort: {{ .Values.ports.commanderGRPC }}
          {{- if .Values.commander.livenessProbe }}
          livenessProbe: {{ tpl (toYaml .Values.commander.livenessProbe) . | nindent 12 }}
          {{- else }}
          livenessProbe:
            failureThreshold: 5
            httpGet:
              path: /healthz
              port: {{ .Values.ports.commanderHTTP }}
              scheme: HTTP
            initialDelaySeconds: 10
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 5
          {{- end }}
          {{- if .Values.commander.readinessProbe }}
          readinessProbe: {{ tpl (toYaml .Values.commander.readinessProbe) . | nindent 12 }}
          {{- else}}
          readinessProbe:
            httpGet:
              path: /healthz
              port: {{ .Values.ports.commanderHTTP }}
            initialDelaySeconds: 10
            periodSeconds: 10
          {{- end }}
          env:
            {{- range $i, $config := .Values.commander.env }}
            - name: {{ $config.name }}
              value: {{ $config.value | quote }}
            {{- end }}
            - name: HELM_CACHE_HOME
              value: /tmp/helm-cache
            - name: HELM_CONFIG_HOME
              value: /tmp/helm-config
            - name: HELM_DATA_HOME
              value: /tmp/helm-data
            - name: HELM_REPOSITORY_CACHE
              value: /tmp/helm-cache/repository
            - name: COMMANDER_HTTP_PORT
              value: "8880"
            - name: COMMANDER_GRPC_PORT
              value: "50051"
            - name: COMMANDER_PLATFORM_NAMESPACE
              value: {{ .Release.Namespace }}
            - name: COMMANDER_PLATFORM_RELEASE
              value: {{ .Release.Name }}
            - name: COMMANDER_HELM_REPO
              value: {{ .Values.global.helmRepo }}
            {{ if .Values.commander.upgradeTimeout -}}
            - name: COMMANDER_UPGRADE_TIMEOUT
              value: {{ .Values.commander.upgradeTimeout | quote }}
            {{- end }}
            {{- if .Values.commander.airGapped.enabled }}
            - name: COMMANDER_AIRGAPPED
              value: "true"
            {{- end }}
            {{ if and .Values.global.features.namespacePools.enabled -}}
            - name: COMMANDER_MANUAL_NAMESPACE_NAMES
              value: "true"
            {{- end }}
            - name: COMMANDER_MANAGE_NAMESPACE_RESOURCE
              value: "false"
            {{- if .Values.global.privateCaCerts }}
            - name: UPDATE_CA_CERTS
              value: "true"
            {{- end }}
            {{- include "commander_metadataEnv" . | nindent 12 }}
          volumeMounts:
            - name: etc-ssl-certs
              mountPath: /etc/ssl/certs
            - name: tmp-workspace
              mountPath: /tmp
            - name: commander-home
              mountPath: /home/commander
              subPath: home
            - mountPath: /app/metadata.yaml
              name: metadata
              subPath: metadata.yaml
            {{- include "custom_ca_volume_mounts" . | indent 12 }}
          {{- if .Values.commander.volumeMounts }}
          {{- tpl (toYaml .Values.commander.volumeMounts) $ | nindent 12 }}
          {{- end }}
          {{- if .Values.commander.extraContainers }}
          {{- tpl (toYaml .Values.commander.extraContainers) $ | nindent 8 }}
          {{- end }}
        {{- if and .Values.global.authSidecar.enabled (eq .Values.global.plane.mode "data") }}
        - name: auth-proxy
          image: {{ template "authSidecar.image" . }}
          imagePullPolicy: {{ .Values.global.authSidecar.pullPolicy }}
          ports:
            - name: nginx-http
              containerPort: {{ .Values.ports.commanderSidecarHTTP }}
              protocol: TCP
            - name: nginx-grpc
              containerPort: {{ .Values.ports.commanderSidecarGRPC }}
              protocol: TCP
          volumeMounts:
            - name: nginx-conf
              mountPath: /etc/nginx/nginx.conf
              subPath: nginx.conf
              readOnly: true
          resources: {{- toYaml .Values.global.authSidecar.resources | nindent 12 }}
          livenessProbe:
            httpGet:
              path: /nginx-health
              port: {{ .Values.ports.commanderSidecarHTTP }}
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /nginx-health
              port: {{ .Values.ports.commanderSidecarHTTP }}
            initialDelaySeconds: 5
            periodSeconds: 5
        {{- end }}
      volumes:
        - name: etc-ssl-certs
          emptyDir: {}
        - name: tmp-workspace
          emptyDir: {}
        {{- if and .Values.global.authSidecar.enabled (eq .Values.global.plane.mode "data") }}
        - name: nginx-conf
          configMap:
            name: {{ .Release.Name }}-commander-nginx-conf
        {{- end }}
        - name: commander-home
          emptyDir: {}
        - configMap:
            name: {{ .Release.Name }}-commander-metadata
          name: metadata
        {{- include "custom_ca_volumes" . | nindent 8 }}
      {{- if .Values.commander.extraVolumes }}
      {{- tpl (toYaml .Values.commander.extraVolumes) $ | nindent 8 }}
      {{- end }}
{{- end }}
