########################################
## Astronomer Commander Role/ClusterRole
########################################
# Here, we either:
# 1. Do not create any resource if rbacEnabled is disabled
# 2. Create a Cluster Role if clusterRoles and rbacEnabled are enabled and namespacePools is disabled
# 3. Create roles for each namespaces in the namespacePool (+ astronomer namespace) if enabled.
{{- $namespacepoolsRBACresources:= and .Values.global.features.namespacePools.createRbac .Values.global.features.namespacePools.enabled }}
{{- $useClusterRoles := and .Values.global.rbacEnabled .Values.global.clusterRoles (not .Values.global.features.namespacePools.enabled) }}
{{- $shouldCreateResources := and .Values.global.rbacEnabled (or (and .Values.global.clusterRoles (not .Values.global.features.namespacePools.enabled )) $namespacepoolsRBACresources) }}
{{- $namespaces := .Values.global.features.namespacePools.namespaces.names }}
{{- if $useClusterRoles }}
  {{- $namespaces = list .Release.Namespace}}
{{- else  }}
  {{- $namespaces = append $namespaces .Release.Namespace }}
{{- end }}

{{- if $shouldCreateResources}}
{{- range $i, $namespaceName := $namespaces }}
---
kind: {{ if $useClusterRoles }}ClusterRole{{ else }}Role{{ end }}
apiVersion: {{ template "apiVersion.rbac" . }}
metadata:
  {{- if not $useClusterRoles }}
  namespace: {{ $namespaceName }}
  {{- end }}
  name: {{ $.Release.Name }}-commander
  labels:
    tier: houston
    release: {{ $.Release.Name }}
    chart: "{{ $.Chart.Name }}-{{ $.Chart.Version }}"
    heritage: {{ $.Release.Service }}
  {{- if $.Values.global.enableArgoCDAnnotation }}
  annotations:
    argocd.argoproj.io/sync-wave: "-1"
  {{- end }}
rules:
{{- if $.Values.global.airflowOperator.enabled }}
- apiGroups: ["airflow.apache.org"]
  resources: ["airflows"]
  verbs: ["get", "list", "watch", "create", "update", "patch", "delete"]
{{- end }}
- apiGroups: [""]
  resources: ["configmaps"]
  verbs: ["create", "delete", "deletecollection", "get", "list", "patch", "update", "watch"]
- apiGroups: [""]
  resources: ["secrets"]
  verbs: ["create", "delete", "deletecollection", "get", "list", "patch", "update", "watch"]
- apiGroups: [""]
  resources: ["namespaces"]
  verbs: ["create", "delete", "deletecollection", "get", "list", "patch", "update", "watch"]
- apiGroups: [""]
  resources: ["serviceaccounts"]
  verbs: ["create", "delete", "get", "patch", "list", "watch"]
# Important to understand: https://kubernetes.io/docs/reference/access-authn-authz/rbac/#privilege-escalation-prevention-and-bootstrapping
- apiGroups: ["rbac.authorization.k8s.io"]
  resources: ["roles"]
  verbs: ["create", "delete", "deletecollection", "get", "list", "patch", "update", "watch"]
- apiGroups: [""]
  resources: ["persistentvolumeclaims"]
  verbs: ["create", "delete", "deletecollection", "get", "list", "update", "watch", "patch"]
- apiGroups: [""]
  resources: ["pods"]
  verbs: ["get", "list", "watch", "create", "patch", "delete"]
- apiGroups: [""]
  resources: ["pods/exec"]
  verbs: ["create", "get"]
- apiGroups: [""]
  resources: ["pods/log"]
  verbs: ["get" , "list"]
- apiGroups: [""]
  resources: ["endpoints"]
  verbs: ["create", "delete", "get", "list", "update", "watch"]
- apiGroups: [""]
  resources: ["limitranges"]
  verbs: ["create", "delete", "get", "list", "watch", "patch"]
- apiGroups: [""]
  resources: ["nodes"]
  verbs: ["get", "list", "watch"]
- apiGroups: [""]
  resources: ["nodes/proxy"]
  verbs: ["get", "list", "watch"]
- apiGroups: [""]
  resources: ["persistentvolumes"]
  verbs: ["create", "delete", "get", "list", "watch", "patch"]
- apiGroups: [""]
  resources: ["replicationcontrollers"]
  verbs: ["list", "watch"]
- apiGroups: [""]
  resources: ["resourcequotas"]
  verbs: ["create", "delete", "get", "list", "patch", "watch"]
- apiGroups: [""]
  resources: ["services"]
  verbs: ["create", "delete", "get", "list", "patch", "update", "watch"]
- apiGroups: ["apps"]
  resources: ["statefulsets"]
  verbs: ["create", "delete", "get", "list", "patch", "watch"]
- apiGroups: ["apps"]
  resources: ["daemonsets"]
  verbs: ["create", "delete", "get", "patch"]
- apiGroups: ["apps"]
  resources: ["deployments"]
  verbs: ["create", "delete", "get", "patch","update"]
- apiGroups: ["autoscaling"]
  resources: ["horizontalpodautoscalers"]
  verbs: ["list", "watch"]
- apiGroups: ["batch"]
  resources: ["jobs"]
  verbs: ["list", "watch", "create", "delete", "get", "deletecollection"]
- apiGroups: ["batch"]
  resources: ["cronjobs"]
  verbs: ["create", "delete", "get", "list", "patch", "watch", "deletecollection"]
- apiGroups: ["extensions"]
  resources: ["daemonsets", "replicasets"]
  verbs: ["list", "watch"]
- apiGroups: ["extensions"]
  resources: ["deployments"]
  verbs: ["create", "delete", "get", "list", "patch", "update", "watch"]
- apiGroups: [""]
  resources: ["events"]
  verbs: ["create", "delete", "patch", "list", "watch"]
- apiGroups: ["extensions"]
  resources: ["ingresses"]
  verbs: ["create", "delete", "get", "patch", "list", "watch"]
- apiGroups: ["networking.k8s.io"]
  resources: ["ingresses"]
  verbs: ["get", "create", "delete", "patch", "list", "watch"]
- apiGroups: ["networking.k8s.io"]
  resources: ["ingresses/status"]
  verbs: ["update", "list", "watch"]
- apiGroups: ["networking.k8s.io"]
  resources: ["networkpolicies"]
  verbs: ["create", "delete", "get", "patch", "list", "watch"]
- apiGroups: ["rbac.authorization.k8s.io"]
  resources: ["rolebindings"]
  verbs: ["create", "delete", "get", "patch", "list", "watch"]
- apiGroups: ["authentication.k8s.io"]
  resources: ["tokenreviews"]
  verbs: ["create", "delete", "list", "watch"]
- apiGroups: ["authorization.k8s.io"]
  resources: ["subjectaccessreviews"]
  verbs: ["create", "delete", "list", "watch"]
- apiGroups: ["policy"]
  resources: ["poddisruptionbudgets"]
  verbs: ["create", "delete", "get", "list", "patch", "watch"]
{{- if $useClusterRoles }}
# permissions for "nonResourceURLs" can only be applied on ClusterRoles
- nonResourceURLs: ["/metrics"]
  verbs: ["get"]
{{- end }}
{{- if $.Values.houston.config.deployments }}
{{- if $.Values.houston.config.deployments.helm }}
{{- if $.Values.houston.config.deployments.helm.airflow }}
{{- if $.Values.houston.config.deployments.helm.airflow.multiNamespaceMode }}
# Commander creates ClusterRoles and ClusterRoleBindings only if user enables multiNamespaceMode on the Airflow Helm Chart
# However, commander will only create ClusterRole and ClusterRoleBinding resources if the multinamespaceMode is enabled
# in an Airflow helm deployment.
# Helm doesn't allow to check if values and sub-values are defined in a "clean" way, we have to do this cascading IF statements
- apiGroups: ["rbac.authorization.k8s.io"]
  resources: ["clusterroles"]
  verbs: ["create", "delete", "get", "patch", "list", "watch", "escalate", "bind"]
- apiGroups: ["rbac.authorization.k8s.io"]
  resources: ["clusterrolebindings"]
  verbs: ["create", "delete", "get", "patch", "list", "watch"]
{{- end }}
{{- end }}
{{- end }}
{{- end }}
# Only grant OpenShift permissions if using cluster Roles.
# Commander needs Cluster-level permissions to manage SecurityContextConstraints
{{- if and $useClusterRoles $.Values.global.sccEnabled }}
- apiGroups: ["security.openshift.io"]
  resources: ["securitycontextconstraints"]
  verbs: ["create", "delete", "get", "patch", "list", "watch"]
{{ end }}
{{ end }}
{{- end }}

# If users run Openshift, and are using namespace pools, we also need to provide commander
# with CLUSTER permissions for the SecurityContextConstraints resource from Openshift.
{{- if and .Values.global.rbacEnabled .Values.global.sccEnabled (not $useClusterRoles) }}
---
kind: ClusterRole
apiVersion: {{ template "apiVersion.rbac" . }}
metadata:
  name: {{ $.Release.Name }}-commander-scc
  labels:
    tier: houston
    release: {{ $.Release.Name }}
    chart: "{{ $.Chart.Name }}-{{ $.Chart.Version }}"
    heritage: {{ $.Release.Service }}
  {{- if $.Values.global.enableArgoCDAnnotation }}
  annotations:
    argocd.argoproj.io/sync-wave: "-1"
  {{- end }}
rules:
- apiGroups: ["security.openshift.io"]
  resources: ["securitycontextconstraints"]
  verbs: ["create", "delete", "get", "patch", "list", "watch"]
{{- end }}
