################################
## Astronomer Commander RoleBinding
#################################
{{- $singleNamespace := .Values.global.singleNamespace }}
{{- if and .Values.global.rbacEnabled }}
apiVersion: {{ template "apiVersion.rbac" . }}
kind: {{ if $singleNamespace }}RoleBinding{{ else }}ClusterRoleBinding{{ end }}
metadata:
  name: {{ .Release.Name }}-commander
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: {{ if $singleNamespace }}Role{{ else }}ClusterRole{{ end }}
  name: {{ .Release.Name }}-commander
subjects:
  - kind: ServiceAccount
    name: {{ .Release.Name }}-commander
    namespace: {{ .Release.Namespace }}
{{- end }}
