################################
## Astronomer Commander RoleBinding
#################################
{{- $singleNamespace := .Values.global.singleNamespace }}
{{- if and .Values.global.rbacEnabled }}
apiVersion: {{ template "apiVersion.rbac.v1beta1" . }}
kind: {{ if $singleNamespace }}RoleBinding{{ else }}ClusterRoleBinding{{ end }}
metadata:
  name: {{ .Release.Name }}-commander
  {{ if .Values.global.enableArgoCDAnnotation }}
  annotations:
    argocd.argoproj.io/sync-wave: "-1"
  {{- end }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: {{ if $singleNamespace }}Role{{ else }}ClusterRole{{ end }}
  name: {{ .Release.Name }}-commander
subjects:
  - kind: ServiceAccount
    name: {{ .Release.Name }}-commander
    namespace: {{ .Release.Namespace }}
{{- end }}
