################################
## Commander NetworkPolicy
#################################
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ .Release.Name }}-commander-policy
  labels:
    tier: astronomer
    component: commander-policy
    release: {{ .Release.Name }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    heritage: {{ .Release.Service }}
  {{ if .Values.global.enableArgoCDAnnotation }}
  annotations:
    argocd.argoproj.io/sync-wave: "-1"
  {{- end }}
spec:
  podSelector:
    matchLabels:
      tier: astronomer
      component: commander
      release: {{ .Release.Name }}
  policyTypes:
  - Ingress
  ingress:
  - from:
    - podSelector:
        matchLabels:
          tier: astronomer
          release: {{ .Release.Name }}
          component: houston-db-migrations
    - podSelector:
        matchLabels:
          tier: astronomer
          release: {{ .Release.Name }}
          component: houston-upgrader
    - podSelector:
        matchLabels:
          tier: astronomer
          release: {{ .Release.Name }}
          component: houston-update-check
    - podSelector:
        matchLabels:
          tier: astronomer
          release: {{ .Release.Name }}
          component: houston-update-airflow-check
    - podSelector:
        matchLabels:
          tier: astronomer
          release: {{ .Release.Name }}
          component: houston-expire-deployments
    - podSelector:
        matchLabels:
          tier: astronomer
          release: {{ .Release.Name }}
          component: houston
    - podSelector:
        matchLabels:
          tier: astronomer
          release: {{ .Release.Name }}
          component: houston-worker
    - podSelector:
        matchLabels:
          tier: astronomer
          release: {{ .Release.Name }}
          component: houston-cleanup
    ports:
    - protocol: TCP
      port: {{ .Values.ports.commanderGRPC }}
