################################
## Astronomer Commander Deployment
#################################
kind: Deployment
apiVersion: apps/v1
metadata:
  name: {{ .Release.Name }}-commander
  labels:
    component: commander
    tier: astronomer
    release: {{ .Release.Name }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    heritage: {{ .Release.Service }}
  {{ if .Values.global.enableArgoCDAnnotation }}
  annotations:
    argocd.argoproj.io/sync-wave: "-1"
  {{- end }}
spec:
  replicas: {{ .Values.commander.replicas }}
  selector:
    matchLabels:
      component: commander
      tier: astronomer
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        component: commander
        tier: astronomer
        release: {{ .Release.Name }}
      annotations:
        checksum/airflow-chart-version: {{ .Values.airflowChartVersion | sha256sum }}
    spec:
      nodeSelector:
{{ toYaml (default .Values.global.platformNodePool.nodeSelector .Values.nodeSelector) | indent 8 }}
      affinity:
{{ toYaml (default .Values.global.platformNodePool.affinity .Values.affinity) | indent 8 }}
      tolerations:
{{ toYaml (default .Values.global.platformNodePool.tolerations .Values.tolerations) | indent 8 }}
      serviceAccountName: {{ .Release.Name }}-commander
      restartPolicy: Always
      securityContext:
        runAsUser: {{ .Values.uid }}
      containers:
        - name: commander
          image: {{ template "commander.image" . }}
          imagePullPolicy: {{ .Values.images.commander.pullPolicy }}
          resources:
{{ toYaml .Values.commander.resources | indent 12 }}
          ports:
            - name: commander-http
              containerPort: {{ .Values.ports.commanderHTTP }}
            - name: commander-grpc
              containerPort: {{ .Values.ports.commanderGRPC }}
          livenessProbe:
            failureThreshold: 5
            httpGet:
              path: /healthz
              port: {{ .Values.ports.commanderHTTP }}
              scheme: HTTP
            initialDelaySeconds: 10
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 5
          readinessProbe:
            httpGet:
              path: /healthz
              port: {{ .Values.ports.commanderHTTP }}
            initialDelaySeconds: 10
            periodSeconds: 10
          env:
            {{- range $i, $config := .Values.commander.env }}
            - name: {{ $config.name }}
              value: {{ $config.value | quote }}
            {{- end }}
            - name: COMMANDER_HTTP_PORT
              value: "8880"
            - name: COMMANDER_GRPC_PORT
              value: "50051"
            - name: COMMANDER_PLATFORM_NAMESPACE
              value: {{ .Release.Namespace }}
            - name: COMMANDER_PLATFORM_RELEASE
              value: {{ .Release.Name }}
            - name: COMMANDER_HELM_REPO
              value: {{ .Values.global.helmRepo }}
            - name: HELM_HOST
              value: {{ .Values.global.helmHost }}
