###############################
## Astronomer ServiceAccount ##
###############################
{{- if and .Values.commander.serviceAccount.create .Values.global.rbacEnabled }}
kind: ServiceAccount
apiVersion: v1
metadata:
  name: {{ template "commander.serviceAccountName" . }}
  labels:
    tier: astronomer
    release: {{ .Release.Name }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    heritage: {{ .Release.Service }}
  annotations:
    {{- with .Values.commander.serviceAccount.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
    {{ if .Values.global.enableArgoCDAnnotation }}
    argocd.argoproj.io/sync-wave: "-1"
    {{- end }}
{{- end }}
