################################
## Astronomer Commander Deployment
#################################
kind: Deployment
apiVersion: apps/v1beta2
metadata:
  name: {{ .Release.Name }}-commander
  labels:
    component: commander
    tier: astronomer
    release: {{ .Release.Name }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    heritage: {{ .Release.Service }}
spec:
  replicas: 1
  selector:
    matchLabels:
      component: commander
      tier: astronomer
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        component: commander
        tier: astronomer
        release: {{ .Release.Name }}
    spec:
      serviceAccountName: {{ .Release.Name }}-commander
      restartPolicy: Always
      securityContext:
        runAsUser: {{ .Values.uid }}
      containers:
        - name: {{ .Release.Name }}-commander
          image: {{- include "commander_image" . | indent 1 }}
          imagePullPolicy: {{ .Values.images.commander.pullPolicy }}
          resources:
{{ toYaml .Values.commander.resources | indent 12 }}
          ports:
            - name: commander-http
              containerPort: {{ .Values.ports.commanderHTTP }}
            - name: commander-grpc
              containerPort: {{ .Values.ports.commanderGRPC }}
          livenessProbe:
            httpGet:
              path: /healthz
              port: {{ .Values.ports.commanderHTTP }}
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /healthz
              port: {{ .Values.ports.commanderHTTP }}
            initialDelaySeconds: 10
            periodSeconds: 10
          env:
            {{- range $i, $config := .Values.commander.env }}
            - name: {{ $config.name }}
              value: {{ $config.value | quote }}
            {{- end }}
            - name: COMMANDER_HTTP_PORT
              value: "8880"
            - name: COMMANDER_GRPC_PORT
              value: "50051"
            - name: COMMANDER_PLATFORM_NAMESPACE
              value: {{ .Release.Namespace }}
            - name: COMMANDER_PLATFORM_RELEASE
              value: {{ .Release.Name }}
            - name: COMMANDER_HELM_REPO
              value: {{ .Values.global.helmRepo }}
            - name: HELM_HOST
              value: {{ .Values.global.helmHost }}
