################################
## Astronomer Commander Service
#################################
kind: Service
apiVersion: v1
metadata:
  name: {{ .Release.Name }}-commander
  labels:
    component: commander
    tier: astronomer
    release: {{ .Release.Name }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    heritage: {{ .Release.Service }}
  {{ if .Values.global.enableArgoCDAnnotation }}
  annotations:
    argocd.argoproj.io/sync-wave: "-1"
  {{- end }}
spec:
  type: ClusterIP
  selector:
    component: commander
    tier: astronomer
    release: {{ .Release.Name }}
  ports:
    - name: commander-http
      protocol: TCP
      port: {{ .Values.ports.commanderHTTP }}
      targetPort: {{ .Values.ports.commanderHTTP }}
    - name: commander-grpc
      protocol: TCP
      port: {{ .Values.ports.commanderGRPC }}
      targetPort: {{ .Values.ports.commanderGRPC }}
