prometheus-node-exporter:
  service:
    type: ClusterIP
    port: 9100
    targetPort: 9100
    # By default, the prometheus annotation is on the service,
    # but I do not think this is the intended configuration.
    # https://github.com/helm/charts/issues/20736
    annotations: {}
  podAnnotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "9100"
  image:
    repository: astronomerinc/ap-node-exporter
    tag: 0.18.1
