#####################################
## NGINX Data Plane ServiceAccount ##
#####################################
{{- if and .Values.serviceAccount.create .Values.global.rbacEnabled }}
{{- if eq .Values.global.plane.mode "data" }}
kind: ServiceAccount
apiVersion: v1
automountServiceAccountToken: {{ .Values.serviceAccount.automountServiceAccountToken }}
metadata:
  name: {{ template "nginx.serviceAccountName" . }}-dp
  labels:
    tier: nginx
    chart: {{ template "nginx.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
  annotations:
  {{- with .Values.serviceAccount.annotations }}
    {{- toYaml . | nindent 4 }}
  {{- end }}
{{- end }}
{{- end }}
