##########################################
## NGINX Data Plane Config Role Binding ##
##########################################
{{- if .Values.global.rbacEnabled }}
{{- if eq .Values.global.plane.mode "data" }}
kind: RoleBinding
apiVersion: {{ template "apiVersion.rbac" . }}
metadata:
  name: {{ .Release.Name }}-dp-{{ template "nginx.name" . }}-config
  labels:
    tier: {{ template "nginx.name" . }}
    chart: {{ template "nginx.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
    plane: {{ .Values.global.plane.mode }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ .Release.Name }}-dp-{{ template "nginx.name" . }}-config
subjects:
  - kind: ServiceAccount
    name: {{ template "nginx.serviceAccountName" . }}
    namespace: {{ .Release.Namespace }}
{{- end }}
{{- end }}
