################################
## Elasticsearch Client NetworkPolicy
#################################
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ template "elasticsearch.fullname" . }}-client-policy
  labels:
    tier: logging
    component: {{ template "elasticsearch.name" . }}
    chart: {{ template "elasticsearch.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
    role: client
spec:
  podSelector:
    matchLabels:
      tier: logging
      component: {{ template "elasticsearch.name" . }}
      release: {{ .Release.Name }}
      role: client
  policyTypes:
  - Ingress
  ingress:
  - from:
    - namespaceSelector: {}
    - podSelector:
        matchLabels:
          tier: astronomer
          component: houston
          release: {{ .Release.Name }}
    - podSelector:
        matchLabels:
          tier: logging
          component: fluentd
          release: {{ .Release.Name }}
    - podSelector:
        matchLabels:
          tier: logging
          component: kibana
          release: {{ .Release.Name }}
    - podSelector:
        matchLabels:
          tier: logging
          component: {{ template "elasticsearch.name" . }}
          release: {{ .Release.Name }}
    - podSelector:
        matchLabels:
          tier: logging
          component: {{ template "elasticsearch.name" . }}-exporter
          release: {{ .Release.Name }}
    - podSelector:
        matchLabels:
          tier: airflow
          component: webserver
    ports:
    - protocol: TCP
      port: {{ .Values.common.ports.http }}
    - protocol: TCP
      port: {{ .Values.common.ports.transport }}
