##################################
## Elasticsearch Client Service ##
##################################
apiVersion: v1
kind: Service
metadata:
  name: {{ template "elasticsearch.fullname" . }}
  labels:
    tier: logging
    component: {{ template "elasticsearch.name" . }}
    chart: {{ template "elasticsearch.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
    role: client
spec:
  type: {{ .Values.common.serviceType }}
  selector:
    component: {{ template "elasticsearch.name" . }}
    release: {{ .Release.Name }}
    role: client
  ports:
  - name: http
    port: {{ .Values.common.ports.http }}
    targetPort: {{ .Values.common.ports.http }}
    protocol: TCP
    appProtocol: http
  - name: transport
    port: {{ .Values.common.ports.transport }}
    targetPort: {{ .Values.common.ports.transport }}
    protocol: TCP
    appProtocol: tcp
