#####################################
## Elasticsearch Client NetworkPolicy
#####################################
{{- if .Values.global.networkPolicy.enabled }}
{{- if or (eq .Values.global.plane.mode "data") (eq .Values.global.plane.mode "unified") }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ template "elasticsearch.fullname" . }}-client-policy
  labels:
    tier: logging
    component: {{ template "elasticsearch.name" . }}
    chart: {{ template "elasticsearch.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
    role: client
    plane: {{ .Values.global.plane.mode }}
spec:
  podSelector:
    matchLabels:
      tier: logging
      component: {{ template "elasticsearch.name" . }}
      release: {{ .Release.Name }}
      role: client
  policyTypes:
  - Ingress
  ingress:
  - from:
    {{- if (eq .Values.global.plane.mode "data") }}
    {{- if .Values.global.authSidecar.enabled }}
    - namespaceSelector:
        matchLabels:
          network.openshift.io/policy-group: ingress
    {{- if .Values.global.authSidecar.ingressAllowedNamespaces }}
    - namespaceSelector:
        matchExpressions:
        - key: kubernetes.io/metadata.name
          operator: In
          values: {{ .Values.global.authSidecar.ingressAllowedNamespaces | toJson }}
    {{- end }}
    {{- else }}
    - podSelector:
        matchLabels:
          tier: nginx
          component: dp-ingress-controller
          release: {{ .Release.Name }}
    {{- end }}
    {{- end }}
    {{- if (eq .Values.global.plane.mode "unified") }}
    - podSelector:
        matchLabels:
          tier: astronomer
          component: houston
          release: {{ .Release.Name }}
    {{- end }}
    - podSelector:
        matchLabels:
          tier: logging
          component: vector
          release: {{ .Release.Name }}
    - podSelector:
        matchLabels:
          tier: logging
          component: kibana
          release: {{ .Release.Name }}
    - podSelector:
        matchLabels:
          tier: logging
          component: {{ template "elasticsearch.name" . }}
          release: {{ .Release.Name }}
    - podSelector:
        matchLabels:
          tier: logging
          component: {{ template "elasticsearch.name" . }}-exporter
          release: {{ .Release.Name }}
    - podSelector:
        matchLabels:
          tier: elasticsearch
          component: es-ingress-controller
          release: {{ .Release.Name }}
    ports:
    - protocol: TCP
      port: {{ .Values.common.ports.http }}
    - protocol: TCP
      port: {{ .Values.common.ports.transport }}
{{- end }}
{{- end }}
