################################
## Elasticsearch Client Deployment
#################################
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "fullname" . }}-client
  labels:
    tier: logging
    component: {{ template "name" . }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
    role: client
spec:
  replicas: {{ .Values.client.replicas }}
  selector:
    matchLabels:
      tier: logging
      component: {{ template "name" . }}
      release: {{ .Release.Name }}
      role: client
  template:
    metadata:
      labels:
        tier: logging
        component: {{ template "name" . }}
        release: {{ .Release.Name }}
        role: client
    spec:
      {{- if eq .Values.client.antiAffinity "hard" }}
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - topologyKey: "kubernetes.io/hostname"
              labelSelector:
                matchLabels:
                  component: {{ template "name" . }}
                  release: {{ .Release.Name }}
                  role: client
      {{- else if eq .Values.client.antiAffinity "soft" }}
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 1
            podAffinityTerm:
              topologyKey: "kubernetes.io/hostname"
              labelSelector:
                matchLabels:
                  component: {{ template "name" . }}
                  release: {{ .Release.Name }}
                  role: client
      {{- end }}
      initContainers:
      - name: init-sysctl
        image: {{ template "init.image" . }}
        imagePullPolicy: {{ .Values.images.init.pullPolicy }}
        command: ["sysctl", "-w", "vm.max_map_count=262144"]
        securityContext:
          privileged: true
      containers:
      - name: es-client
        securityContext:
          privileged: false
          capabilities:
            add:
              - IPC_LOCK
              - SYS_RESOURCE
        image: {{ template "elasticsearch.image" . }}
        imagePullPolicy: {{ .Values.images.es.pullPolicy }}
        env:
        - name: NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: NODE_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: DISCOVERY_SERVICE
          value: {{ template "fullname" . }}-discovery
        {{- range $key, $value :=  .Values.common.env }}
        - name: {{ $key | upper | replace "-" "_" }}
          value: {{ $value | quote }}
        {{- end }}
        {{- range $key, $value :=  .Values.client.env }}
        - name: {{ $key | upper | replace "-" "_" }}
          value: {{ $value | quote }}
        {{- end }}
        - name: "ES_JAVA_OPTS"
          value: "-Xms{{ .Values.client.heapMemory }} -Xmx{{ .Values.client.heapMemory }}"
        resources:
{{ toYaml .Values.client.resources | indent 10 }}
        ports:
        - containerPort: {{ .Values.common.ports.http }}
          name: http
          protocol: TCP
        - containerPort: {{ .Values.common.ports.transport }}
          name: transport
          protocol: TCP
        livenessProbe:
          tcpSocket:
            port: {{ .Values.common.ports.transport }}
        readinessProbe:
          httpGet:
            path: /_cluster/health
            port: {{ .Values.common.ports.http }}
          initialDelaySeconds: 20
          timeoutSeconds: 5
        volumeMounts:
        - name: storage
          mountPath: /data
      volumes:
          - emptyDir:
              medium: ""
            name: "storage"
