#####################################
## Elasticsearch Master NetworkPolicy
#####################################
{{- if and .Values.global.networkPolicy.enabled }}
{{- if or (eq .Values.global.plane.mode "data") (eq .Values.global.plane.mode "unified") }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ template "elasticsearch.fullname" . }}-master-policy
  labels:
    tier: logging
    component: {{ template "elasticsearch.name" . }}-master-policy
    release: {{ .Release.Name }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    heritage: {{ .Release.Service }}
    plane: {{ .Values.global.plane.mode }}
spec:
  podSelector:
    matchLabels:
      tier: logging
      component: {{ template "elasticsearch.name" . }}
      release: {{ .Release.Name }}
      role: master
  policyTypes:
  - Ingress
  ingress:
  - from:
    - podSelector:
        matchLabels:
          tier: logging
          component: {{ template "elasticsearch.name" . }}
          release: {{ .Release.Name }}
    ports:
    - protocol: TCP
      port: {{ .Values.common.ports.transport }}
{{- end }}
{{- end }}
