##################################
## Elasticsearch Master Service ##
##################################
{{- if or (eq .Values.global.plane.mode "data") (eq .Values.global.plane.mode "unified") }}
apiVersion: v1
kind: Service
metadata:
  name: {{ template "elasticsearch.fullname" . }}-headless-discovery
  labels:
    tier: logging
    component: {{ template "elasticsearch.name" . }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
    role: master
    plane: {{ .Values.global.plane.mode }}
spec:
  clusterIP: None
  publishNotReadyAddresses: true
  selector:
    component: {{ template "elasticsearch.name" . }}
    release: {{ .Release.Name }}
    role: master
  ports:
  - name: transport
    port: {{ .Values.common.ports.transport }}
    protocol: TCP
    appProtocol: tcp
{{- end }}
