{{- if .Values.global.prometheusPostgresExporterEnabled -}}
{{- if and .Values.config.datasource.passwordSecret .Values.config.datasource.password -}}
{{ fail (printf "ERROR: only one of .Values.config.datasource.passwordSecret and .Values.config.datasource.password must be defined") }}
{{- end -}}
{{- if and .Values.config.datasource.connectionSecret (or .Values.config.datasource.passwordSecret .Values.config.datasource.password) -}}
{{ fail (printf "ERROR: when .Values.config.datasource.connectionSecret is specified, .Values.config.datasource.passwordSecret and .Values.config.datasource.password must not be defined") }}
{{- end -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "prometheus-postgres-exporter.fullname" . }}
  labels:
    app: {{ template "prometheus-postgres-exporter.name" . }}
    chart: {{ template "prometheus-postgres-exporter.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ template "prometheus-postgres-exporter.name" . }}
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        tier: monitoring
        app: {{ template "prometheus-postgres-exporter.name" . }}
        version: {{ .Chart.Version }}
        release: {{ .Release.Name }}
        component: prometheus-postgres-exporter
        {{- include "global.podLabels" . | nindent 8 }}
{{- if .Values.podLabels }}
{{ toYaml .Values.podLabels | trim | indent 8 }}
{{- end }}
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
{{- if .Values.global.podAnnotations }}
{{ toYaml .Values.global.podAnnotations | indent 8 }}
{{- end }}
{{- if .Values.podannotations }}
{{ toYaml .Values.podannotations | indent 8 }}
{{- end }}
    spec:
      nodeSelector: {{ toYaml (default .Values.global.platformNodePool.nodeSelector .Values.nodeSelector) | nindent 8 }}
      affinity: {{ toYaml (default .Values.global.platformNodePool.affinity .Values.affinity) | nindent 8 }}
      tolerations: {{ toYaml (default .Values.global.platformNodePool.tolerations .Values.tolerations) | nindent 8 }}
      serviceAccountName: {{ template "prometheus-postgres-exporter.serviceAccountName" . }}
{{- include "prometheus-postgres-exporter.imagePullSecrets" . | indent 6 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext: {{ toYaml .Values.securityContext| nindent 12 }}
          args:
          - "--extend.query-path=/etc/config.yaml"
          {{- if .Values.config.disableDefaultMetrics }}
          - "--disable-default-metrics"
          {{- end }}
          {{- if .Values.config.disableSettingsMetrics }}
          - "--disable-settings-metrics"
          {{- end }}
          {{- if .Values.config.autoDiscoverDatabases }}
          - "--auto-discover-databases"
          {{- if .Values.config.excludeDatabases }}
          - "--exclude-databases"
          - {{ .Values.config.excludeDatabases | join "," }}
          {{- end }}
          {{- end }}
          env:
          {{- if eq .Values.config.datasource.sslmode "disable" }}
          - name: SSL_MODE_OFF
            value: "1"
          {{- end }}
          {{- if .Values.config.datasource.connectionSecret }}
          - name: DATA_SOURCE_NAME
            valueFrom:
              secretKeyRef:
                name: {{ .Values.config.datasource.connectionSecret.name }}
                key: {{ .Values.config.datasource.connectionSecret.key }}
          {{- else }}
          - name: DATA_SOURCE_URI
            value: {{ template "prometheus-postgres-exporter.data_source_uri" . }}
          - name: DATA_SOURCE_USER
            value: {{ .Values.config.datasource.user }}
          - name: DATA_SOURCE_PASS
            valueFrom:
              secretKeyRef:
          {{- if .Values.config.datasource.passwordSecret }}
                name: {{ .Values.config.datasource.passwordSecret.name }}
                key: {{ .Values.config.datasource.passwordSecret.key }}
          {{- else }}
                name: {{ template "prometheus-postgres-exporter.fullname" . }}
                key: data_source_password
          {{- end }}
          {{- end }}
          image: {{ include "prometheus-postgres-exporter.image" . }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: {{ .Values.service.name }}
              containerPort: {{ .Values.service.targetPort }}
              protocol: TCP
          {{ if .Values.livenessProbe }}
          livenessProbe: {{ tpl (toYaml .Values.livenessProbe) . | nindent 12 }}
          {{ else }}
          livenessProbe:
            tcpSocket:
              port: {{ .Values.service.targetPort }}
            initialDelaySeconds: 5
            periodSeconds: 10
          {{- end }}
          {{ if .Values.readinessProbe }}
          readinessProbe: {{ tpl (toYaml .Values.readinessProbe) . | nindent 12 }}
          {{ else }}
          readinessProbe:
            tcpSocket:
              port: {{ .Values.service.targetPort }}
            initialDelaySeconds: 5
            periodSeconds: 10
          {{- end }}
          resources: {{ toYaml .Values.resources | nindent 12 }}
          volumeMounts:
            - name: queries
              mountPath: /etc/config.yaml
              subPath: config.yaml
{{- with .Values.extraContainers }}
{{ tpl . $ | indent 8 }}
{{- end }}
      securityContext:
{{ toYaml .Values.podSecurityContext | indent 8 }}
     {{- with .Values.nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.affinity }}
      affinity:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
{{ toYaml . | indent 8 }}
    {{- end }}
      volumes:
      - configMap:
          defaultMode: 420
          name: {{ template "prometheus-postgres-exporter.fullname" . }}
        name: queries
{{- with .Values.extraVolumes }}
{{ tpl . $ | indent 6 }}
{{- end }}
{{- end }}
