########################################################
## Prometheus Postgres Exporter Pod Disruption Budget ##
########################################################
{{- if .Values.global.podDisruptionBudgetsEnabled }}
apiVersion: {{ include "apiVersion.PodDisruptionBudget" . }}
kind: PodDisruptionBudget
metadata:
  name: {{ template "prometheus-postgres-exporter.fullname" . }}
spec:
  maxUnavailable: 1
  selector:
    matchLabels:
      app: {{ template "prometheus-postgres-exporter.name" . }}
      release: {{ .Release.Name }}
{{- end }}
