##########################
## NGINX ServiceAccount ##
##########################
{{- if and .Values.astroUI.serviceAccount.create .Values.global.rbacEnabled }}
{{- if or (eq .Values.global.plane.mode "control") (eq .Values.global.plane.mode "unified") }}
kind: ServiceAccount
apiVersion: v1
automountServiceAccountToken: {{ .Values.astroUI.serviceAccount.automountServiceAccountToken }}
metadata:
  name: {{ template "astroUI.serviceAccountName" . }}
  labels:
    component: astro-ui
    tier: astronomer
    release: {{ .Release.Name }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    heritage: {{ .Release.Service }}
    plane: {{ .Values.global.plane.mode }}
  annotations:
  {{- with .Values.astroUI.serviceAccount.annotations }}
    {{- toYaml . | nindent 4 }}
  {{- end }}
{{- end }}
{{- end }}
