#################################
## Astronomer UI NetworkPolicy ##
#################################
{{- if .Values.global.networkPolicy.enabled }}
{{- if or (eq .Values.global.plane.mode "control") (eq .Values.global.plane.mode "unified") }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ .Release.Name }}-astro-ui-policy
  labels:
    tier: astronomer
    component: astro-ui-policy
    release: {{ .Release.Name }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    heritage: {{ .Release.Service }}
    plane: {{ .Values.global.plane.mode }}
spec:
  podSelector:
    matchLabels:
      tier: astronomer
      component: astro-ui
      release: {{ .Release.Name }}
  policyTypes:
  - Ingress
  ingress:
  - from:
    {{- if .Values.global.authSidecar.enabled  }}
    - namespaceSelector:
        matchLabels:
          network.openshift.io/policy-group: ingress
    {{- if .Values.global.authSidecar.ingressAllowedNamespaces }}
    - namespaceSelector:
        matchExpressions:
        - key: kubernetes.io/metadata.name
          operator: In
          values: {{ .Values.global.authSidecar.ingressAllowedNamespaces | toJson }}
    {{- end }}
    {{- else }}
    - podSelector:
        matchLabels:
          tier: nginx
          component: cp-ingress-controller
    {{- end }}
    ports:
    - protocol: TCP
      port: {{ .Values.ports.astroUIHTTP }}
{{- end }}
{{- end }}
