##############################
## Astronomer UI Deployment ##
##############################
kind: Deployment
apiVersion: apps/v1
metadata:
  name: {{ .Release.Name }}-astro-ui
  labels:
    component: astro-ui
    tier: astronomer
    release: {{ .Release.Name }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    heritage: {{ .Release.Service }}
spec:
  replicas: {{ .Values.astroUI.replicas }}
  selector:
    matchLabels:
      component: astro-ui
      tier: astronomer
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        component: astro-ui
        tier: astronomer
        release: {{ .Release.Name }}
        app: astro-ui
        version: {{ .Chart.Version }}
        {{- include "global.podLabels" . | nindent 8 }}
      annotations:
{{- if .Values.global.podAnnotations }}
{{ toYaml .Values.global.podAnnotations | indent 8 }}
{{- end }}
{{- if .Values.astroUI.podAnnotations }}
{{ toYaml .Values.astroUI.podAnnotations | indent 8 }}
{{- end }}
    spec:
      serviceAccountName: {{ template "astroUI.serviceAccountName" . }}
      securityContext: {{ toYaml (.Values.astroUI.podSecurityContext) | nindent 8 }}
      nodeSelector:
{{ toYaml (default .Values.global.platformNodePool.nodeSelector .Values.nodeSelector) | indent 8 }}
      affinity:
{{ toYaml (default .Values.global.platformNodePool.affinity .Values.affinity) | indent 8 }}
      tolerations:
{{ toYaml (default .Values.global.platformNodePool.tolerations .Values.tolerations) | indent 8 }}
      restartPolicy: Always
{{- include "astronomer.imagePullSecrets" . | indent 6 }}
      containers:
        - name: astro-ui
          image: {{- include "astroUI.image" . | indent 1 }}
          imagePullPolicy: {{ .Values.images.astroUI.pullPolicy }}
          securityContext: {{ toYaml (.Values.securityContext)| nindent 12 }}
          resources:
{{ toYaml .Values.astroUI.resources | indent 12 }}
          {{- if .Values.astroUI.command }}
          command:
            {{- toYaml .Values.astroUI.command | nindent 12 }}
          {{- end }}
          {{- if .Values.astroUI.args }}
          args:
            {{- toYaml .Values.astroUI.args | nindent 12 }}
          {{- end }}
          ports:
            - name: astro-ui-http
              containerPort: {{ .Values.ports.astroUIHTTP }}
          {{- if .Values.astroUI.livenessProbe }}
          livenessProbe: {{ tpl (toYaml .Values.astroUI.livenessProbe) . | nindent 12 }}
          {{- else}}
          livenessProbe:
            httpGet:
              path: /
              port: {{ .Values.ports.astroUIHTTP }}
            initialDelaySeconds: 10
            periodSeconds: 10
          {{- end }}
          {{- if .Values.astroUI.readinessProbe }}
          readinessProbe: {{ tpl (toYaml .Values.astroUI.readinessProbe) . | nindent 12 }}
          {{- else}}
          readinessProbe:
            httpGet:
              path: /
              port: {{ .Values.ports.astroUIHTTP }}
            initialDelaySeconds: 10
            periodSeconds: 10
          {{- end }}
          env:
            {{- range $i, $config := .Values.astroUI.env }}
            - name: {{ $config.name }}
              value: {{ $config.value | quote }}
            {{- end }}
            {{- if .Values.global.baseDomain }}
            - name: APP_API_LOC_HTTPS
              value: "https://houston.{{ .Values.global.baseDomain }}/v1"
            - name: APP_API_LOC_WSS
              value: "wss://houston.{{ .Values.global.baseDomain }}/ws"
            {{- end }}
          volumeMounts:
{{- if .Values.astroUI.volumeMounts }}
{{- tpl (toYaml .Values.astroUI.volumeMounts) $ | nindent 12 }}
{{- end }}
{{- if .Values.astroUI.extraContainers }}
{{- tpl (toYaml .Values.astroUI.extraContainers) $ | nindent 8 }}
{{- end }}
      volumes:
{{- if .Values.astroUI.extraVolumes }}
{{- tpl (toYaml .Values.astroUI.extraVolumes) $ | nindent 8 }}
{{- end }}
